backup/2025/08/2wKiwBmcWpDiT4bB.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-19T11:00:42.653Z",
    "createdAt": "2026-01-19T11:00:42.653Z",
    "versionId": "69f0a0fe-7bda-4114-b5f2-edd63aeaaeab",
    "workflowId": "2wKiwBmcWpDiT4bB",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1104,
          -208
        ],
        "id": "dd2dd2f1-05c7-42d3-8b8d-689c1fe491b3",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "085e32d1-4800-4cdc-b340-ad7bba3e30a8",
                "leftValue": "={{ $json.correo.toLowerCase() }}",
                "rightValue": "*8818",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "5c6d7758-0d42-40e5-8c43-9b332d701791",
                "leftValue": "={{ $json.correo.toLowerCase() }}",
                "rightValue": "recibiste",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -896,
          -208
        ],
        "id": "80ddbafe-f5e8-416e-9162-e036b7c46687",
        "name": "If"
      },
      {
        "parameters": {
          "text": "={{ $json.correo }}",
          "attributes": {
            "attributes": [
              {
                "name": "valor",
                "description": "valor de la transacción en digitos limpios sin decimales ni comas",
                "required": true
              },
              {
                "name": "cliente",
                "description": "nombre del cliente",
                "required": true
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2,
        "position": [
          -640,
          -240
        ],
        "id": "e9300806-a90a-4670-8fb8-01bed2185fe5",
        "name": "Information Extractor"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -640,
          -80
        ],
        "id": "7ca887dc-af9a-4794-a5b7-0ba564e6f90d",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "nZ98FVO8dD6bJnEc",
            "name": "GPT SANTIAGO"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "=https://docs.google.com/spreadsheets/d/1sDv2vkexbHWcnR4SxVUAZW747rXFeyqKhWbldwLvrRQ/edit?gid=2042987742#gid=2042987742",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1sDv2vkexbHWcnR4SxVUAZW747rXFeyqKhWbldwLvrRQ/edit?gid=2042987742#gid=2042987742",
            "mode": "url"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "FECHA": "={{ $now.format('dd-MM-yyyy HH:mm:ss') }}",
              "NOMBRE": "={{ $json.output.cliente }}",
              "VALOR": "={{ $json.output.valor }}"
            },
            "matchingColumns": [
              "FECHA"
            ],
            "schema": [
              {
                "id": "FECHA",
                "displayName": "FECHA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "NOMBRE",
                "displayName": "NOMBRE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "VALOR",
                "displayName": "VALOR",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DIA",
                "displayName": "DIA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "HORA",
                "displayName": "HORA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -256,
          -240
        ],
        "id": "a5330550-3e0c-4fe6-acf3-66e4a7e1028d",
        "name": "Append or update row in sheet",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "notesInFlow": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zruD3ONGC9HU2i7s",
            "name": "CUENTA SANTIAGO"
          }
        },
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Information Extractor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "69f0a0fe-7bda-4114-b5f2-edd63aeaaeab",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-09T04:47:55.778Z",
  "id": "2wKiwBmcWpDiT4bB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CORREOS TRANSFERENCIAS MAGIS",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1104,
        -208
      ],
      "id": "dd2dd2f1-05c7-42d3-8b8d-689c1fe491b3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "085e32d1-4800-4cdc-b340-ad7bba3e30a8",
              "leftValue": "={{ $json.correo.toLowerCase() }}",
              "rightValue": "*8818",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5c6d7758-0d42-40e5-8c43-9b332d701791",
              "leftValue": "={{ $json.correo.toLowerCase() }}",
              "rightValue": "recibiste",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        -208
      ],
      "id": "80ddbafe-f5e8-416e-9162-e036b7c46687",
      "name": "If"
    },
    {
      "parameters": {
        "text": "={{ $json.correo }}",
        "attributes": {
          "attributes": [
            {
              "name": "valor",
              "description": "valor de la transacción en digitos limpios sin decimales ni comas",
              "required": true
            },
            {
              "name": "cliente",
              "description": "nombre del cliente",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -640,
        -240
      ],
      "id": "e9300806-a90a-4670-8fb8-01bed2185fe5",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        -80
      ],
      "id": "7ca887dc-af9a-4794-a5b7-0ba564e6f90d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nZ98FVO8dD6bJnEc",
          "name": "GPT SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1sDv2vkexbHWcnR4SxVUAZW747rXFeyqKhWbldwLvrRQ/edit?gid=2042987742#gid=2042987742",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sDv2vkexbHWcnR4SxVUAZW747rXFeyqKhWbldwLvrRQ/edit?gid=2042987742#gid=2042987742",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA": "={{ $now.format('dd-MM-yyyy HH:mm:ss') }}",
            "NOMBRE": "={{ $json.output.cliente }}",
            "VALOR": "={{ $json.output.valor }}"
          },
          "matchingColumns": [
            "FECHA"
          ],
          "schema": [
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -256,
        -240
      ],
      "id": "a5330550-3e0c-4fe6-acf3-66e4a7e1028d",
      "name": "Append or update row in sheet",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "correo": "¡Listo! Todo salió bien con tus movimientos Bancolombia: SANTIAGO, recibiste una transferencia de JAVIER ALONSO URREGO ALZATE por $19000.00 en tu producto *8818 conectado a la llave @ciro500 el 08/08/"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-09T04:47:55.789Z",
      "createdAt": "2025-08-09T04:47:55.789Z",
      "role": "workflow:owner",
      "workflowId": "2wKiwBmcWpDiT4bB",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-09T05:01:32.000Z",
  "versionId": "69f0a0fe-7bda-4114-b5f2-edd63aeaaeab"
}