backup/2025/08/4Tluu1cX58jhDcxG.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-27T19:07:35.310Z",
  "id": "4Tluu1cX58jhDcxG",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[GERSSON-L8]CUPOS VIP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -16
      ],
      "id": "6be3c71f-7852-4c21-9869-17fe424d098c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "GERSSON_L8_CUPOSVIP",
          "mode": "list",
          "cachedResultName": "GERSSON_L8_CUPOSVIP"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -336,
        -16
      ],
      "id": "1ec6d722-e847-4f4b-a2e6-c28001d0264b",
      "name": "Select rows from a table",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -128,
        -16
      ],
      "id": "9fc9933e-964e-4893-bbd5-112fdd18953b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "-1002176532359",
        "text": "=<strong>CUPO VIP GENERADO</strong> 🔥\n\nNOMBRE: {{ $json.NOMBRE }}\nCORREO: {{ $json.CORREO }}\nWHATSAPP: {{ $json.WHATSAPP }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "message_thread_id": 8373
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        48
      ],
      "id": "342ed86f-aa43-41cb-bdac-e0c3e0d6f2f0",
      "name": "Send a text message",
      "webhookId": "b35451a7-6c04-4001-b31f-172ca5937348",
      "credentials": {
        "telegramApi": {
          "id": "QruLAfRq4u80XCVX",
          "name": "BOT AGENCIA X"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        48
      ],
      "id": "66b67320-1680-4eff-b762-7aa3fa5ee7f9",
      "name": "Wait",
      "webhookId": "28ba719b-c683-4543-87a9-33e47c1a11ee"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-02T18:15:52.000Z",
  "versionId": "de1d19f6-8aeb-4bed-8ef5-78153ad71791"
}