backup/2025/08/QbxdaO2XOfXiFgPD.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-19T11:00:42.653Z",
    "createdAt": "2026-01-19T11:00:42.653Z",
    "versionId": "cfa1c66b-2aeb-4014-a461-dc28858b6d1e",
    "workflowId": "QbxdaO2XOfXiFgPD",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -656,
          32
        ],
        "id": "334ee9f2-d316-4db6-a88d-6ac128841d77",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          224,
          -64
        ],
        "id": "8bfedca6-8891-4bcb-a2ad-a2b57eecd784",
        "name": "Split Out"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 20
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -656,
          -176
        ],
        "id": "401c17e7-9dde-48b7-bdb9-8786cf2b5f47",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v22.0/act_1338498864501983/insights?access_token=EAAI0NYgS2EkBO7bcwmujq1BIC95Vy5zir6hzccIL7WSunMppEIJg9AZCyKLgT3ZC2sNTNwgEUvZB8DGYfedKBfsMZCDjzyALKyjwZBEXtgipRagRp7nCV6aWAZC8wGa14p5SPH53TrNaXss4ZCrlaaTZBFI2UkZC30VIznyx4keHBQ5Kq8vHCGZCOTqACkwB6e6f1YgPxA29YZD&fields=ad_id,ad_name,adset_name,actions,campaign_name,spend,cpm,ctr,clicks,cpc,impressions&level=ad&time_range={\"since\":\"{{$json.since}}\",\"until\":\"{{$json.until}}\"}&time_increment=1&limit=2000",
          "options": {
            "batching": {
              "batch": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -160,
          -64
        ],
        "id": "b5208971-2514-444b-9094-2ad42ad6c12b",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "date_start"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          448,
          -64
        ],
        "id": "20f83ef4-ebaf-4e21-b776-cbdd624ca11b",
        "name": "Sort"
      },
      {
        "parameters": {
          "jsCode": "const startDate = new Date(\"2025-01-01\");\n\n// Hoy\nconst now = new Date();\n\n// Primer día del mes actual (máximo para el since)\nconst maxSince = new Date(now.getFullYear(), now.getMonth(), 1);\n\n// Fecha final permitida para \"until\"\nconst finalUntil = new Date(\"2025-12-31\");\n\nconst dayInMs = 1000 * 60 * 60 * 24;\nconst range = 15;\nconst output = [];\n\nfor (let date = new Date(startDate); date <= now; date = new Date(date.getTime() + range * dayInMs)) {\n\tconst from = new Date(date);\n\tlet to = new Date(date.getTime() + (range - 1) * dayInMs);\n\n\t// Ajuste para no pasar de hoy\n\tif (to > now) {\n\t\tto = new Date(now);\n\t}\n\n\t// Ajuste para no pasar del finalUntil (opcional si quieres mantenerlo)\n\tif (to > finalUntil) {\n\t\tto = new Date(finalUntil);\n\t}\n\n\toutput.push({\n\t\tjson: {\n\t\t\tsince: from.toISOString().split(\"T\")[0],\n\t\t\tuntil: to.toISOString().split(\"T\")[0],\n\t\t}\n\t});\n}\n\nreturn output;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          -64
        ],
        "id": "81235fe1-3d9e-4134-8595-7de9bd622058",
        "name": "Code"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          448,
          -304
        ],
        "id": "d480d7c9-73de-427e-bb5f-08bd2b2d7360",
        "name": "Wait",
        "webhookId": "35db10c8-3f67-41e5-91b4-28f142786b71"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          880,
          -16
        ],
        "id": "3f4ec21a-abfd-4df1-b739-9ce45cd2d62d",
        "name": "Wait1",
        "webhookId": "fc533b2c-5cc7-4505-b146-1d1e1ab6a8b5"
      },
      {
        "parameters": {
          "operation": "clear",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1hzlOJVWJUHndUDvmXaF5pHPWU_PTvJDyIMsfOUqrMzc/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 43575324,
            "mode": "list",
            "cachedResultName": "CP4",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hzlOJVWJUHndUDvmXaF5pHPWU_PTvJDyIMsfOUqrMzc/edit#gid=43575324"
          },
          "clear": "specificRange",
          "range": "A2:K5000"
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          224,
          -336
        ],
        "id": "b7cd47c0-1247-47f1-a3cd-407fac07aeb7",
        "name": "Clear sheet",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zruD3ONGC9HU2i7s",
            "name": "CUENTA SANTIAGO"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1hzlOJVWJUHndUDvmXaF5pHPWU_PTvJDyIMsfOUqrMzc/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1hzlOJVWJUHndUDvmXaF5pHPWU_PTvJDyIMsfOUqrMzc/edit?gid=43575324#gid=43575324",
            "mode": "url"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Day": "={{ $json.date_start }}",
              "Ad ID": "={{ $json.ad_id }}",
              "Ad Name": "={{ $json.ad_name }}",
              "Amount Spent": "={{ $json.spend?.toNumber() }}",
              "Unique Link Clicks": "={{ $json.actions.find(item => item.action_type == \"link_click\").value }}",
              "CPM (Cost per 1,000 Impressions)": "={{ $json.cpm?.toNumber() }}",
              "CTR (Link Click-Through Rate)": "={{ $json.ctr?.toNumber() }}",
              "Purchases": "={{ $json.actions.find(item => item.action_type == \"purchase\").value }}",
              "Ad Set Name": "={{ $json.adset_name }}",
              "Campaign Name": "={{ $json.campaign_name }}"
            },
            "matchingColumns": [
              "AD ID"
            ],
            "schema": [
              {
                "id": "Day",
                "displayName": "Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ad ID",
                "displayName": "Ad ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ad Name",
                "displayName": "Ad Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Amount Spent",
                "displayName": "Amount Spent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Unique Link Clicks",
                "displayName": "Unique Link Clicks",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CPM (Cost per 1,000 Impressions)",
                "displayName": "CPM (Cost per 1,000 Impressions)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CTR (Link Click-Through Rate)",
                "displayName": "CTR (Link Click-Through Rate)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Account Name",
                "displayName": "Account Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Purchases",
                "displayName": "Purchases",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ad Set Name",
                "displayName": "Ad Set Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Campaign Name",
                "displayName": "Campaign Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ACTIVO",
                "displayName": "ACTIVO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          672,
          -64
        ],
        "id": "2829e4cd-685e-4164-a1aa-cbf4be2e5e28",
        "name": "Append row in sheet",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zruD3ONGC9HU2i7s",
            "name": "CUENTA SANTIAGO"
          }
        },
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            },
            {
              "node": "Clear sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Clear sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clear sheet": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "cfa1c66b-2aeb-4014-a461-dc28858b6d1e",
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-05T04:56:24.467Z",
  "id": "QbxdaO2XOfXiFgPD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[WIN+][CP4-WHA] ADVERONIX",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        32
      ],
      "id": "334ee9f2-d316-4db6-a88d-6ac128841d77",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        -64
      ],
      "id": "8bfedca6-8891-4bcb-a2ad-a2b57eecd784",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        -176
      ],
      "id": "401c17e7-9dde-48b7-bdb9-8786cf2b5f47",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/act_1338498864501983/insights?access_token=EAAI0NYgS2EkBO7bcwmujq1BIC95Vy5zir6hzccIL7WSunMppEIJg9AZCyKLgT3ZC2sNTNwgEUvZB8DGYfedKBfsMZCDjzyALKyjwZBEXtgipRagRp7nCV6aWAZC8wGa14p5SPH53TrNaXss4ZCrlaaTZBFI2UkZC30VIznyx4keHBQ5Kq8vHCGZCOTqACkwB6e6f1YgPxA29YZD&fields=ad_id,ad_name,adset_name,actions,campaign_name,spend,cpm,ctr,clicks,cpc,impressions&level=ad&time_range={\"since\":\"{{$json.since}}\",\"until\":\"{{$json.until}}\"}&time_increment=1&limit=2000",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -64
      ],
      "id": "b5208971-2514-444b-9094-2ad42ad6c12b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date_start"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        448,
        -64
      ],
      "id": "20f83ef4-ebaf-4e21-b776-cbdd624ca11b",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "const startDate = new Date(\"2025-01-01\");\n\n// Hoy\nconst now = new Date();\n\n// Primer día del mes actual (máximo para el since)\nconst maxSince = new Date(now.getFullYear(), now.getMonth(), 1);\n\n// Fecha final permitida para \"until\"\nconst finalUntil = new Date(\"2025-12-31\");\n\nconst dayInMs = 1000 * 60 * 60 * 24;\nconst range = 15;\nconst output = [];\n\nfor (let date = new Date(startDate); date <= now; date = new Date(date.getTime() + range * dayInMs)) {\n\tconst from = new Date(date);\n\tlet to = new Date(date.getTime() + (range - 1) * dayInMs);\n\n\t// Ajuste para no pasar de hoy\n\tif (to > now) {\n\t\tto = new Date(now);\n\t}\n\n\t// Ajuste para no pasar del finalUntil (opcional si quieres mantenerlo)\n\tif (to > finalUntil) {\n\t\tto = new Date(finalUntil);\n\t}\n\n\toutput.push({\n\t\tjson: {\n\t\t\tsince: from.toISOString().split(\"T\")[0],\n\t\t\tuntil: to.toISOString().split(\"T\")[0],\n\t\t}\n\t});\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -64
      ],
      "id": "81235fe1-3d9e-4134-8595-7de9bd622058",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        -304
      ],
      "id": "d480d7c9-73de-427e-bb5f-08bd2b2d7360",
      "name": "Wait",
      "webhookId": "35db10c8-3f67-41e5-91b4-28f142786b71"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        -16
      ],
      "id": "3f4ec21a-abfd-4df1-b739-9ce45cd2d62d",
      "name": "Wait1",
      "webhookId": "fc533b2c-5cc7-4505-b146-1d1e1ab6a8b5"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hzlOJVWJUHndUDvmXaF5pHPWU_PTvJDyIMsfOUqrMzc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 43575324,
          "mode": "list",
          "cachedResultName": "CP4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hzlOJVWJUHndUDvmXaF5pHPWU_PTvJDyIMsfOUqrMzc/edit#gid=43575324"
        },
        "clear": "specificRange",
        "range": "A2:K5000"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        -336
      ],
      "id": "b7cd47c0-1247-47f1-a3cd-407fac07aeb7",
      "name": "Clear sheet",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hzlOJVWJUHndUDvmXaF5pHPWU_PTvJDyIMsfOUqrMzc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hzlOJVWJUHndUDvmXaF5pHPWU_PTvJDyIMsfOUqrMzc/edit?gid=43575324#gid=43575324",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Day": "={{ $json.date_start }}",
            "Ad ID": "={{ $json.ad_id }}",
            "Ad Name": "={{ $json.ad_name }}",
            "Amount Spent": "={{ $json.spend?.toNumber() }}",
            "Unique Link Clicks": "={{ $json.actions.find(item => item.action_type == \"link_click\").value }}",
            "CPM (Cost per 1,000 Impressions)": "={{ $json.cpm?.toNumber() }}",
            "CTR (Link Click-Through Rate)": "={{ $json.ctr?.toNumber() }}",
            "Purchases": "={{ $json.actions.find(item => item.action_type == \"purchase\").value }}",
            "Ad Set Name": "={{ $json.adset_name }}",
            "Campaign Name": "={{ $json.campaign_name }}"
          },
          "matchingColumns": [
            "AD ID"
          ],
          "schema": [
            {
              "id": "Day",
              "displayName": "Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ad ID",
              "displayName": "Ad ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ad Name",
              "displayName": "Ad Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount Spent",
              "displayName": "Amount Spent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unique Link Clicks",
              "displayName": "Unique Link Clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPM (Cost per 1,000 Impressions)",
              "displayName": "CPM (Cost per 1,000 Impressions)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CTR (Link Click-Through Rate)",
              "displayName": "CTR (Link Click-Through Rate)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Account Name",
              "displayName": "Account Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Purchases",
              "displayName": "Purchases",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ad Set Name",
              "displayName": "Ad Set Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ACTIVO",
              "displayName": "ACTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        -64
      ],
      "id": "2829e4cd-685e-4164-a1aa-cbf4be2e5e28",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-05T04:56:24.474Z",
      "createdAt": "2025-08-05T04:56:24.474Z",
      "role": "workflow:owner",
      "workflowId": "QbxdaO2XOfXiFgPD",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-05T17:11:03.000Z",
  "versionId": "cfa1c66b-2aeb-4014-a461-dc28858b6d1e"
}