backup/2025/08/QSbzxulqN3kDZcQp.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T00:06:05.860Z",
  "id": "QSbzxulqN3kDZcQp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[GERSSON-L8] NOTIFICACION CUPO VIP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cupovip-gersson",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        -96
      ],
      "id": "93085182-c080-4674-b0d1-3292dc27252f",
      "name": "Webhook",
      "webhookId": "46305047-da87-4208-b8a2-ce28d4e46708"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea850aa1-a7a0-4e45-abdd-555a7c846881",
              "name": "nombre",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "5e79ae48-778f-41ae-93d0-81fe37ee3625",
              "name": "corre",
              "value": "={{ $json.body.correo }}",
              "type": "string"
            },
            {
              "id": "6be99213-733b-48aa-b13c-708de67f42d1",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -96
      ],
      "id": "2e6279d1-e55d-43c3-b2fa-58bc08167a46",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e48fa59d-0444-4b64-8ace-eecd93337aca",
              "leftValue": "={{$json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -96
      ],
      "id": "39c789b2-a61d-482b-9736-22475197f3dc",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "GERSSON_L8_CUPOSVIP",
          "mode": "list",
          "cachedResultName": "GERSSON_L8_CUPOSVIP"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "CORREO",
              "value": "={{ $json.corre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        224,
        -96
      ],
      "id": "bfd5fb7f-e38c-4a97-8771-f76d0aeac788",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "GERSSON_L8_CUPOSVIP",
          "mode": "list",
          "cachedResultName": "GERSSON_L8_CUPOSVIP"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "NOMBRE",
              "value": "={{ $('Edit Fields').item.json.nombre }}"
            },
            {
              "column": "WHATSAPP",
              "value": "={{ $('Edit Fields').item.json.whatsapp }}"
            },
            {
              "column": "CORREO",
              "value": "={{ $('Edit Fields').item.json.corre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        672,
        -208
      ],
      "id": "6d88f4ba-444b-4a0d-9f03-1b33375dbce3",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002176532359",
        "text": "=*CUPO VIP GENERADO* 🔥\n\nNOMBRE: {{ $('Edit Fields').item.json.nombre }}\nCORREO: {{ $('Edit Fields').item.json.corre }}\nWHATSAPP: {{ $('Edit Fields').item.json.whatsapp }}",
        "additionalFields": {
          "appendAttribution": false,
          "message_thread_id": 6983
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -208
      ],
      "id": "2f4e47c4-4bea-42ca-b402-92029f344765",
      "name": "Send a text message",
      "webhookId": "b35451a7-6c04-4001-b31f-172ca5937348",
      "credentials": {
        "telegramApi": {
          "id": "E6OyWuRww3Q1Xk4k",
          "name": "HOTAPI"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "node",
            "content-length": "49",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e236941e778",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "nombre": "SANTIAGO CIRO",
            "correo": "SANTIAGOCIIRO12@GMAIL.COM",
            "whatsapp": "+573136298562"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/cupovip-unas",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-25T00:29:59.000Z",
  "versionId": "b6e5eccc-6563-46bc-bb02-865027d27057"
}