backup/2025/08/uXzwqPWIn7cNx3ZK.json
{
  "active": false,
  "connections": {
    "REGISTRO": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUSQUEDA EN FLODESK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "guardar id MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "ENVIAR FLUJO BV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe en manychat?": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar id MANYCHAT": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "existe en manychat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE FLODESK?1": {
      "main": [
        [
          {
            "node": "INSERTA FLODESK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSQUEDA EN FLODESK": {
      "main": [
        [
          {
            "node": "EXISTE FLODESK?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENCUESTA": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "MongoDB3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T06:32:41.508Z",
  "id": "uXzwqPWIn7cNx3ZK",
  "isArchived": false,
  "meta": null,
  "name": "游릭 [GERSSON-L8] CAPTURA TD - REGISTRO Y ENCUESTAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "933a2307-cfd2-494e-984b-066713366647",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        -384
      ],
      "id": "87ec5d48-196f-43a5-823e-f55cf66a4dbf",
      "name": "REGISTRO",
      "webhookId": "933a2307-cfd2-494e-984b-066713366647"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -240
      ],
      "id": "c748a3c3-695d-4caf-b21c-f8ecb3551dfe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "collection": "=TD-L8",
        "options": {
          "limit": 1
        },
        "query": "={\"whatsapp\": \"{{ $json.whatsapp }}\", \"email\": \"{{$json.email}}\"}"
      },
      "id": "87447fec-9e66-4bda-8d2a-cbcd32ff539a",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -128,
        -240
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "TD-L8",
        "fields": "=query,country,city,zip,regionName,timezone,email,whatsapp,utmCampaign,utmSource,utmMedium,utmContent,utmTerm,adid,userAgent,platform,language,tiemporegistro,fbc,fbp,isFbcGenerated",
        "options": {}
      },
      "id": "3643268e-ff5e-4b97-b087-fddd0be2b58e",
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        464,
        -368
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2fd03bf6-73f2-490e-8da0-820def36de56",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -240
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "4025980c-4683-417c-ab21-4935e3a1653d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        304,
        -368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a258913-16e5-4c77-bc40-13e5d18f740f",
              "name": "ip",
              "value": "={{ $json.headers['x-real-ip'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -496
      ],
      "id": "fbe9e931-6f1b-4635-bf1e-abe9d158d803",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "1f72a44e-2f9f-4f03-8ade-ace698746666",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        112,
        -480
      ]
    },
    {
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.ip }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -496
      ],
      "id": "4b239111-5f38-4904-868a-2956d4998d88",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('MongoDB2').item.json.whatsapp }}\",\n  \"whatsapp_phone\": \"{{ $('MongoDB2').item.json.whatsapp }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -496
      ],
      "id": "a389f2d5-a659-48a7-8c31-b4f8e5dafcaa",
      "name": "HTTP Request4",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1632,
        -384
      ],
      "id": "6d126fcf-e69f-435d-bdfd-fd2da5988009",
      "name": "Merge5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -528
      ],
      "id": "1476137b-0a84-4c23-8c2d-5ab96941aa16",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86552321-4bbc-4aa5-afc7-5ce6278c72d2",
              "name": "CORREO",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ef1606bf-68e5-4717-a225-708529dcad05",
              "name": "WHATSAPP",
              "value": "={{ $json.whatsapp }}",
              "type": "string"
            },
            {
              "id": "0f13f81b-905a-4e1e-815c-3bcb4932bb77",
              "name": "CAMPA칌A",
              "value": "={{ $json.utmCampaign }}",
              "type": "string"
            },
            {
              "id": "b008676e-7f3b-46eb-9c3f-13f4757b8977",
              "name": "PLATAFORMA",
              "value": "={{ $json.utmSource }}",
              "type": "string"
            },
            {
              "id": "0fa1b73e-3467-49e9-af06-7a4d94901a7b",
              "name": "SEGMENTACION",
              "value": "={{ $json.utmMedium }}",
              "type": "string"
            },
            {
              "id": "50bd88a7-ded2-46df-a377-6c529be00917",
              "name": "ANUNCIO",
              "value": "={{ $json.utmContent }}",
              "type": "string"
            },
            {
              "id": "4747c5a6-da7e-4da9-9a86-fe23003d5adf",
              "name": "PAIS",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json.id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "FECHA REGISTRO",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "d42a68f2-323f-4337-b37f-ec1b9a9e65c4",
              "name": "HORA",
              "value": "={{ $now.format('HH:mm:ss:s') }}",
              "type": "string"
            },
            {
              "id": "ba1e8726-72dc-4603-996c-949c755897eb",
              "name": "AD_ID",
              "value": "={{ $json.adid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -288
      ],
      "id": "9e6e06af-f1b0-410a-b309-58f2f623fe1e",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3101ba6-b04a-40da-86e8-04bb9fabd5d7",
              "leftValue": "={{ $('Merge5').item.json.existe }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -384
      ],
      "id": "ffbf214f-77b7-4b31-af1f-580364c2d12e",
      "name": "existe?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdbedabd-650a-4c77-aafe-61f48231f405",
              "leftValue": "={{ $json.data[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -624
      ],
      "id": "513897a3-11c6-4b6e-8215-249a84db2c7d",
      "name": "existe en manychat?"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "TD-L8",
        "updateKey": "_id",
        "fields": "=id_manychat",
        "options": {}
      },
      "id": "0e401641-9d65-4dc1-b10a-d94bf0cefcb4",
      "name": "guardar id MANYCHAT",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1792,
        -384
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"flow_ns\": \"content20250801030701_545145\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        -400
      ],
      "id": "3a816639-fa81-4106-a726-1438d4b66f1c",
      "name": "ENVIAR FLUJO BV",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByName",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.whatsapp }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -608
      ],
      "id": "a27cc362-1c0f-460b-8f2e-3b5044639952",
      "name": "HTTP Request7",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data[0].id }}",
              "type": "string"
            },
            {
              "id": "8040badb-7f75-4766-b6ef-8e74c88bc480",
              "name": "existe",
              "value": "si",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -656
      ],
      "id": "b22b8b6d-f587-43f1-9399-af495804ad2c",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3e8099-ae55-4534-a5be-217d413c0ff2",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        -208
      ],
      "id": "6731ff51-a26c-4aca-be0f-ffe5895b4fdb",
      "name": "If5"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1232,
        -256
      ],
      "id": "3d5804a5-dd5c-47e1-9e3b-6639057d997e",
      "name": "Merge7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('MongoDB2').item.json.email }}\",\n    \"segment_ids\": [\n       \"68885aff64563db5f159be35\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -864
      ],
      "id": "52733787-d612-404c-9f69-21e563614bac",
      "name": "INSERTA FLODESK1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JzZ2saBcDbEsbcOC",
          "name": "API FLODESK N8N GERSSON"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        -816
      ],
      "id": "e5cbc492-8d2b-4474-abca-fd6f95610417",
      "name": "EXISTE FLODESK?1"
    },
    {
      "parameters": {
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -816
      ],
      "id": "cbed0ba4-6104-401f-ac98-e1b1d49dbbe5",
      "name": "BUSQUEDA EN FLODESK",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JzZ2saBcDbEsbcOC",
          "name": "API FLODESK N8N GERSSON"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bd887535-9346-4c33-915c-3f9d29c1645e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        464
      ],
      "id": "17335b37-d26d-4ff0-a2ee-e2a4bc874d69",
      "name": "ENCUESTA",
      "webhookId": "bd887535-9346-4c33-915c-3f9d29c1645e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfe23bab-7c1a-4462-ad5b-b7291ee8d7af",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp }}",
              "type": "string"
            },
            {
              "id": "cfe28cc4-c69b-4a26-86b7-e3fcab392043",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "de3c730f-dcad-4ab6-af4c-2e96c75a6c8b",
              "name": "tiempoencuesta",
              "value": "={{ $json.body.tiempoencuesta }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        224
      ],
      "id": "7e4ba837-7a95-427a-9118-259049e942d8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "TD-L8",
        "updateKey": "_id",
        "fields": "tiempoencuesta,Edad, Edad_especifica,Nivel_de_estudios,Ocupaci칩n,Eliminar_dolor_para,Ingresos,puntaje",
        "options": {}
      },
      "id": "93e1749e-88e2-4aeb-8bbd-635710b5926d",
      "name": "MongoDB3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1760,
        448
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "dc67e412-4af0-4a09-a402-2ef930698404",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1184,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        672
      ],
      "id": "863d6125-8be5-4a62-a625-2930dd7cf111",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.answersJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        704
      ],
      "id": "fd9989a9-f01a-41a2-8aa3-449e16cd04fb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a520e1b6-bb26-44a6-857f-770dac49655a",
              "leftValue": "={{ $json.puntaje }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        448
      ],
      "id": "f39d8f4a-0925-4061-88fb-d8f302231799",
      "name": "If2"
    },
    {
      "parameters": {
        "collection": "=TD-L8",
        "options": {},
        "query": "={\"_id\": \"{{ $('Merge1').item.json._id }}\"}"
      },
      "id": "a1dd8756-c313-406b-95f6-d1b55914e1a7",
      "name": "MongoDB4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        2112,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto-js'); // Aseg칰rate de que la librer칤a est치 disponible\n\nconst item = $input.first().json;\n\nfunction hashSHA256(value) {\n  return crypto.SHA256(value).toString(crypto.enc.Hex);\n}\n\nconst encryptedData = {\n  em: [hashSHA256(item.email)],  // Correo electr칩nico\n  ph: [hashSHA256(Number(item.whatsapp))],  // N칰mero de tel칠fono\n  country: [hashSHA256(item.country)],  // Pa칤s\n  zp: [hashSHA256(item.zip)], //zip\n  ct: [hashSHA256(item.city)], //ciudad\n  st: [hashSHA256(item.regionName)], //estado\n  // Datos no cifrados deben estar directamente accesibles\n  client_ip_address: item.query,\n  client_user_agent: item.userAgent,\n  fbc: item.fbc,\n  fbp: item.fbp,\n};\n\nconst facebookEvent = {\n  data: [\n    {\n      event_name: \"CompleteRegistration\",\n      event_time: Math.floor(Date.now() / 1000), // Tiempo actual en segundos\n      action_source: \"website\",\n      original_event_data: {\n        event_name: \"CompleteRegistration\",\n        event_time: Math.floor(Date.now() / 1000)\n      },\n      user_data: encryptedData,\n    }\n  ]\n};\n\nreturn facebookEvent;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        384
      ],
      "id": "2f0cd969-4a7e-41c1-969d-eb5925a519e5",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://graph.facebook.com/v21.0/1156253219623951/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAOAcBl41QIBPAbmJYzAk6gatq43TrZAbqWrgOWbOtzbHatJskrsRQ8R4seDAO3aRB0mZCLxAiFnR3FjnJVBZAZCJmfg0GD2E7GviM8Oa5hguHt1ZAxCf8ZCKg3ro2CfoO1brwouRQZAPQFdPglCHidXqhAttYZCcg1SNugkaOo1NVanZCnZBhhAynzS6Knl4x80fBEgZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        384
      ],
      "id": "43d89b4e-e9e8-49ab-9a4c-f099ef22074f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json._id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "EDAD",
              "value": "={{ $json.Edad }}",
              "type": "string"
            },
            {
              "id": "0ca6d2e7-d8c2-46a7-975a-09a456419cf3",
              "name": "PROPOSITO",
              "value": "={{ $json.Eliminar_dolor_para }}",
              "type": "string"
            },
            {
              "id": "0badb125-2290-4dc2-9eea-778d1dcb665b",
              "name": "INGRESOS",
              "value": "={{ $json.Ingresos }}",
              "type": "string"
            },
            {
              "id": "26ed51be-6c4d-4c6c-9233-496b7b476fdb",
              "name": "ESTUDIOS",
              "value": "={{ $json.Nivel_de_estudios }}",
              "type": "string"
            },
            {
              "id": "4eb1e6ab-b022-4cea-b94f-3120ba812fcb",
              "name": "OCUPACION",
              "value": "={{ $json['Ocupaci칩n'] }}",
              "type": "string"
            },
            {
              "id": "e8240118-b101-46ae-ba85-736ba448cef6",
              "name": "PUNTAJE",
              "value": "={{ $json.puntaje }}",
              "type": "number"
            },
            {
              "id": "a0f82f8d-7f63-4d33-b894-2cba3b59adfd",
              "name": "FECHA ENCUESTA",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "703ee060-0a76-4436-8621-7a62f8e7db1a",
              "name": "HORA ENCUESTA",
              "value": "={{ $now.format('HH:mm:ss:s') }}",
              "type": "string"
            },
            {
              "id": "8b8c5b70-460d-437f-a8cb-8ec1e381d382",
              "name": "EDAD_ESPECIFICA",
              "value": "={{ $json.Edad_especifica }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        640
      ],
      "id": "f6445078-731e-4cc6-9db5-3defaf626db0",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"field_name\": \"PROBABILIDAD-ENC\",\n  \"field_value\": {{ $json.puntaje.round() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        112
      ],
      "id": "c96c29d4-0909-4176-8252-6377cc970570",
      "name": "HTTP Request5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTagByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"tag_name\": \"ENCUESTA-L8\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -48
      ],
      "id": "c96d9bd0-c2fb-43e0-bcdb-acf3761c579e",
      "name": "HTTP Request6",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const whatsapp = item.json.whatsapp || \"\"; // Verifica si existe el campo WhatsApp\n  const email = item.json.email || \"\"; // Verifica si existe el campo email\n  \n  if (whatsapp && email) {\n    // Si existen ambos campos, retorna un JSON con ambos valores\n    return {\n      json: {\n        whatsapp: whatsapp,\n        email: email\n      }\n    };\n  } else if (whatsapp) {\n    // Si existe solo WhatsApp, genera un filtro con regex para los 칰ltimos 6 caracteres\n    return {\n      json: {\n        whatsapp: {\n          \"$regex\": `.*${whatsapp.slice(-6)}.*`,\n          \"$options\": \"i\"\n        }\n      }\n    };\n  } else if (email) {\n    // Si no existe WhatsApp, utiliza el correo electr칩nico para generar el filtro\n    return {\n      json: {\n        email: email\n      }\n    };\n  } else {\n    // Si no hay datos de WhatsApp ni correo, lanza un error\n    throw new Error(\"No se proporcionaron datos de WhatsApp ni correo electr칩nico.\");\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        224
      ],
      "id": "5aa67b80-f952-4da6-a1be-a06c310091ba",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3e8099-ae55-4534-a5be-217d413c0ff2",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        736
      ],
      "id": "94df5280-b7ed-421c-b4c6-4dc2f7638bf9",
      "name": "If4"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2192,
        656
      ],
      "id": "0a6f050b-9487-4fb3-8d6d-db6477376bc4",
      "name": "Merge6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        592,
        688
      ],
      "id": "56515b23-30c6-4b5f-ad02-9a9db343bc3e",
      "name": "Merge4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee2f3d54-34a2-40bd-a09a-dcb81b934770",
              "name": "puntaje",
              "value": "={{ $json.score[0].round() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        448
      ],
      "id": "431849fe-7eba-4bb0-9aeb-ce897e69b9d4",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://82.180.130.193:6969/predecir/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        448
      ],
      "id": "94b80d5e-fdfa-4ae6-b202-86173d4cff71",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5bd00608-0613-4ff6-b160-19e2a6a60169",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "collection": "=TD-L8",
        "options": {
          "limit": 1
        },
        "query": "={{ $json.toJsonString() }}"
      },
      "id": "298a65c6-3af9-49b8-ac58-420b8710b633",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        32,
        224
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -160,
        448
      ],
      "id": "47b5914a-0b7e-4027-a3b1-cd298212d841",
      "name": "Merge8"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ (() => {\n \n  // 1. Convierte el texto de las respuestas (answersJson) en un objeto.\n  const ans = JSON.parse($json.body.answersJson || '{}');\n\n  // 2. Elimina la propiedad 'Edad_especifica' del objeto.\n  delete ans.Edad_especifica;\n\n  // 3. Devuelve el objeto ya modificado (sin 'Edad_especifica').\n  return {\n    ...ans\n   \n  };\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        448
      ],
      "id": "a89f3658-d074-4bfb-9510-6c6800595c30",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "GERSSON_L8",
          "mode": "list",
          "cachedResultName": "GERSSON_L8"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "condition": "LIKE",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        912,
        -208
      ],
      "id": "0265f281-624f-4d46-ba3b-b7d53f87bd5d",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "GERSSON_L8",
          "mode": "list",
          "cachedResultName": "GERSSON_L8"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "FECHA_REGISTRO",
              "value": "={{ $json[\"FECHA REGISTRO\"] }}"
            },
            {
              "column": "HORA_REGISTRO",
              "value": "={{ $json.HORA }}"
            },
            {
              "column": "CORREO",
              "value": "={{ $json.CORREO }}"
            },
            {
              "column": "WHATSAPP",
              "value": "={{ $json.WHATSAPP }}"
            },
            {
              "column": "PLATAFORMA",
              "value": "={{ $json.PLATAFORMA }}"
            },
            {
              "column": "SEGMENTACION",
              "value": "={{ $json.SEGMENTACION }}"
            },
            {
              "column": "ANUNCIO",
              "value": "={{ $json.ANUNCIO }}"
            },
            {
              "column": "CAMPA칌A",
              "value": "={{ $json[\"CAMPA칌A\"] }}"
            },
            {
              "column": "PAIS",
              "value": "={{ $json.PAIS }}"
            },
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            },
            {
              "column": "AD_ID",
              "value": "={{ $json.AD_ID }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1392,
        -256
      ],
      "id": "9b3c4250-0524-4aea-b130-1a314ed2aedf",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "GERSSON_L8",
          "mode": "list",
          "cachedResultName": "GERSSON_L8"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "condition": "LIKE",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1856,
        736
      ],
      "id": "cb1ab96a-5ff7-4705-b23a-f543d79cc430",
      "name": "Select rows from a table1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "GERSSON_L8",
          "mode": "list",
          "cachedResultName": "GERSSON_L8"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "ID",
        "valueToMatchOn": "={{ $json.ID }}",
        "valuesToSend": {
          "values": [
            {
              "column": "FECHA_ENCUESTA",
              "value": "={{ $json[\"FECHA ENCUESTA\"] }}"
            },
            {
              "column": "HORA_ENCUESTA",
              "value": "={{ $json[\"HORA ENCUESTA\"] }}"
            },
            {
              "column": "EDAD",
              "value": "={{ $json.EDAD }}"
            },
            {
              "column": "INGRESOS",
              "value": "={{ $json.INGRESOS }}"
            },
            {
              "column": "ESTUDIOS",
              "value": "={{ $json.ESTUDIOS }}"
            },
            {
              "column": "OCUPACION",
              "value": "={{ $json.OCUPACION }}"
            },
            {
              "column": "PROPOSITO",
              "value": "={{ $json.PROPOSITO }}"
            },
            {
              "column": "PUNTAJE",
              "value": "={{ $json.PUNTAJE }}"
            },
            {
              "column": "QLEAD",
              "value": "={{ $json.PUNTAJE > 500 ? \"si\": null }}"
            },
            {
              "column": "EDAD_ESPECIFICA",
              "value": "={{ $json.EDAD_ESPECIFICA }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2400,
        656
      ],
      "id": "79bf8d20-8477-455b-b5b2-1033b24b9cc0",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"field_name\": \"PROPOSITO\",\n  \"field_value\": \"{{ $json.PROPOSITO }}\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        272
      ],
      "id": "22a0f308-a336-41f1-bf7b-adc65e201af7",
      "name": "HTTP Request8",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Obtiene TODOS los items que llegan al nodo.\nconst items = $input.all();\n\n// Itera sobre cada item para procesarlo.\nfor (const item of items) {\n  \n  // Extrae el valor de la respuesta del item actual.\n  const respuestaProposito = item.json.Eliminar_dolor_para;\n  \n  // Variable para almacenar el resultado con un valor por defecto.\n  let valorProposito = 'NO_ESPECIFICADO'; \n\n  // Asigna el valor a la variable PROPOSITO seg칰n la respuesta.\n  switch (respuestaProposito) {\n    case 'Para crear o ampliar tu negocio relacionado con la salud':\n      valorProposito = 'NEGOCIO';\n      break;\n    case 'Para ti mismo':\n      valorProposito = 'PERSONAL';\n      break;\n    case 'Para tu familia o amigos':\n      valorProposito = 'FAMILIAR';\n      break;\n  }\n  \n  // Agrega el nuevo campo 'PROPOSITO' al objeto json del item.\n  item.json.PROPOSITO = valorProposito;\n}\n\n// Retorna los items ya modificados.\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        272
      ],
      "id": "0eef67c5-5ce5-4c33-b0a9-83430732b80b",
      "name": "Code2"
    }
  ],
  "pinData": {
    "REGISTRO": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 13; P80 Build/TP1A.220624.014; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/133.0.6943.81 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/500.0.0.57.50;IABMV/1;]",
            "content-length": "899",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-MX,es;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"99\", \"Android WebView\";v=\"133\", \"Chromium\";v=\"133\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "189.253.61.180",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3051a3bb6625",
            "x-real-ip": "189.253.61.180",
            "x-requested-with": "com.facebook.katana"
          },
          "params": {},
          "query": {},
          "body": {
            "tiemporegistro": 1739945192,
            "email": "ori.h03@gmail.com",
            "whatsapp": "+524772630131",
            "utmCampaign": "游댯[0125] [JC] [CAPTACION] [SIGNUP] [F] [CBO] -AT1D - N1 LAL 1-5% APILADOS",
            "utmSource": "Facebook_Mobile_Feed",
            "utmMedium": "P칰blico similar (Worldwide, 1-5%) - Lista Compradores Terapia del Dolor 0225 UPDATE - Copia",
            "utmContent": "ANUN20-L6-V1-GANCHOS-CAPTACION-VERTICAL-VI UN MEDICO COREANO.mp4.mp4_Group_1",
            "utmTerm": "fb",
            "userAgent": "Mozilla/5.0 (Linux; Android 13; P80 Build/TP1A.220624.014; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/133.0.6943.81 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/500.0.0.57.50;IABMV/1;]",
            "platform": "Linux aarch64",
            "language": "es-MX",
            "fbc": "fb.1.1739945124661.IwZXh0bgNhZW0BMABhZGlkAasYlsmW4yUBHdf2BprzKzANY-ueDGZmzQ3DcJDU-9oMokf7pCXyVrJ7gK_SUXS_TgzUOQ_aem_yZXCIkryu_a2ZiPAgbcmnw",
            "fbp": "fb.1.1739945124686.249958723238201462",
            "isFbcGenerated": false
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/captura-td-2025-1",
          "executionMode": "production"
        }
      }
    ],
    "ENCUESTA": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 15; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.7204.168 Mobile Safari/537.36",
            "content-length": "515",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-US,es;q=0.9,pt-BR;q=0.8,pt;q=0.7,en-US;q=0.6,en;q=0.5",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Android WebView\";v=\"138\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "179.33.224.143",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e236941e778",
            "x-real-ip": "179.33.224.143",
            "x-requested-with": "org.telegram.messenger"
          },
          "params": {},
          "query": {},
          "body": {
            "answersJson": "{\n  \"Edad\": \"61-80\",\n  \"Edad_especifica\": 62,\n  \"Nivel_de_estudios\": \"Postgrado\",\n  \"Ocupaci칩n\": \"Tengo un negocio en 치reas relacionadas con la salud (terapeuta, reiki, acupuntura, entrenamiento f칤sico, masajista)\",\n  \"Ingresos\": \"1001-1500\",\n  \"Eliminar_dolor_para\": \"Para crear o ampliar tu negocio relacionado con la salud\"\n}",
            "referrer": "https://terapiasmagneticas.com/reg-l8/",
            "email": "jubal2107@gmail.com",
            "whatsapp": "+573017817643",
            "tiempoencuesta": 1754025141
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/l8-enc",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-04T22:36:35.108Z",
      "updatedAt": "2025-02-04T22:36:35.108Z",
      "id": "HjNWwvqlBnseDfSA",
      "name": "GERSSON"
    },
    {
      "createdAt": "2025-02-20T03:14:39.493Z",
      "updatedAt": "2025-02-20T03:14:39.493Z",
      "id": "fMteddKWhaFhuYHk",
      "name": "MYSQL"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-08-01T06:32:41.000Z",
  "versionId": "c038f5e2-8671-4db2-b588-4cb56cc3eac5"
}