backup/2026/01/9CIzZohFNg3OxZk0vwAwb.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T15:14:00.136Z",
  "id": "9CIzZohFNg3OxZk0vwAwb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 68",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -176
      ],
      "id": "c14fdc71-f8d4-4255-8549-9f6937dbd29a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1a6nJwFq0OtteoEbsZGxsmmz9is0SD1yjC5GE_PKDNUw/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a6nJwFq0OtteoEbsZGxsmmz9is0SD1yjC5GE_PKDNUw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -176
      ],
      "id": "9eeb0a3a-d9c7-4c21-8fd7-da55e5ae1a97",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        96,
        -176
      ],
      "id": "379761a8-f331-44b6-a583-11c16cec668f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "REISY_L1_ORG",
          "mode": "list",
          "cachedResultName": "REISY_L1_ORG"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "CORREO",
              "condition": "LIKE",
              "value": "={{ $json.CORREO }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        544,
        64
      ],
      "id": "0d1deeb3-b3c9-4410-81cd-cc6fb9ba3610",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "81fc51dd-7066-4e7f-a195-5eaef54a04b2",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        80
      ],
      "id": "ecfbe43d-4c45-4696-889a-d689aa78ba6f",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZhBDzKOCR4lfKsa2",
          "mode": "list",
          "cachedResultName": "DATOS REISY",
          "cachedResultUrl": "/projects/703bt8e3CRxfBTYZ/datatables/ZhBDzKOCR4lfKsa2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE": "={{ $json.NOMBRE }}",
            "CORREO": "={{ $('Select rows from a table').item.json.CORREO }}",
            "WHASTAPP": "={{ $('Select rows from a table').item.json.WHATSAPP }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WHASTAPP",
              "displayName": "WHASTAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        976,
        112
      ],
      "id": "dac5b742-4ead-4e7e-bdb9-2daf236d5b56",
      "name": "Insert row"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        96,
        -448
      ],
      "id": "9c57a33e-1a03-40c3-92d0-86be76779269",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "ZhBDzKOCR4lfKsa2",
          "mode": "list",
          "cachedResultName": "DATOS REISY",
          "cachedResultUrl": "/projects/703bt8e3CRxfBTYZ/datatables/ZhBDzKOCR4lfKsa2"
        },
        "filters": {
          "conditions": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        320,
        -416
      ],
      "id": "b2307bca-e0e3-4361-9d15-775ef07b805f",
      "name": "Delete row(s)",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T15:14:00.140Z",
      "createdAt": "2026-01-23T15:14:00.140Z",
      "role": "workflow:owner",
      "workflowId": "9CIzZohFNg3OxZk0vwAwb",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-23T17:45:17.950Z",
  "versionId": "249c6067-e24e-48e1-a4ec-89cb030520c8"
}