backup/2026/01/WYziq96ZeB3Kdckq.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-19T11:00:42.653Z",
    "createdAt": "2026-01-19T11:00:42.653Z",
    "versionId": "47c51a59-6e4d-44b5-b9ee-353ad73ef234",
    "workflowId": "WYziq96ZeB3Kdckq",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "cupovip-reisy",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -304,
          -96
        ],
        "id": "fc0e1628-05ec-49d7-87be-ade203ea1cde",
        "name": "Webhook",
        "webhookId": "8016b8bf-f014-4b72-af29-268dea50f773"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ea850aa1-a7a0-4e45-abdd-555a7c846881",
                "name": "nombre",
                "value": "={{ $json.body.nombre }}",
                "type": "string"
              },
              {
                "id": "5e79ae48-778f-41ae-93d0-81fe37ee3625",
                "name": "corre",
                "value": "={{ $json.body.correo }}",
                "type": "string"
              },
              {
                "id": "6be99213-733b-48aa-b13c-708de67f42d1",
                "name": "whatsapp",
                "value": "={{ $json.body.whatsapp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -48,
          -96
        ],
        "id": "bb4de685-c852-4844-a8f4-a0a0a2f6184c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e48fa59d-0444-4b64-8ace-eecd93337aca",
                "leftValue": "={{$json.isEmpty()}}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          -96
        ],
        "id": "69306dc7-880b-440f-a514-8bcede0b26e4",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "REISY_L1_VIP",
            "mode": "list",
            "cachedResultName": "REISY_L1_VIP"
          },
          "returnAll": true,
          "where": {
            "values": [
              {
                "column": "CORREO",
                "value": "={{ $json.corre }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          224,
          -96
        ],
        "id": "302532cc-0451-4b8d-8647-2ed5a97b2a38",
        "name": "Select rows from a table",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "n8fCALXWnGdmJkBN",
            "name": "CAPTACIONES"
          }
        }
      },
      {
        "parameters": {
          "table": {
            "__rl": true,
            "value": "REISY_L1_VIP",
            "mode": "list",
            "cachedResultName": "REISY_L1_VIP"
          },
          "dataMode": "defineBelow",
          "valuesToSend": {
            "values": [
              {
                "column": "NOMBRE",
                "value": "={{ $('Edit Fields').item.json.nombre }}"
              },
              {
                "column": "WHATSAPP",
                "value": "={{ $('Edit Fields').item.json.whatsapp }}"
              },
              {
                "column": "CORREO",
                "value": "={{ $('Edit Fields').item.json.corre }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          672,
          -208
        ],
        "id": "16ff3374-3f9c-49c7-bbe5-96986adb6a79",
        "name": "Insert rows in a table",
        "credentials": {
          "mySql": {
            "id": "n8fCALXWnGdmJkBN",
            "name": "CAPTACIONES"
          }
        }
      },
      {
        "parameters": {
          "chatId": "-1003370307317",
          "text": "=*CUPO VIP GENERADO* 🔥\n\nNOMBRE: {{ $('Edit Fields').item.json.nombre }}\nCORREO: {{ $('Edit Fields').item.json.corre }}\nWHATSAPP: {{ $('Edit Fields').item.json.whatsapp }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML",
            "message_thread_id": 1738
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1040,
          -208
        ],
        "id": "6fe09154-96c9-475e-bad3-a59c8a1eca7a",
        "name": "Send a text message",
        "webhookId": "56066455-209f-4f3e-b933-75be9e4339ec",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "telegramApi": {
            "id": "a7QVdFH7NKKLGhyE",
            "name": "bot REISY"
          }
        }
      },
      {
        "parameters": {
          "amount": "={{ (Math.random() * 2 + 1).toFixed(2) }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          864,
          -208
        ],
        "id": "19ce107f-d8ef-41ea-bca2-84a25ea612fd",
        "name": "Wait",
        "webhookId": "c9c0fcd2-f057-4cbf-9668-71a843c6ac51"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Insert rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert rows in a table": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "47c51a59-6e4d-44b5-b9ee-353ad73ef234",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-16T01:33:15.311Z",
  "id": "WYziq96ZeB3Kdckq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REISY-L1] NOTIFICACION CUPO VIP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cupovip-reisy",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        -96
      ],
      "id": "fc0e1628-05ec-49d7-87be-ade203ea1cde",
      "name": "Webhook",
      "webhookId": "8016b8bf-f014-4b72-af29-268dea50f773"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea850aa1-a7a0-4e45-abdd-555a7c846881",
              "name": "nombre",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "5e79ae48-778f-41ae-93d0-81fe37ee3625",
              "name": "corre",
              "value": "={{ $json.body.correo }}",
              "type": "string"
            },
            {
              "id": "6be99213-733b-48aa-b13c-708de67f42d1",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -96
      ],
      "id": "bb4de685-c852-4844-a8f4-a0a0a2f6184c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e48fa59d-0444-4b64-8ace-eecd93337aca",
              "leftValue": "={{$json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -96
      ],
      "id": "69306dc7-880b-440f-a514-8bcede0b26e4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "REISY_L1_VIP",
          "mode": "list",
          "cachedResultName": "REISY_L1_VIP"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "CORREO",
              "value": "={{ $json.corre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        224,
        -96
      ],
      "id": "302532cc-0451-4b8d-8647-2ed5a97b2a38",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "REISY_L1_VIP",
          "mode": "list",
          "cachedResultName": "REISY_L1_VIP"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "NOMBRE",
              "value": "={{ $('Edit Fields').item.json.nombre }}"
            },
            {
              "column": "WHATSAPP",
              "value": "={{ $('Edit Fields').item.json.whatsapp }}"
            },
            {
              "column": "CORREO",
              "value": "={{ $('Edit Fields').item.json.corre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        672,
        -208
      ],
      "id": "16ff3374-3f9c-49c7-bbe5-96986adb6a79",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003370307317",
        "text": "=*CUPO VIP GENERADO* 🔥\n\nNOMBRE: {{ $('Edit Fields').item.json.nombre }}\nCORREO: {{ $('Edit Fields').item.json.corre }}\nWHATSAPP: {{ $('Edit Fields').item.json.whatsapp }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "message_thread_id": 1738
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -208
      ],
      "id": "6fe09154-96c9-475e-bad3-a59c8a1eca7a",
      "name": "Send a text message",
      "webhookId": "56066455-209f-4f3e-b933-75be9e4339ec",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "a7QVdFH7NKKLGhyE",
          "name": "bot REISY"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ (Math.random() * 2 + 1).toFixed(2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        -208
      ],
      "id": "19ce107f-d8ef-41ea-bca2-84a25ea612fd",
      "name": "Wait",
      "webhookId": "c9c0fcd2-f057-4cbf-9668-71a843c6ac51"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Mobile Safari/537.36 EdgA/139.0.0.0",
            "content-length": "96",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-US,es;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Microsoft Edge\";v=\"139\", \"Chromium\";v=\"139\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "186.13.194.184",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3393e017d3a9",
            "x-real-ip": "186.13.194.184"
          },
          "params": {},
          "query": {},
          "body": {
            "nombre": "Zulma Zaracho",
            "correo": "zulmaz_estigarribia@hotmail.com",
            "whatsapp": "+595994536500"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/cupovip-gersson",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-16T01:33:15.317Z",
      "createdAt": "2026-01-16T01:33:15.317Z",
      "role": "workflow:owner",
      "workflowId": "WYziq96ZeB3Kdckq",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-16T01:38:37.000Z",
  "versionId": "47c51a59-6e4d-44b5-b9ee-353ad73ef234"
}