backup/2025/10/fVSv83ml8eRy1uVY.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "NOTA DE VOZ1",
            "type": "main",
            "index": 0
          },
          {
            "node": "NOTA DE VOZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-21T01:13:20.494Z",
  "id": "fVSv83ml8eRy1uVY",
  "isArchived": false,
  "meta": null,
  "name": "ENVIOS CANALES WHAPI",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HkL6ZkzysiBzvaC7kgHuBSeIdZRq5SW4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "120363404763245039@newsletter"
            },
            {
              "name": "caption",
              "value": "FRAN ES MKA"
            },
            {
              "name": "media",
              "value": "http://automscc.com/wp-content/uploads/2023/06/WhatsApp-Video-2023-06-02-at-2.20.21-PM-1.mp4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        0
      ],
      "id": "8a9955d6-54f2-49d2-8162-d6c51cc8844a",
      "name": "VIDEO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HkL6ZkzysiBzvaC7kgHuBSeIdZRq5SW4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "120363404763245039@newsletter"
            },
            {
              "name": "caption",
              "value": "FRAN ES MKA"
            },
            {
              "name": "media",
              "value": "http://automscc.com/wp-content/uploads/2025/10/Captura-de-pantalla-1.png"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        160
      ],
      "id": "e36b1983-99ee-4f46-88f2-1a6e19770537",
      "name": "IMAGEN"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/voice",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer onshAzExzMB6efebwbkzOC9cWwH8GaRF"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "120363405018809354@newsletter"
            },
            {
              "name": "media",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -160
      ],
      "id": "a3f079f8-feb5-4b09-a510-9aef6e4d43e5",
      "name": "NOTA DE VOZ"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -288
      ],
      "id": "103eb7b6-0d08-454e-ae2e-7f442be7ef62",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer HkL6ZkzysiBzvaC7kgHuBSeIdZRq5SW4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "120363404763245039@newsletter"
            },
            {
              "name": "body",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        336
      ],
      "id": "291caa23-bacf-4d8d-8ebf-8b791c4c70e7",
      "name": "TEXTO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/voice",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer onshAzExzMB6efebwbkzOC9cWwH8GaRF"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "120363404763245039@newsletter"
            },
            {
              "name": "media",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -336
      ],
      "id": "92f9dad5-f251-462c-bbda-155126931bf7",
      "name": "NOTA DE VOZ1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55138692-f260-42a2-b162-056016bbea7d",
              "name": "link",
              "value": "http://minio.automscc.com/api/v1/download-shared-object/aHR0cHM6Ly9taW5pby1zdG9yYWdlLmF1dG9tc2NjLmNvbS9jaGF0d29vdC9XaGF0c0FwcCUyMEF1ZGlvJTIwMjAyNS0xMC0yNiUyMGF0JTIwNi4wOC41MSUyMFBNLm9nZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPVpQS09UUkI1RDRYRVNXWjBNVlA5JTJGMjAyNTEwMjclMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUxMDI3VDAxMjk1NFomWC1BbXotRXhwaXJlcz00MzE5OSZYLUFtei1TZWN1cml0eS1Ub2tlbj1leUpoYkdjaU9pSklVelV4TWlJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaFkyTmxjM05MWlhraU9pSmFVRXRQVkZKQ05VUTBXRVZUVjFvd1RWWlFPU0lzSW1WNGNDSTZNVGMyTVRVM01UVTBOeXdpY0dGeVpXNTBJam9pWVdSdGFXNGlmUS5kdk5zZnAydWlhQzRaM2E5M1lEV1F2NUE1VTkxcnk1cFFlY1ZrTzE0VmJpUEVCUnRET2RDNUdRek1MeFVtdXF1NkcwVFhfeDE2QjlPSVBmcWNuMGR4QSZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmdmVyc2lvbklkPW51bGwmWC1BbXotU2lnbmF0dXJlPTdkZDRiYTZmODUzY2M3MTNiN2EwOGQyZGVlODgwOTNhZGJjNWQzMTFmYmMyNDYzY2M4M2ZlYTE1MTgxMTVmODQ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -288
      ],
      "id": "43422760-b6e1-47ec-a440-219d0eeee498",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-21T01:13:20.499Z",
      "createdAt": "2025-10-21T01:13:20.499Z",
      "role": "workflow:owner",
      "workflowId": "fVSv83ml8eRy1uVY",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T21:10:34.000Z",
  "versionId": "cc7fedab-9af2-4c66-8138-da89cd5a3d68"
}