backup/2025/10/hPVcDSpVVLvQxxx9.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "BuscaVenta1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NUEVA TRANSACCION?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CREA VENTA",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUSCA CLIENTE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE?": {
      "main": [
        [
          {
            "node": "CREAR FACTURA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "CREAR CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaVenta1": {
      "main": [
        [
          {
            "node": "NUEVA TRANSACCION?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREA VENTA": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "BUSCA CLIENTE": {
      "main": [
        [
          {
            "node": "EXISTE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "CREAR CLIENTE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREAR CLIENTE1": {
      "main": [
        [
          {
            "node": "CREAR FACTURA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaProducto": {
      "main": [
        [
          {
            "node": "EXISTE PRODUCTO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREAR RELACION FACTURA": {
      "main": [
        [
          {
            "node": "ENVIAR CORREO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "BuscaProducto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS FACTURA": {
      "main": [
        [
          {
            "node": "CREAR RELACION FACTURA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREAR FACTURA": {
      "main": [
        [
          {
            "node": "DATOS FACTURA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREAR CLIENTE": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "EXISTE PRODUCTO?": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-09T01:01:13.238Z",
  "id": "hPVcDSpVVLvQxxx9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "HOTMART-QUICKBOOKS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-prueba-hotmart",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1712,
        416
      ],
      "id": "7c7593f2-eeee-47ee-8afa-707bcfc3c118",
      "name": "Webhook",
      "webhookId": "62358276-06ab-402b-b4d3-c8b5086705ac"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f749c1e-7a9d-4221-a33a-f358a7a399ba",
              "name": "correo",
              "value": "={{ $json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "d6592a70-22c7-4b18-a856-53ee65ed7e40",
              "name": "telefono",
              "value": "={{ $json.body.data.buyer.checkout_phone }}",
              "type": "string"
            },
            {
              "id": "ed1ac629-e4c8-4eeb-abae-64082a84782f",
              "name": "valor",
              "value": "={{ $json.body.data.purchase.full_price.value }}",
              "type": "string"
            },
            {
              "id": "18612dba-711e-4221-abad-aa3c4b94a00e",
              "name": "transaccion",
              "value": "={{ $json.body.data.purchase.transaction }}",
              "type": "string"
            },
            {
              "id": "6a2bcc7f-a66e-4a37-bbaa-21b92030bcb7",
              "name": "producto",
              "value": "={{ $json.body.data.product.name }}",
              "type": "string"
            },
            {
              "id": "318fa565-59ad-49ba-bc78-fa43f62cd2a3",
              "name": "moneda",
              "value": "={{ $json.body.data.purchase.full_price.currency_value }}",
              "type": "string"
            },
            {
              "id": "e004a49a-b8ab-4d12-858c-c97a60c32912",
              "name": "pais",
              "value": "={{ $json.body.data.purchase.checkout_country.name }}",
              "type": "string"
            },
            {
              "id": "3b56580e-92d2-455c-8dc5-8c2c99d3b2e4",
              "name": "pais_iso",
              "value": "={{ $json.body.data.purchase.checkout_country.iso }}",
              "type": "string"
            },
            {
              "id": "0dcdb1f5-dcc7-4c61-85ae-0a347bf5219c",
              "name": "nombre",
              "value": "={{ $json.body.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "ef22d362-caec-48c4-ad84-ede358918472",
              "name": "productoID",
              "value": "={{ $json.productid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        96
      ],
      "id": "5c7f85f4-bc99-40c5-b414-b537fdbbe116",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e37b21dd-3e78-4189-8549-cbedd7583d74",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        176
      ],
      "id": "14c621ac-a2db-41e2-ad07-8f310d3c86f2",
      "name": "NUEVA TRANSACCION?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        112
      ],
      "id": "b3ae9181-1599-4261-8e60-c53c70275d44",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47e7c1ef-8a78-4294-a742-1cee61fbbdfc",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        48
      ],
      "id": "6fb9a62a-568e-4037-9acc-34d447b4de06",
      "name": "EXISTE?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        192
      ],
      "id": "d62f824c-399c-4e07-a05e-d5e1c2de3f4a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "collection": "ventas",
        "options": {},
        "query": "={\"transaccion\":\"{{ $json.transaccion }}\"} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -560,
        176
      ],
      "id": "be2aaada-6988-4920-963f-e3fef4dc68d5",
      "name": "BuscaVenta1",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Lrh0qQ8ohSdpiarD",
          "name": "mongo quickbooks black"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ventas",
        "fields": "nombre,correo,telefono,valor,producto,transaccion,moneda,pais,pais_iso",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -32,
        208
      ],
      "id": "c483cebf-9ab3-43ff-80ee-5178f1a013a5",
      "name": "CREA VENTA",
      "credentials": {
        "mongoDb": {
          "id": "Lrh0qQ8ohSdpiarD",
          "name": "mongo quickbooks black"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "clientes",
        "fields": "=Id,correo,telefono,nombre",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        752,
        128
      ],
      "id": "ea22b278-2e23-444a-b000-c0d7b315e4e3",
      "name": "CREAR CLIENTE1",
      "credentials": {
        "mongoDb": {
          "id": "Lrh0qQ8ohSdpiarD",
          "name": "mongo quickbooks black"
        }
      }
    },
    {
      "parameters": {
        "collection": "clientes",
        "options": {
          "limit": 1
        },
        "query": "={\"correo\": \"{{ $json.correo }}\", \"telefono\": \"{{ $json.telefono }}\"} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -32,
        48
      ],
      "id": "64f75eec-c88a-41cb-9784-53949e1f932a",
      "name": "BUSCA CLIENTE",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Lrh0qQ8ohSdpiarD",
          "name": "mongo quickbooks black"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        128
      ],
      "id": "a6cb06fa-0492-4db5-9115-7d244b7af91d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        96
      ],
      "id": "626057aa-71e2-4c66-beef-e3ff75e66532",
      "name": "Merge3"
    },
    {
      "parameters": {
        "collection": "productos",
        "options": {},
        "query": "={\"hotmartID\":\"{{ $json.body.data.product.ucode }}\"} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1248,
        160
      ],
      "id": "b54df502-d47c-435c-a1a9-39a473973d6d",
      "name": "BuscaProducto",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Lrh0qQ8ohSdpiarD",
          "name": "mongo quickbooks black"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "facturas",
        "fields": "=facturaID,costumerID,productoID,fechaCreacion,hotmartTransaccion",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1296,
        32
      ],
      "id": "18ee7416-db1d-4e8f-8a7a-a419e45efcb3",
      "name": "CREAR RELACION FACTURA",
      "credentials": {
        "mongoDb": {
          "id": "Lrh0qQ8ohSdpiarD",
          "name": "mongo quickbooks black"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "=PURCHASE_APPROVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f2501e34-56c0-401a-b6ff-998cab53d860"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APROBADAS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1488,
        416
      ],
      "id": "210dc26e-7b1d-4fb9-8403-c0da0b4b7bf5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "469a0034-dfd8-41ee-87e5-412f9013d80b",
              "name": "facturaID",
              "value": "={{ $json.SalesReceipt.Id }}",
              "type": "string"
            },
            {
              "id": "a5506ec1-3fe4-4799-80f1-fd2cda16ff5a",
              "name": "costumerID",
              "value": "={{ $json.SalesReceipt.CustomerRef.value }}",
              "type": "string"
            },
            {
              "id": "888944ed-aeb2-405b-96f4-97b08582e545",
              "name": "productoID",
              "value": "={{ $json.SalesReceipt.Line[0].SalesItemLineDetail.ItemRef.value }}",
              "type": "string"
            },
            {
              "id": "5acafec6-1605-4e1d-a09b-cfa55c4e4542",
              "name": "fechaCreacion",
              "value": "={{ $json.SalesReceipt.MetaData.CreateTime }}",
              "type": "string"
            },
            {
              "id": "677775f9-9928-4f5c-87bd-5bbffd29a66a",
              "name": "hotmartTransaccion",
              "value": "={{ $json.SalesReceipt.Line[0].Description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        32
      ],
      "id": "b28a89a2-7165-4f7c-b4b0-063093c61622",
      "name": "DATOS FACTURA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickbooks.api.intuit.com/v3/company/9341455102096003/salesreceipt?minorversion=70",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "quickBooksOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Line\": [\n    {\n      \"Description\": \"{{ $('Edit Fields').item.json.transaccion }}\",\n      \"DetailType\": \"SalesItemLineDetail\",\n      \"SalesItemLineDetail\": {\n        \"ItemRef\": {\n          \"value\": \"{{ $('Edit Fields').item.json.productoID }}\"\n        }\n      },\n      \"Amount\": \"{{ $('Edit Fields').item.json.valor }}\"\n    }\n  ],\n  \"CustomerRef\": {\n    \"value\": \"{{ $json.Id }}\"\n  },\n  \"CurrencyRef\": {\n    \"value\": \"{{ $('Edit Fields').item.json.moneda }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        32
      ],
      "id": "85a6f1ac-16c1-4d88-b0ae-f68baa2eafbe",
      "name": "CREAR FACTURA",
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "zqEJ85KroykpKbvG",
          "name": "quickbooks BLACK DIGITAL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://quickbooks.api.intuit.com/v3/company/9341455102096003/salesreceipt/{{ $json.facturaID }}/send?sendTo={{ $('Edit Fields').item.json.correo }}&minorversion=70",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "quickBooksOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        32
      ],
      "id": "4ea09b69-1163-476e-a633-943f3d3217ce",
      "name": "ENVIAR CORREO",
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "zqEJ85KroykpKbvG",
          "name": "quickbooks BLACK DIGITAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "displayName": "={{ $json.nombre }}",
        "additionalFields": {
          "PrimaryEmailAddr": "={{ $json.correo }}",
          "PrimaryPhone": "={{ $json.telefono }}"
        }
      },
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "65cc2a1b-cf23-48f6-8c92-900a48a4f351",
      "name": "CREAR CLIENTE",
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "zqEJ85KroykpKbvG",
          "name": "quickbooks BLACK DIGITAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1eae91f-78a9-4e4d-b799-bc41341cf19f",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        160
      ],
      "id": "d8a26192-2dd6-4e64-b71d-96f61f0c6a3e",
      "name": "EXISTE PRODUCTO?"
    },
    {
      "parameters": {
        "content": "*COMPRAS APROBADAS*",
        "height": 384,
        "width": 2928,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        0
      ],
      "id": "42baf643-6e60-4649-a1cb-3eb782b8c9f6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Jodd HTTP",
            "content-length": "2206",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "3.89.58.34",
            "cf-ipcountry": "US",
            "cf-ray": "98ba0fa6ea3dc56e-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "3.89.58.34, 172.70.134.245",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3393e017d3a9",
            "x-hotmart-hottok": "rrQs3XPgg981iOyVxcVtzyVVA0kYsp1be22114-3144-4b81-9341-e1e30d733e88",
            "x-real-ip": "172.70.134.245"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "support@hotmart.com.br",
                "has_co_production": false,
                "name": "Produto test postback2",
                "warranty_date": "2017-12-27T00:00:00Z",
                "is_physical_product": false,
                "id": 0,
                "ucode": "fb056612-bcc6-4217-9e6d-2a5d1110ac2f",
                "content": {
                  "has_physical_products": true,
                  "products": [
                    {
                      "name": "How to Make Clear Ice",
                      "is_physical_product": false,
                      "id": 4774438,
                      "ucode": "559fef42-3406-4d82-b775-d09bd33936b1"
                    },
                    {
                      "name": "Organizador de Poeira",
                      "is_physical_product": true,
                      "id": 4999597,
                      "ucode": "099e7644-b7d1-43d6-82a9-ec6be0118a4b"
                    }
                  ]
                }
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 149.5
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 1350.5
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "sckPaymentLink": "sckPaymentLinkTest",
                "order_bump": {
                  "parent_purchase_transaction": "HP02316330308193",
                  "is_order_bump": true
                },
                "approved_date": 1511783346000,
                "offer": {
                  "code": "test",
                  "coupon_code": "SHHUHA"
                },
                "is_funnel": false,
                "event_tickets": {
                  "amount": 1759972884618
                },
                "order_date": 1511783344000,
                "price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "buyer_ip": "00.00.00.00",
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "USD",
                  "value": 27
                },
                "business_model": "I",
                "transaction": "HP16015479281021",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "Q58388177J",
                  "name": "Affiliate name"
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Física",
                "document": "12345678965",
                "name": "Producer Test Name"
              },
              "subscription": {
                "subscriber": {
                  "code": "I9OT62C3"
                },
                "plan": {
                  "name": "plano de teste",
                  "id": 123
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "checkout_phone_code": "999999999",
                "address": {
                  "zipcode": "38400123",
                  "country": "Brasil",
                  "number": "10",
                  "address": "Avenida Francisco Galassi",
                  "city": "Uberlândia",
                  "state": "Minas Gerais",
                  "neighborhood": "Tubalina",
                  "complement": "Perto do shopping",
                  "country_iso": "BR"
                },
                "document": "1113683500",
                "name": "santiago ciro",
                "last_name": "Comprador",
                "checkout_phone": "573136298562",
                "first_name": "Teste",
                "email": "santiagociiro12@gmail.com",
                "document_type": "CPF"
              }
            },
            "id": "89be331d-0847-4890-8c39-2a80fd5bc143",
            "creation_date": 1759972884646,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/webhook-prueba-hotmart",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-09T22:15:54.000Z",
  "versionId": "a0f0be50-9778-4fce-8845-5d0fee5e3adb"
}