backup/2025/10/uIhphIxm789cYe1s.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "TablaSql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form1": {
      "main": [
        [
          {
            "node": "SUBIR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contadorinciail": {
      "main": [
        [
          {
            "node": "ModificaNombres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BodysCreate": {
      "main": [
        [
          {
            "node": "contadorinciail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TablaSql": {
      "main": [
        [
          {
            "node": "DistinctSql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DistinctSql": {
      "main": [
        [
          {
            "node": "TablaInst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TablaInst": {
      "main": [
        [
          {
            "node": "BodySql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BodyInst1": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BodySql": {
      "main": [
        [
          {
            "node": "BodyInst1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModificaNombres": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "FormFinal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API-CREACOMUNIDAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form2": {
      "main": [
        [
          {
            "node": "BodysCreate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUBIR": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API-CREACOMUNIDAD": {
      "main": [
        [
          {
            "node": "API-CONFIGURACIONES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API-CONFIGURACIONES": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API-AGREGA": {
      "main": [
        [
          {
            "node": "API-ADMINS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API-ADMINS": {
      "main": [
        [
          {
            "node": "API-OBTENERAVISOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API-OBTENERAVISOS": {
      "main": [
        [
          {
            "node": "5 seg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API-GETINVITE": {
      "main": [
        [
          {
            "node": "EscribirGrupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "API-AGREGA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EscribirGrupo1": {
      "main": [
        [
          {
            "node": "Setfoto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 seg1": {
      "main": [
        [
          {
            "node": "API-GETINVITE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setfoto1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-02T23:13:37.662Z",
  "id": "uIhphIxm789cYe1s",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Tool] CREACIÓN DE COMUNIDADES 2.0",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "show TABLES",
        "options": {}
      },
      "id": "fd38651c-0a5b-4c64-b6de-4b3ef3e22a05",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1888,
        32
      ],
      "credentials": {
        "mySql": {
          "id": "179b2UX7XsHkNW05",
          "name": "REDIRECCIONES - LANZAMIENTOS"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://evolution.automscc.com/instance/fetchInstances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "options": {}
      },
      "id": "6932a70a-f07e-422b-9fac-4b2d0e5942d5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        32
      ]
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "id": "f2a5dbd4-eb90-40d8-b481-f07cc8803eb7",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4080,
        32
      ]
    },
    {
      "parameters": {
        "formTitle": "CREACIÓN DE GRUPOS",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre de los grupos",
              "requiredField": true
            },
            {
              "fieldLabel": "Descripción",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Introduce los admin separados por comas",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Cantidad de grupos",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "En que numero empieza?",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "subir imagen de grupos",
              "fieldType": "file",
              "acceptFileTypes": ".jpg,.png",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "CREAR GRUPOS",
          "ignoreBots": true
        }
      },
      "id": "3751e136-d411-4db0-a073-32b7995c4fb2",
      "name": "form1",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1008,
        32
      ],
      "webhookId": "bd5b1d8e-60b2-4417-ab70-28008fc1775e"
    },
    {
      "parameters": {
        "jsCode": "\nconst inicia = $('form1').all()[0].json['En que numero empieza?'];\n\nreturn [{ contador: inicia}];\n"
      },
      "id": "aa6d55df-f3f1-48d5-9e00-c2adcfbbf939",
      "name": "contadorinciail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los items de un nodo anterior\nconst adminsArray = $('form1').all();\n\n// Obtener el subject y la description del primer item\nconst subject = adminsArray[0]?.json['Nombre de los grupos'] || ''; // Usando el primer item\nconst description = adminsArray[0]?.json['Descripción'] || ''; // Usando el primer item\n\n// Extraer y dividir los participantes en un array\nconst participants = adminsArray.map(item => item.json['Introduce los admin separados por comas'] || '')\n                               .flatMap(admins => admins.split(',').map(participant => participant.trim()));\n\n// Crear el objeto con los datos\nconst data = {\n  subject: subject,\n  description: description,\n  participants: participants\n};\n\nreturn Array(adminsArray[0].json['Cantidad de grupos']).fill({ json: data });\n"
      },
      "id": "e40f8216-3197-485e-a0e3-3404ea5f59b1",
      "name": "BodysCreate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accede a los datos de entrada desde los nodos anteriores\nconst tables = $input.all(); // Obtiene todos los elementos de entrada\n\n// Verifica que 'tables' contenga al menos un elemento y extrae los nombres de las tablas\nconst tableNames = tables.map(item => item.json[\"Tables_in_u698892974_REDIRECCIONES\"]);\n\n// Elimina duplicados usando un Set\nconst uniqueTableNames = [...new Set(tableNames)];\n\n// Crea un nuevo arreglo de salida con los nombres únicos\nconst outputData = uniqueTableNames.map(name => {\n  return {\n    table_name: name\n  };\n});\n\n// Retorna el arreglo de objetos como una salida JSON\nreturn outputData;\n"
      },
      "id": "dd41cd15-e75c-4165-a0b8-7985d0a45ea0",
      "name": "TablaSql",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer solo los nombres de las tablas y convertirlos al formato deseado\nconst tableNames = items.map(item => ({\n    option: item.json.table_name\n}));\n\n// Devolver el resultado como un único objeto JSON con un array de opciones\nreturn [{ json: { options: tableNames } }];\n"
      },
      "id": "f51f7957-062f-4d20-9d97-40735895b051",
      "name": "DistinctSql",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer solo los nombres\nconst instanceNames = $('HTTP Request').all().map(item => ({option: item.json.name}));\n\n// Devolver el resultado como un único objeto JSON con un array de opciones\nreturn [{ json: { options: instanceNames } }];\n"
      },
      "id": "c71ae22f-7590-4dd8-9e4f-137df3f0e1e6",
      "name": "TablaInst",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst inputData2 = $('DistinctSql').first().json.options; // Primer conjunto de opciones\n\n// Inicializa un arreglo para las preguntas\nconst outputData = [];\n\n\n// Crea el objeto para la primera pregunta\nconst question2 = {\n  \"fieldLabel\": \"Que tabla?\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": []\n  },\n  \"requiredField\": true\n};\n\n// Agrega las opciones de la primera pregunta\ninputData2.forEach(option => {\n  question2.fieldOptions.values.push( option ); // Asegúrate de que 'option' es el valor de la opción\n});\n\n// Agrega la pregunta al arreglo de salida\noutputData.push(question2);\n\n// Retorna el arreglo de objetos como una sola salida JSON\nreturn outputData;\n"
      },
      "id": "00c6488f-3d05-4ed8-a8e3-5993f9d07849",
      "name": "BodyInst1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accede a los datos de entrada desde los nodos anteriores\nconst inputData1 = $('TablaInst').first().json.options; // Primer conjunto de opciones\n\n// Inicializa un arreglo para las preguntas\nconst outputData = [];\n\n// Crea el objeto para la primera pregunta\nconst question1 = {\n  \"fieldLabel\": \"Que instancia usarás?\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": []\n  },\n  \"requiredField\": true\n};\n\n// Agrega las opciones de la primera pregunta\ninputData1.forEach(option => {\n  question1.fieldOptions.values.push( option ); // Asegúrate de que 'option' es el valor de la opción\n});\n\n\n// Agrega la pregunta al arreglo de salida\noutputData.push(question1);\n\n// Retorna el arreglo de objetos como una sola salida JSON\nreturn outputData;\n"
      },
      "id": "ad840251-018f-4745-a2e4-28d95679f1c6",
      "name": "BodySql",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "let contador = $('contadorinciail').all()[0].json['contador'];\n\nconst items = $('BodysCreate').all();\n\nconst updatedItems = items.map(item => {\n  const updatedItem = { ...item.json };  // Copia el contenido dentro de `json`\n  updatedItem.subject = `${updatedItem.subject} #${contador}`; // Actualiza el `subject`\n  contador++; \n  return { json: updatedItem };  // Envuelve en `json` para que n8n lo procese correctamente\n});\n\nreturn updatedItems;\n"
      },
      "id": "29504876-630a-4660-ba41-0effd718f518",
      "name": "ModificaNombres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        32
      ]
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[{{ $('BodySql').item.json.toJsonString() }}, {{ $('BodyInst1').item.json.toJsonString() }}]",
        "options": {
          "buttonLabel": "CONTINUAR"
        }
      },
      "id": "9c9a3f9f-374d-4494-a5bd-b72b010d370c",
      "name": "Form2",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        3200,
        32
      ],
      "webhookId": "dbb27bfd-a8e8-4720-9a4b-a0cc4033101b"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "options": {}
      },
      "id": "f0398b58-98ae-45da-9ec9-47563d42eb80",
      "name": "FormFinal",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        4304,
        -176
      ],
      "webhookId": "f918b7c0-7f75-4e27-8ee3-83bb671b8a95"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "n8n",
        "fileName": "={{ $now.toLocal().format('MM-dd-HH-mm') }}-imagenGrupo",
        "binaryPropertyName": "subir_imagen_de_grupos",
        "additionalFields": {}
      },
      "id": "2a4b8df3-3204-4819-b316-c3a3cf4c7522",
      "name": "SUBIR",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1232,
        32
      ],
      "credentials": {
        "s3": {
          "id": "Y7pBuiQHG1mb91C8",
          "name": "MINIO minio-storage.automscc.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ecd0f46-9b4c-406d-94af-61dae04fe420",
              "name": "=URL_IMAGEN",
              "value": "=https://minio-storage.automscc.com/n8n/{{ $now.toLocal().format('MM-dd-HH-mm') }}-imagenGrupo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4dd26101-c754-471a-b6f7-0ed9ab5fda16",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/communities",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer G3tcwcfTcMXWKV8YxkylD2GV6vcNvSP7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "id": "b279288e-9af2-4d82-a3ce-605e1ad0765a",
      "name": "API-CREACOMUNIDAD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4256,
        64
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gate.whapi.cloud/communities/{{ $('API-CREACOMUNIDAD').all()[0].json.id }}/settings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer G3tcwcfTcMXWKV8YxkylD2GV6vcNvSP7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "setting",
              "value": "=modify_groups"
            },
            {
              "name": "policy",
              "value": "=admins"
            }
          ]
        },
        "options": {}
      },
      "id": "8573b41f-585b-4d8b-a5d0-d6af762be134",
      "name": "API-CONFIGURACIONES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4512,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gate.whapi.cloud/communities/{{ $('API-CREACOMUNIDAD').all()[0].json.id }}/participants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer G3tcwcfTcMXWKV8YxkylD2GV6vcNvSP7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Code').all()[0].json.toJsonString()}}",
        "options": {}
      },
      "id": "bb15c574-ee98-4994-afec-191e66b0ec6f",
      "name": "API-AGREGA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4960,
        64
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gate.whapi.cloud/communities/{{ $('API-CREACOMUNIDAD').all()[0].json.id }}/admins",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer G3tcwcfTcMXWKV8YxkylD2GV6vcNvSP7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Code').all()[0].json.toJsonString()}}",
        "options": {}
      },
      "id": "8102184f-7007-4307-85f6-b64ee76f3fb2",
      "name": "API-ADMINS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5168,
        64
      ]
    },
    {
      "parameters": {
        "url": "=https://gate.whapi.cloud/communities/{{ $('API-CREACOMUNIDAD').all()[0].json.id }}/subGroups",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer G3tcwcfTcMXWKV8YxkylD2GV6vcNvSP7"
            }
          ]
        },
        "options": {}
      },
      "id": "a7f2edb8-0f63-4f78-ba7f-73fd2c306766",
      "name": "API-OBTENERAVISOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5344,
        64
      ]
    },
    {
      "parameters": {
        "url": "=https://gate.whapi.cloud/groups/{{ $('API-OBTENERAVISOS').all()[0].json.announceGroupInfo.id }}/invite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer G3tcwcfTcMXWKV8YxkylD2GV6vcNvSP7"
            }
          ]
        },
        "options": {}
      },
      "id": "55149d24-06db-44b7-8297-c75d310bec73",
      "name": "API-GETINVITE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst entrada = $('form1').all()[0].json['Introduce los admin separados por comas'];\n\nconst salida = {\n  participants: entrada.includes(\",\") \n    ? entrada.split(\",\").map(participante => participante.trim()) \n    : [entrada.trim()]\n};\n\nreturn salida;\n"
      },
      "id": "09e7655b-26cc-4da4-9b19-ced546b09dcd",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        64
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "={{ $('Form2').all()[0].json['Que tabla?'] }}",
          "mode": "name"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $('API-CREACOMUNIDAD').all()[0].json.subject }}"
            },
            {
              "column": "link",
              "value": "=https://chat.whatsapp.com/{{ $json.invite_code }}"
            },
            {
              "column": "id",
              "value": "={{ $('API-OBTENERAVISOS').item.json.announceGroupInfo.id }}"
            },
            {
              "column": "Total",
              "value": "0"
            },
            {
              "column": "bienvenida",
              "value": "no"
            }
          ]
        },
        "options": {}
      },
      "id": "6becbc71-89c9-4e1a-b6bd-f5455d6eba00",
      "name": "EscribirGrupo1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        5968,
        64
      ],
      "credentials": {
        "mySql": {
          "id": "4J4D0oAUKKPzfhYR",
          "name": "ACCOUNTING MYSQL"
        }
      }
    },
    {
      "parameters": {},
      "id": "e4b6131c-9fed-43f5-b2bc-58e8cd6890de",
      "name": "5 seg1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5568,
        64
      ],
      "webhookId": "ba6f1e01-0667-41da-b029-d765bf55301c"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        864
      ],
      "id": "cb6e0259-9776-4569-ae3e-cb6dd1de09f0",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automscc.com/group/updateGroupPicture/{{ $('Form2').all()[0].json['Que instancia usarás?'] }}?groupJid={{ $('API-CREACOMUNIDAD').all()[0].json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image\": \"{{ $('Upload Img to ImgBB for URL1').all()[0].json['data']['url'] }}\"\n}",
        "options": {}
      },
      "id": "f25874c8-e2a3-4995-b8a9-ba60b2998d6b",
      "name": "Setfoto1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6208,
        64
      ]
    }
  ],
  "pinData": {
    "API-CONFIGURACIONES": [
      {
        "json": {
          "success": true,
          "processed": [
            "573136298562",
            "573245904626"
          ],
          "failed": []
        }
      }
    ],
    "Code": [
      {
        "json": {
          "participants": [
            "573107174784",
            "573212966365",
            "573017817643",
            "573136298562"
          ]
        }
      }
    ],
    "form1": [
      {
        "json": {
          "Nombre de los grupos": "[C][27/10] Fórmula de la Eliminación del Dolor",
          "Descripción": "Bienvenidos al evento, *Fórmula de la Eliminación del Dolor*\r\n\r\n🗓️ Cuándo: 27 al 29 de octubre. \r\n⏰ Hora: 7:00 PM (hora COL)\r\n\r\nEn este evento EN VIVO descubrirás cómo:\r\n\r\n✅ Eliminar el dolor sin ser médico.\r\n✅ Sin equipos costosos ni complicaciones.\r\n✅ Sin químicos, ni efectos secundarios.\r\n✅ Apto para todas las edades.\r\n\r\n💡 Vamos a practicar en tiempo real y te enseñaré cómo ELIMINAR EL DOLOR en 5 minutos desde la comodidad de tu casa.\r\n\r\n🚨 ADVERTENCIA:\r\n1️⃣ No salgas del grupo, podrías perder tu acceso exclusivo y toda la información importante.\r\n2️⃣ Nuestro equipo jamás te pedirá códigos o datos personales. Solo los administradores oficiales están autorizados. ❌Nos vemos en unos días 🙌\r\n\r\nGersson López",
          "Introduce los admin separados por comas": "573012451755,573017817643,573058176936,573160436184,573160780201,573218504711,573245207576,573245904626",
          "Cantidad de grupos": 5,
          "En que numero empieza?": 1,
          "subir imagen de grupos": [
            {
              "filename": "fotogrupol9.png",
              "mimetype": "image/png",
              "size": 408297
            }
          ],
          "submittedAt": "2025-10-02T18:21:46.692-05:00",
          "formMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:FormFinal": {
      "267400-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "268038-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "300856-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "341418-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "344997-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "346359-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-02T23:25:05.000Z",
  "versionId": "687d0358-df58-4197-a3e0-966594812d0e"
}