backup/2025/10/XnAma4LTufHb4LFM.json
{
  "active": true,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-09T00:36:18.661Z",
  "id": "XnAma4LTufHb4LFM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[GERSSON]TRACKEO INGRESOS A CANAL",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        320
      ],
      "id": "40a5b008-79f2-41f6-9538-4ba4adb73683",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://evolution.automscc.com/group/newsletterMetadata/DANIEL",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "invite"
            },
            {
              "name": "key",
              "value": "0029VbBybMA3bbUzUaigWa1d"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        96
      ],
      "id": "cea9fb36-468c-46c2-b865-4985614a96fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        96
      ],
      "id": "eb714462-24b0-4c19-859c-58f212520518",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "GERSSON_L9_WHA_CANAL",
          "mode": "list",
          "cachedResultName": "GERSSON_L9_WHA_CANAL"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "grupo_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "total_ingresos",
              "value": "={{ $json.thread_metadata.subscribers_count }}"
            },
            {
              "column": "dia",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "column": "hora",
              "value": "={{ $now.format('HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        512,
        96
      ],
      "id": "bfea5f25-223a-45b8-90d3-f5d24b3035f9",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "url": "https://evolution.automscc.com/group/fetchAllNewsletters/DANIEL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        320
      ],
      "id": "c4b9cba6-c968-4a60-bd86-f7eecab6a6ee",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-09T21:22:00.000Z",
  "versionId": "7858f42a-6cf9-484d-894b-43fed53b2026"
}