backup/2025/04/8be7Mimf6xIXWtEQ.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "MongoDB Operations",
            "type": "main",
            "index": 0
          },
          {
            "node": "MongoDB Operations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-14T15:52:13.228Z",
  "id": "8be7Mimf6xIXWtEQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[WIN+] VENTAS MANUALES CHATWOOT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhooks-chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -544,
        -240
      ],
      "id": "fd738e1c-d16e-4d1d-8924-8b1f9e49d6c5",
      "name": "Webhook",
      "webhookId": "236fb834-e778-4865-8fc4-641dc84ccdf2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook-facebook.automscc.com/compra-manual-win",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.body.messages[0].conversation.contact_inbox.source_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -240
      ],
      "id": "b20cd80f-6989-473d-b4fa-4b1aeec5e782",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conversacion_actualizada_chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        80
      ],
      "id": "7858efba-a80d-4c3f-8615-ec63fcbdcfde",
      "name": "Webhook2",
      "webhookId": "094b867b-0058-4581-81d5-5ff99a74af35"
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body;\nconst labelChange = body.changed_attributes.find(a => a.label_list);\n\nif (labelChange) {\n  const { previous_value, current_value } = labelChange.label_list;\n  const added = current_value.filter(x => !previous_value.includes(x));\n  const removed = previous_value.filter(x => !current_value.includes(x));\n  \n  return [{ json: { \n    conversationId: body.messages[0].sender.phone_number,\n    addedLabels: added,\n    removedLabels: removed\n  }}];\n}\n\n// Si no hay cambio de etiquetas, no devuelve nada\nreturn [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        80
      ],
      "id": "a4ec27fc-89fd-4a3c-bff5-e316d4200d98",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.addedLabels }}",
              "rightValue": "pausar-bot",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "string"
              },
              "id": "8f23f489-5725-4d93-872e-dbbbd43f46fe"
            },
            {
              "leftValue": "={{ $json.addedLabels }}",
              "rightValue": "pausar-bot",
              "operator": {
                "type": "string",
                "operation": "contains",
                "rightType": "string"
              },
              "id": "2587b8cb-e57d-40c8-b680-e4d93924f3a1"
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        80
      ],
      "id": "abf757fe-5427-4511-9d5a-e5952650e5c2",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "bot-win+4",
        "query": "={\"whatsapp\":\"{{ $json.conversationId.replace(/\\+/g, '') }}\"}\n",
        "update": "={\"$set\":{\"estado\":\"pausado\"}}\n"
      },
      "type": "n8n-nodes-mongodb.mongoDbOperations",
      "typeVersion": 1,
      "position": [
        288,
        -128
      ],
      "id": "808c3094-2214-4e07-85df-43fa6b81c091",
      "name": "MongoDB Operations",
      "credentials": {
        "mongoDb": {
          "id": "euGOf8QGZoVDU3rO",
          "name": "BD WIN+4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "bot-win+2",
        "query": "={\"whatsapp\":\"{{ $json.conversationId.replace(/\\+/g, '') }}\"}\n",
        "update": "={\"$set\":{\"estado\":\"pausado\"}}\n"
      },
      "type": "n8n-nodes-mongodb.mongoDbOperations",
      "typeVersion": 1,
      "position": [
        288,
        64
      ],
      "id": "320ea847-e8b8-4cfa-b620-1e0f2468172d",
      "name": "MongoDB Operations1",
      "credentials": {
        "mongoDb": {
          "id": "jDujtIdwD5ws13s0",
          "name": "BD WIN+2"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "rest-client/2.1.0 (linux x86_64) ruby/3.3.3p89",
            "content-length": "2911",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "baggage": "sentry-environment=production,sentry-public_key=8a2d502a4008219bf1a2cf5a658be8cf,sentry-trace_id=a31ed995078743388d0c662f19ce4de9",
            "content-type": "application/json",
            "sentry-trace": "a31ed995078743388d0c662f19ce4de9-5197338b68354dc8",
            "x-forwarded-for": "34.201.21.236",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "697dd9cbf981",
            "x-real-ip": "34.201.21.236"
          },
          "params": {},
          "query": {},
          "body": {
            "additional_attributes": {},
            "can_reply": true,
            "channel": "Channel::Whatsapp",
            "contact_inbox": {
              "id": 289304292,
              "contact_id": 290893524,
              "inbox_id": 39429,
              "source_id": "573114284052",
              "created_at": "2025-04-13T12:31:51.048Z",
              "updated_at": "2025-04-13T12:31:51.048Z",
              "hmac_verified": false,
              "pubsub_token": "CbcrZJ2Psj1jnLT8KEN81KyH"
            },
            "id": 304520,
            "inbox_id": 39429,
            "messages": [
              {
                "id": 141084533,
                "content": "🥳Felicidades¡¡ TU COMPRA FUE APROBADA✅.\n\nPara instalar la app, dale clic a este enlace Y SIGUE LAS INSTRUCCIONES QUE ESTAN EN EL LINK, LEE MUY BIEN TODO\n\n👇🏻 ACÁ ESTÁ EL ACCESO A TU COMPRA 👇🏻\n\nhttps://automscc.com/mtv?id=573123755115\n\n👆🏻 Dale clic 👆🏻\n\nTODO LO QUE NECESITAS PARA INSTALARLA ESTÁ EN ESE LINK, LEE BIEN 🚨\n\nSi no te abre el link, intenta con otro explorador de tu celular o pide ayuda para instalarlo a algún familiar 🫵🏻",
                "account_id": 92628,
                "inbox_id": 39429,
                "conversation_id": 304520,
                "message_type": 1,
                "created_at": 1744645954,
                "updated_at": "2025-04-14T15:52:42.314Z",
                "private": false,
                "status": "delivered",
                "source_id": "wamid.HBgMNTczMTE0Mjg0MDUyFQIAERgSMzQ0QTRCNTU2NjdFRThDRDRGAA==",
                "content_type": "text",
                "content_attributes": {},
                "sender_type": "User",
                "sender_id": 90119,
                "external_source_ids": {},
                "additional_attributes": {},
                "processed_message_content": "🥳Felicidades¡¡ TU COMPRA FUE APROBADA✅.\n\nPara instalar la app, dale clic a este enlace Y SIGUE LAS INSTRUCCIONES QUE ESTAN EN EL LINK, LEE MUY BIEN TODO\n\n👇🏻 ACÁ ESTÁ EL ACCESO A TU COMPRA 👇🏻\n\nhttps://automscc.com/mtv?id=573123755115\n\n👆🏻 Dale clic 👆🏻\n\nTODO LO QUE NECESITAS PARA INSTALARLA ESTÁ EN ESE LINK, LEE BIEN 🚨\n\nSi no te abre el link, intenta con otro explorador de tu celular o pide ayuda para instalarlo a algún familiar 🫵🏻",
                "sentiment": {},
                "conversation": {
                  "assignee_id": 90119,
                  "unread_count": 0,
                  "last_activity_at": 1744646275,
                  "contact_inbox": {
                    "source_id": "573114284052"
                  }
                },
                "sender": {
                  "id": 90119,
                  "name": "santiago",
                  "available_name": "santiago",
                  "avatar_url": "",
                  "type": "user",
                  "availability_status": null,
                  "thumbnail": ""
                }
              }
            ],
            "labels": [
              "bienvenida",
              "pagado",
              "medio-pago",
              "atendido"
            ],
            "meta": {
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 290893524,
                "identifier": null,
                "name": "EDINSON SALAS RIOS",
                "phone_number": "+573114284052",
                "thumbnail": "",
                "blocked": false,
                "type": "contact"
              },
              "assignee": {
                "id": 90119,
                "name": "santiago",
                "available_name": "santiago",
                "avatar_url": "",
                "type": "user",
                "availability_status": null,
                "thumbnail": ""
              },
              "team": null,
              "hmac_verified": false
            },
            "status": "open",
            "custom_attributes": {},
            "snoozed_until": null,
            "unread_count": 0,
            "first_reply_created_at": "2025-04-14T15:52:34.139Z",
            "priority": "urgent",
            "waiting_since": 0,
            "agent_last_seen_at": 1744646275,
            "contact_last_seen_at": 0,
            "last_activity_at": 1744646275,
            "timestamp": 1744646275,
            "created_at": 1744547511,
            "updated_at": 1744646275.392353,
            "event": "automation_event.conversation_updated"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/webhooks-chatwoot",
          "executionMode": "production"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "rest-client/2.1.0 (linux x86_64) ruby/3.4.4p34",
            "content-length": "2465",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "baggage": "sentry-environment=production,sentry-public_key=8a2d502a4008219bf1a2cf5a658be8cf,sentry-trace_id=1650bf29ac394699a032f347112d650f",
            "content-type": "application/json",
            "sentry-trace": "1650bf29ac394699a032f347112d650f-a30865396e9f45dd",
            "x-forwarded-for": "3.213.197.223",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e236941e778",
            "x-real-ip": "3.213.197.223"
          },
          "params": {},
          "query": {},
          "body": {
            "additional_attributes": {},
            "can_reply": true,
            "channel": "Channel::Whatsapp",
            "contact_inbox": {
              "id": 257498926,
              "contact_id": 112816377,
              "inbox_id": 39429,
              "source_id": "573014229222",
              "created_at": "2025-03-12T23:43:34.926Z",
              "updated_at": "2025-03-12T23:43:34.926Z",
              "hmac_verified": false,
              "pubsub_token": "mNVMTJQGWb4yqQJBLUyPj5WZ"
            },
            "id": 288057,
            "inbox_id": 39429,
            "messages": [
              {
                "id": 237585650,
                "content": "🔴 BOT: [object Object]",
                "account_id": 92628,
                "inbox_id": 39429,
                "conversation_id": 288057,
                "message_type": 0,
                "created_at": 1755125348,
                "updated_at": "2025-08-13T22:49:08.228Z",
                "private": false,
                "status": "sent",
                "source_id": "wamid.PqIL1Q8UjDVFgP2BL910wk8tPpSjaBHZFAmkwEpU1bjE",
                "content_type": "text",
                "content_attributes": {},
                "sender_type": "Contact",
                "sender_id": 112816377,
                "external_source_ids": {},
                "additional_attributes": {},
                "processed_message_content": "🔴 BOT: [object Object]",
                "sentiment": {},
                "conversation": {
                  "assignee_id": 90119,
                  "unread_count": 0,
                  "last_activity_at": 1755125541,
                  "contact_inbox": {
                    "source_id": "573014229222"
                  }
                },
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 112816377,
                  "identifier": null,
                  "name": "Cesar",
                  "phone_number": "+573014229222",
                  "thumbnail": "",
                  "blocked": false,
                  "type": "contact"
                }
              }
            ],
            "labels": [
              "atendido",
              "bienvenida",
              "medio-pago",
              "pagado",
              "pausar-bot"
            ],
            "meta": {
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 112816377,
                "identifier": null,
                "name": "Cesar",
                "phone_number": "+573014229222",
                "thumbnail": "",
                "blocked": false,
                "type": "contact"
              },
              "assignee": {
                "id": 90119,
                "name": "santiago",
                "available_name": "santiago",
                "avatar_url": "",
                "type": "user",
                "availability_status": null,
                "thumbnail": ""
              },
              "team": null,
              "hmac_verified": false
            },
            "status": "open",
            "custom_attributes": {},
            "snoozed_until": null,
            "unread_count": 0,
            "first_reply_created_at": "2025-03-14T01:16:16.083Z",
            "priority": null,
            "waiting_since": 1755125344,
            "agent_last_seen_at": 1755125541,
            "contact_last_seen_at": 0,
            "last_activity_at": 1755125541,
            "timestamp": 1755125541,
            "created_at": 1741823014,
            "updated_at": 1755125889.635009,
            "event": "conversation_updated",
            "changed_attributes": [
              {
                "updated_at": {
                  "previous_value": "2025-08-13T22:52:21.098Z",
                  "current_value": "2025-08-13T22:58:09.635Z"
                }
              },
              {
                "cached_label_list": {
                  "previous_value": "atendido, bienvenida, medio-pago, pagado",
                  "current_value": "atendido, bienvenida, medio-pago, pagado, pausar-bot"
                }
              },
              {
                "label_list": {
                  "previous_value": [
                    "atendido",
                    "bienvenida",
                    "medio-pago",
                    "pagado"
                  ],
                  "current_value": [
                    "atendido",
                    "bienvenida",
                    "medio-pago",
                    "pagado",
                    "pausar-bot"
                  ]
                }
              }
            ]
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/conversacion_actualizada_chatwoot",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-04-14T15:52:13.238Z",
      "createdAt": "2025-04-14T15:52:13.238Z",
      "role": "workflow:owner",
      "workflowId": "8be7Mimf6xIXWtEQ",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-08-13T23:14:41.000Z",
  "versionId": "00e1ce76-6570-4bf1-b093-3f90086c66f9"
}