backup/2025/12/2g6cQNEe4DkhFury.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar grupos": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-29T19:25:03.789Z",
  "id": "2g6cQNEe4DkhFury",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 64",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -16
      ],
      "id": "ee7b5606-ad8a-4579-89be-0a37f4bfc7ca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "groups-api",
        "operation": "fetch-groups",
        "instanceName": "7761-REISY",
        "inviteCode": "={{ $json.Link }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        480,
        64
      ],
      "id": "71e4d164-a8d2-41e8-a2ca-1c3076fa4a44",
      "name": "Buscar grupos",
      "credentials": {
        "evolutionApi": {
          "id": "Png3VbsnUeyqI5UL",
          "name": "VPS-EASYPANEL"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zzMLymxvXVcZRxDoij5IBpCeWqj6QMEhxe14AyIaL7w",
          "mode": "list",
          "cachedResultName": "GRUPOS VIEJOS REISY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zzMLymxvXVcZRxDoij5IBpCeWqj6QMEhxe14AyIaL7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zzMLymxvXVcZRxDoij5IBpCeWqj6QMEhxe14AyIaL7w/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -16
      ],
      "id": "e2af82a2-df30-4709-9790-0d4378deec08",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f474b59b-4ea0-4793-a421-cb40faa6071d",
              "name": "Link",
              "value": "={{ $json.Link.extractUrlPath().replaceAll(\"/\",\"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -16
      ],
      "id": "b3948944-618c-4f3a-b16b-9d60e81d8848",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -16
      ],
      "id": "5c9acdbe-7b27-4da5-92d9-1d62995bb88d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dad08102-8451-4218-8455-f78ffaee79d6",
              "name": "data.id",
              "value": "={{ $json.data.id }}",
              "type": "string"
            },
            {
              "id": "aaf8247c-b70b-459c-baa7-ed3a11be82d4",
              "name": "data.subject",
              "value": "={{ $json.data.subject }}",
              "type": "string"
            },
            {
              "id": "567d22af-7b05-4d41-a165-fb9644c5c6d2",
              "name": "Link",
              "value": "={{ $('Loop Over Items').item.json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        64
      ],
      "id": "99c1ffd4-fcf8-4854-b588-3dbf792d886b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zzMLymxvXVcZRxDoij5IBpCeWqj6QMEhxe14AyIaL7w",
          "mode": "list",
          "cachedResultName": "GRUPOS VIEJOS REISY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zzMLymxvXVcZRxDoij5IBpCeWqj6QMEhxe14AyIaL7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zzMLymxvXVcZRxDoij5IBpCeWqj6QMEhxe14AyIaL7w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json.data.subject }}",
            "ID": "={{ $json.data.id }}"
          },
          "matchingColumns": [
            "Nome"
          ],
          "schema": [
            {
              "id": "Posição",
              "displayName": "Posição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Clicks",
              "displayName": "Clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Clicks reais",
              "displayName": "Clicks reais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Participantes reais",
              "displayName": "Participantes reais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cheio",
              "displayName": "Cheio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de criação",
              "displayName": "Data de criação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de fechamento",
              "displayName": "Data de fechamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -112
      ],
      "id": "e6ebd118-65aa-4cdc-8873-97a7e0acd45f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-29T19:25:03.798Z",
      "createdAt": "2025-12-29T19:25:03.798Z",
      "role": "workflow:owner",
      "workflowId": "2g6cQNEe4DkhFury",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-05T01:16:01.000Z",
  "versionId": "c8dd0382-3a78-40af-b628-21bfa8e33664"
}