backup/2025/12/jcXESplXcjDzymd9.json
{
  "active": true,
  "connections": {
    "REGISTRO": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "guardar id MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "ENVIAR FLUJO BV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe en manychat?": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar id MANYCHAT": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "existe en manychat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE FLODESK?1": {
      "main": [
        [
          {
            "node": "INSERTA FLODESK1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MOVER A SEGMENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSQUEDA EN FLODESK": {
      "main": [
        [
          {
            "node": "EXISTE FLODESK?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENCUESTA": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find and update documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Find documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUSQUEDA EN FLODESK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find and update documents": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-19T06:14:32.357Z",
  "id": "jcXESplXcjDzymd9",
  "isArchived": false,
  "meta": null,
  "name": " [REISY-L1-ORG] CAPTURA TD - REGISTRO Y ENCUESTAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "l1-reisy-org",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        -272
      ],
      "id": "86f44a91-401a-4c7b-8800-9b11381236e4",
      "name": "REGISTRO",
      "webhookId": "edc26e46-32d3-4e70-a9b2-71031f803f56"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -176
      ],
      "id": "d32a9575-8639-4c64-8e4c-80bc953a7b18",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "34e21672-92f7-4354-ade7-58f973d5e02a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        -176
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "ab772a2f-213f-4c3a-832c-547cb40675a4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        160,
        -272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a258913-16e5-4c77-bc40-13e5d18f740f",
              "name": "ip",
              "value": "={{ $json.headers[\"cf-connecting-ip\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        -384
      ],
      "id": "477dca81-4a6f-48c8-a71a-4801eb4b6506",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "c57dbbb1-254c-4e8a-87eb-791676693cd3",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -64,
        -368
      ]
    },
    {
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.ip }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        -384
      ],
      "id": "a131b00b-7f49-49b7-b3e4-868ac1dd704f",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 417343:0df1fbec4fde1bef06f40cdc3244cfb1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Insert documents').item.json.whatsapp }}\",\n  \"whatsapp_phone\": \"{{ $('Insert documents').item.json.whatsapp }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -464
      ],
      "id": "3f5d51a8-548c-4d4a-889b-9f09c8d5f829",
      "name": "HTTP Request4",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1424,
        -400
      ],
      "id": "34149c89-47ab-44d0-936e-73615c49c2fc",
      "name": "Merge5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -480
      ],
      "id": "880c9cac-e41f-4e8a-b3c2-58e8f599612a",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86552321-4bbc-4aa5-afc7-5ce6278c72d2",
              "name": "CORREO",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ef1606bf-68e5-4717-a225-708529dcad05",
              "name": "WHATSAPP",
              "value": "={{ $json.whatsapp }}",
              "type": "string"
            },
            {
              "id": "0f13f81b-905a-4e1e-815c-3bcb4932bb77",
              "name": "CAMPAA",
              "value": "={{ $json.utmCampaign }}",
              "type": "string"
            },
            {
              "id": "b008676e-7f3b-46eb-9c3f-13f4757b8977",
              "name": "PLATAFORMA",
              "value": "={{ $json.utmSource }}",
              "type": "string"
            },
            {
              "id": "0fa1b73e-3467-49e9-af06-7a4d94901a7b",
              "name": "SEGMENTACION",
              "value": "={{ $json.utmMedium }}",
              "type": "string"
            },
            {
              "id": "50bd88a7-ded2-46df-a377-6c529be00917",
              "name": "ANUNCIO",
              "value": "={{ $json.utmContent }}",
              "type": "string"
            },
            {
              "id": "4747c5a6-da7e-4da9-9a86-fe23003d5adf",
              "name": "PAIS",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json.id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "FECHA REGISTRO",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "d42a68f2-323f-4337-b37f-ec1b9a9e65c4",
              "name": "HORA",
              "value": "={{ $now.format('HH:mm:ss:s') }}",
              "type": "string"
            },
            {
              "id": "ba1e8726-72dc-4603-996c-949c755897eb",
              "name": "AD_ID",
              "value": "={{ $json.adid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -240
      ],
      "id": "ec933e54-a9bb-472e-a7ee-58384b42cb3b",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3101ba6-b04a-40da-86e8-04bb9fabd5d7",
              "leftValue": "={{ $('Merge5').item.json.existe }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        -400
      ],
      "id": "a1fc02b5-cac9-4bd3-81a2-0f4cdbf5991d",
      "name": "existe?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdbedabd-650a-4c77-aafe-61f48231f405",
              "leftValue": "={{ $json.data[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        -528
      ],
      "id": "787f6cdd-ff39-4cdf-bf44-9aa3758bff1e",
      "name": "existe en manychat?"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "L1-REG-PRINCIPAL",
        "updateKey": "_id",
        "fields": "=id_manychat",
        "options": {}
      },
      "id": "898f8695-2c8e-4edc-bc50-06139cdfb622",
      "name": "guardar id MANYCHAT",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1600,
        -400
      ],
      "credentials": {
        "mongoDb": {
          "id": "j2YBNujqV7oGjDE8",
          "name": "DB REISY"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 417343:0df1fbec4fde1bef06f40cdc3244cfb1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"flow_ns\": \"content20251219010819_813368\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        -416
      ],
      "id": "c14d0f66-f0d2-40b3-96ca-1a9f2fecc01d",
      "name": "ENVIAR FLUJO BV",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByName",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.whatsapp }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 417343:0df1fbec4fde1bef06f40cdc3244cfb1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -432
      ],
      "id": "7e4ba451-af5b-4f9e-a266-02e334d914e5",
      "name": "HTTP Request7",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data[0].id }}",
              "type": "string"
            },
            {
              "id": "8040badb-7f75-4766-b6ef-8e74c88bc480",
              "name": "existe",
              "value": "si",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -608
      ],
      "id": "bddbd1bb-cc2c-4c1a-beef-268bcb48ce19",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3e8099-ae55-4534-a5be-217d413c0ff2",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        -144
      ],
      "id": "89d306ec-85d5-40ed-b283-1d2b8da04593",
      "name": "If5"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1296,
        -224
      ],
      "id": "0fd65fb0-049f-4bfc-b142-69c47b1ef397",
      "name": "Merge7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('Insert documents').item.json.email }}\",\n    \"segment_ids\": [\n       \"6944ed82f96ae4d36c295c9f\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -960
      ],
      "id": "b87d1d91-f2a3-441f-96b4-a6c61fc6824c",
      "name": "INSERTA FLODESK1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "twfMJj9RfOL5G2h1",
          "name": "API FLODESK REISY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -864
      ],
      "id": "92fec183-769a-4915-b993-dabe17f659ad",
      "name": "EXISTE FLODESK?1"
    },
    {
      "parameters": {
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        -864
      ],
      "id": "2aedf5c1-147e-4c3e-b5ae-0af7d83277a8",
      "name": "BUSQUEDA EN FLODESK",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "twfMJj9RfOL5G2h1",
          "name": "API FLODESK REISY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "l1-reisy-org-enc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        448
      ],
      "id": "e52f6b44-cf4d-48ea-83f3-44a9f5426174",
      "name": "ENCUESTA",
      "webhookId": "5c067115-7753-4828-81a3-9ac467516fb2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfe23bab-7c1a-4462-ad5b-b7291ee8d7af",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp }}",
              "type": "string"
            },
            {
              "id": "cfe28cc4-c69b-4a26-86b7-e3fcab392043",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "de3c730f-dcad-4ab6-af4c-2e96c75a6c8b",
              "name": "tiempoencuesta",
              "value": "={{ $json.body.tiempoencuesta }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        368
      ],
      "id": "31d51486-0357-45e0-9919-56a48558305b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "d5b7b75d-4bb7-408e-a9a2-f43fbc763b37",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        656,
        320
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        496,
        432
      ],
      "id": "481b913e-c9e0-41e1-9d96-d37a2eb155b4",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.answersJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        544
      ],
      "id": "db9ac1e6-b681-44b3-ae70-a4f31f4ee302",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json._id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "EDAD",
              "value": "={{ $json.Edad }}",
              "type": "string"
            },
            {
              "id": "0badb125-2290-4dc2-9eea-778d1dcb665b",
              "name": "INGRESOS",
              "value": "={{ $json.Ingresos }}",
              "type": "string"
            },
            {
              "id": "26ed51be-6c4d-4c6c-9233-496b7b476fdb",
              "name": "ESTUDIOS",
              "value": "={{ $json.Nivel_de_estudios }}",
              "type": "string"
            },
            {
              "id": "4eb1e6ab-b022-4cea-b94f-3120ba812fcb",
              "name": "OCUPACION",
              "value": "={{ $json['Ocupaci贸n'] }}",
              "type": "string"
            },
            {
              "id": "a0f82f8d-7f63-4d33-b894-2cba3b59adfd",
              "name": "FECHA ENCUESTA",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "703ee060-0a76-4436-8621-7a62f8e7db1a",
              "name": "HORA ENCUESTA",
              "value": "={{ $now.format('HH:mm:ss:s') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        624
      ],
      "id": "747d88e7-30cb-4948-a558-69cd52210d45",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTagByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 417343:0df1fbec4fde1bef06f40cdc3244cfb1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"tag_name\": \"ENCUESTA-L1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        256
      ],
      "id": "d78c423f-382d-42e0-9abf-d745ef47ef38",
      "name": "HTTP Request6",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const whatsapp = item.json.whatsapp || \"\"; // Verifica si existe el campo WhatsApp\n  const email = item.json.email || \"\"; // Verifica si existe el campo email\n  \n  if (whatsapp && email) {\n    // Si existen ambos campos, retorna un JSON con ambos valores\n    return {\n      json: {\n        whatsapp: whatsapp,\n        email: email\n      }\n    };\n  } else if (whatsapp) {\n    // Si existe solo WhatsApp, genera un filtro con regex para los 煤ltimos 6 caracteres\n    return {\n      json: {\n        whatsapp: {\n          \"$regex\": `.*${whatsapp.slice(-6)}.*`,\n          \"$options\": \"i\"\n        }\n      }\n    };\n  } else if (email) {\n    // Si no existe WhatsApp, utiliza el correo electr贸nico para generar el filtro\n    return {\n      json: {\n        email: email\n      }\n    };\n  } else {\n    // Si no hay datos de WhatsApp ni correo, lanza un error\n    throw new Error(\"No se proporcionaron datos de WhatsApp ni correo electr贸nico.\");\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        272
      ],
      "id": "ecc4df0e-a3cb-4937-a72f-bdab733412b7",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3e8099-ae55-4534-a5be-217d413c0ff2",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        752
      ],
      "id": "e0490632-2e79-4178-b80f-5be45d8f1fdb",
      "name": "If4"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1648,
        640
      ],
      "id": "2cc80e5a-2762-4660-a073-55279d98d91a",
      "name": "Merge6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        272,
        528
      ],
      "id": "a4912238-6e1d-44e6-9d30-1ad133d217f5",
      "name": "Merge4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "114c87f4-d754-4515-8f70-41f3246b197a",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        272
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "REISY-L1-ORG",
          "mode": "list",
          "cachedResultName": "REISY-L1-ORG"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "condition": "LIKE",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        848,
        -144
      ],
      "id": "f6bf1f2c-4c4b-415e-afd2-35f010170efc",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "REISY-L1-ORG",
          "mode": "list",
          "cachedResultName": "REISY-L1-ORG"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "FECHA_REGISTRO",
              "value": "={{ $json[\"FECHA REGISTRO\"] }}"
            },
            {
              "column": "HORA_REGISTRO",
              "value": "={{ $json.HORA }}"
            },
            {
              "column": "CORREO",
              "value": "={{ $json.CORREO }}"
            },
            {
              "column": "WHATSAPP",
              "value": "={{ $json.WHATSAPP }}"
            },
            {
              "column": "PLATAFORMA",
              "value": "={{ $json.PLATAFORMA }}"
            },
            {
              "column": "SEGMENTACION",
              "value": "={{ $json.SEGMENTACION }}"
            },
            {
              "column": "ANUNCIO",
              "value": "={{ $json.ANUNCIO }}"
            },
            {
              "column": "CAMPAA",
              "value": "={{ $json[\"CAMPAA\"] }}"
            },
            {
              "column": "PAIS",
              "value": "={{ $json.PAIS }}"
            },
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            },
            {
              "column": "AD_ID",
              "value": "={{ $json.AD_ID }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1520,
        -224
      ],
      "id": "aa04cc86-85c9-44e2-b903-0804bc87457e",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "REISY-L1-ORG",
          "mode": "list",
          "cachedResultName": "REISY-L1-ORG"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "condition": "LIKE",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1200,
        752
      ],
      "id": "9317aada-3dd6-4c9f-aa42-7fb1b116663f",
      "name": "Select rows from a table1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "REISY-L1-ORG",
          "mode": "list",
          "cachedResultName": "REISY-L1-ORG"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "ID",
        "valueToMatchOn": "={{ $json.ID }}",
        "valuesToSend": {
          "values": [
            {
              "column": "FECHA_ENCUESTA",
              "value": "={{ $json[\"FECHA ENCUESTA\"] }}"
            },
            {
              "column": "HORA_ENCUESTA",
              "value": "={{ $json[\"HORA ENCUESTA\"] }}"
            },
            {
              "column": "EDAD",
              "value": "={{ $json.EDAD }}"
            },
            {
              "column": "INGRESOS",
              "value": "={{ $json.INGRESOS }}"
            },
            {
              "column": "ESTUDIOS",
              "value": "={{ $json.ESTUDIOS }}"
            },
            {
              "column": "OCUPACION",
              "value": "={{ $json.OCUPACION }}"
            },
            {
              "column": "PROPOSITO",
              "value": "={{ $json.PROPOSITO }}"
            },
            {
              "column": "PUNTAJE",
              "value": "={{ $json.PUNTAJE }}"
            },
            {
              "column": "QLEAD",
              "value": "={{ $json.PUNTAJE > 500 ? \"si\": null }}"
            },
            {
              "column": "EDAD_ESPECIFICA",
              "value": "={{ $json.EDAD_ESPECIFICA }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1872,
        640
      ],
      "id": "51d4b2f6-e9f1-40ac-9c87-e1033b390334",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.id }}/segments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"segment_ids\": [\n       \"6944ed82f96ae4d36c295c9f\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -768
      ],
      "id": "ff23efd6-1e4d-4bf9-bb0c-0b10f8403ec6",
      "name": "MOVER A SEGMENT",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "twfMJj9RfOL5G2h1",
          "name": "API FLODESK REISY"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "collection": "=L1-REG-ORG",
        "options": {
          "limit": 1
        },
        "query": "={\"whatsapp\": \"{{ $json.whatsapp }}\", \"email\": \"{{$json.email}}\"}"
      },
      "id": "c0854faa-500d-431d-b0ba-2f4138c0a11a",
      "name": "Find documents",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -288,
        -176
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "j2YBNujqV7oGjDE8",
          "name": "DB REISY"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "L1-REG-ORG",
        "fields": "=query,country,city,zip,regionName,timezone,email,whatsapp,utmCampaign,utmSource,utmMedium,utmContent,utmTerm,adid,userAgent,platform,language,tiemporegistro,fbc,fbp,isFbcGenerated",
        "options": {}
      },
      "id": "a83339fc-b5b1-47e3-99ca-90c59249a3bb",
      "name": "Insert documents",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        384,
        -272
      ],
      "credentials": {
        "mongoDb": {
          "id": "j2YBNujqV7oGjDE8",
          "name": "DB REISY"
        }
      }
    },
    {
      "parameters": {
        "collection": "=L1-REG-ORG",
        "options": {
          "limit": 1
        },
        "query": "={{ $json.toJsonString() }}"
      },
      "id": "1bdc56f3-40dd-4b74-9a9d-cb898f80f413",
      "name": "Find documents1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -112,
        272
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "j2YBNujqV7oGjDE8",
          "name": "DB REISY"
        }
      }
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "L1-REG-ORG",
        "updateKey": "_id",
        "fields": "=tiempoencuesta,Edad,Nivel_de_estudios,Ocupaci贸n,Ingresos",
        "options": {}
      },
      "id": "63ff7122-c61b-44b8-9a5b-8d6afbb57919",
      "name": "Find and update documents",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        976,
        448
      ],
      "credentials": {
        "mongoDb": {
          "id": "j2YBNujqV7oGjDE8",
          "name": "DB REISY"
        }
      }
    }
  ],
  "pinData": {
    "REGISTRO": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6.2 Mobile/22G100 Safari/604.1",
            "content-length": "422",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "es-419,es;q=0.9",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2800:e6:5400:dec4:ecca:73dd:6a87:6e5f",
            "cf-ipcountry": "CO",
            "cf-ray": "98785ce55babb08a-MIA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=3, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2800:e6:5400:dec4:ecca:73dd:6a87:6e5f, 172.68.12.73",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3393e017d3a9",
            "x-real-ip": "172.68.12.73"
          },
          "params": {},
          "query": {},
          "body": {
            "tiemporegistro": 1759283987,
            "email": "frankgonzalezm21@gmail.com",
            "whatsapp": "+573218504711",
            "utmCampaign": "-",
            "utmSource": "-",
            "utmMedium": "-",
            "utmContent": "-",
            "utmTerm": "-",
            "adid": "-",
            "userAgent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6.2 Mobile/22G100 Safari/604.1",
            "platform": "iPhone",
            "language": "es-419",
            "fbc": "-",
            "fbp": "-",
            "isFbcGenerated": false
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/reg-l9",
          "executionMode": "production"
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "tiemporegistro": 1759283987,
          "email": "frankgonzalezm21@gmail.com",
          "whatsapp": "+573218504711",
          "utmCampaign": "-",
          "utmSource": "-",
          "utmMedium": "-",
          "utmContent": "-",
          "utmTerm": "-",
          "adid": "-",
          "userAgent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6.2 Mobile/22G100 Safari/604.1",
          "platform": "iPhone",
          "language": "es-419",
          "fbc": "-",
          "fbp": "-",
          "isFbcGenerated": false
        }
      }
    ],
    "If": [
      {
        "json": {}
      }
    ],
    "Merge": [
      {
        "json": {
          "status": "success",
          "country": "United States",
          "countryCode": "US",
          "region": "FL",
          "regionName": "Florida",
          "city": "Miami",
          "zip": "",
          "lat": 25.7616,
          "lon": -80.1917,
          "timezone": "America/New_York",
          "isp": "Cloudflare, Inc.",
          "org": "Cloudflare WARP",
          "as": "AS13335 Cloudflare, Inc.",
          "query": "172.68.12.73",
          "tiemporegistro": 1759283987,
          "email": "frankgonzalezm21@gmail.com",
          "whatsapp": "+573218504711",
          "utmCampaign": "-",
          "utmSource": "-",
          "utmMedium": "-",
          "utmContent": "-",
          "utmTerm": "-",
          "adid": "-",
          "userAgent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6.2 Mobile/22G100 Safari/604.1",
          "platform": "iPhone",
          "language": "es-419",
          "fbc": "-",
          "fbp": "-",
          "isFbcGenerated": false
        }
      }
    ],
    "Edit Fields2": [
      {
        "json": {
          "ip": "172.68.12.73"
        }
      }
    ],
    "Merge2": [
      {
        "json": {
          "status": "success",
          "country": "United States",
          "countryCode": "US",
          "region": "FL",
          "regionName": "Florida",
          "city": "Miami",
          "zip": "",
          "lat": 25.7616,
          "lon": -80.1917,
          "timezone": "America/New_York",
          "isp": "Cloudflare, Inc.",
          "org": "Cloudflare WARP",
          "as": "AS13335 Cloudflare, Inc.",
          "query": "172.68.12.73",
          "tiemporegistro": 1759283987,
          "email": "frankgonzalezm21@gmail.com",
          "whatsapp": "+573218504711",
          "utmCampaign": "-",
          "utmSource": "-",
          "utmMedium": "-",
          "utmContent": "-",
          "utmTerm": "-",
          "adid": "-",
          "userAgent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6.2 Mobile/22G100 Safari/604.1",
          "platform": "iPhone",
          "language": "es-419",
          "fbc": "-",
          "fbp": "-",
          "isFbcGenerated": false
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "status": "success",
          "country": "United States",
          "countryCode": "US",
          "region": "FL",
          "regionName": "Florida",
          "city": "Miami",
          "zip": "",
          "lat": 25.7616,
          "lon": -80.1917,
          "timezone": "America/New_York",
          "isp": "Cloudflare, Inc.",
          "org": "Cloudflare WARP",
          "as": "AS13335 Cloudflare, Inc.",
          "query": "172.68.12.73"
        }
      }
    ],
    "Find documents": [
      {
        "json": {}
      }
    ],
    "Insert documents": [
      {
        "json": {
          "query": "172.68.12.73",
          "country": "United States",
          "city": "Miami",
          "zip": "",
          "regionName": "Florida",
          "timezone": "America/New_York",
          "email": "frankgonzalezm21@gmail.com",
          "whatsapp": "+573218504711",
          "utmCampaign": "-",
          "utmSource": "-",
          "utmMedium": "-",
          "utmContent": "-",
          "utmTerm": "-",
          "adid": "-",
          "userAgent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6.2 Mobile/22G100 Safari/604.1",
          "platform": "iPhone",
          "language": "es-419",
          "tiemporegistro": 1759283987,
          "fbc": "-",
          "fbp": "-",
          "isFbcGenerated": false,
          "_id": "68dc8b1647394f4b1a947842",
          "id": "68dc8b1647394f4b1a947842"
        }
      }
    ],
    "ENCUESTA": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "377",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "es-US,es-419;q=0.9,es;q=0.8",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "186.169.115.131",
            "cf-ipcountry": "CO",
            "cf-ray": "9b02d972ee97204d-MIA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "https://www.trabajandoremoto.org",
            "priority": "u=1, i",
            "referer": "https://www.trabajandoremoto.org/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "186.169.115.131, 172.68.12.73",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3a6a6ec7bbe4",
            "x-real-ip": "172.68.12.73"
          },
          "params": {},
          "query": {},
          "body": {
            "answersJson": "{\n  \"Edad\": \"25-34 a帽os\",\n  \"Nivel_de_estudios\": \"Universitario/Pregrado (completado o en curso)\",\n  \"Ocupaci贸n\": \"Trabajo independiente (freelancer/emprendedor)\",\n  \"Ingresos\": \"+1700 USD\"\n}",
            "referrer": "https://www.trabajandoremoto.org/l1-reg",
            "email": "santielmejor1296@gmail.com",
            "whatsapp": "+573245904626",
            "tiempoencuesta": 1766104833
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/l1-reisy-enc",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-12-19T06:14:32.364Z",
      "createdAt": "2025-12-19T06:14:32.364Z",
      "role": "workflow:owner",
      "workflowId": "jcXESplXcjDzymd9",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-12-19T06:30:19.000Z",
  "versionId": "b3d52516-5b00-4de1-b3eb-3c8605bbac52"
}