backup/2025/03/Dkjt9N8Ml545rg93.json
{
  "active": true,
  "connections": {
    "ESTADO": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASIGNA1": {
      "main": [
        [
          {
            "node": "BUSCA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ASIGNA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "EVENTO +",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA": {
      "main": [
        [
          {
            "node": "ESTADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "CONT +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONT +1": {
      "main": [
        [
          {
            "node": "CLIENTE +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENTE +1": {
      "main": [
        [
          {
            "node": "REGISTRO +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO +1": {
      "main": [
        [
          {
            "node": "BUSCA ASESOR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EVENTO +": {
      "main": [
        [
          {
            "node": "UPD. ESTADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPD. ESTADO": {
      "main": [
        [
          {
            "node": "BUSCA ASESOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ASESOR3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ASESOR": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-03T07:34:42.806Z",
  "id": "Dkjt9N8Ml545rg93",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[BACKEND-CIERRES] MASIVOS MANYCHAT",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "16e2bc07-c05c-4e36-bd5d-d313d0d81cac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NUEVO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36834769-c9f1-4fc7-ac70-73892aeba8e3",
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIEJO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        140,
        180
      ],
      "id": "4d8bd6e9-5202-4479-903a-6716e3b0d3cc",
      "name": "ESTADO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1694f53-f949-4b5b-a117-26e31093c173",
              "name": "numero",
              "value": "={{ $json.body.whatsapp_phone }}",
              "type": "string"
            },
            {
              "id": "2c9c1f4f-b8e5-4026-8703-7794fa555e7d",
              "name": "nombre",
              "value": "={{ $json.body.first_name }}",
              "type": "string"
            },
            {
              "id": "8ca7793e-3a86-498a-ae99-26cdb7091142",
              "name": "fuente",
              "value": "={{ $json.body.custom_fields.FUENTE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        180
      ],
      "id": "08f24a43-4b82-4080-8704-a555ad0feeb8",
      "name": "ASIGNA1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manychat-masivos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        180
      ],
      "id": "38991ac0-9bcf-4743-b789-fad71b71d81b",
      "name": "Webhook",
      "webhookId": "b517267d-174d-4a12-9a1d-2595fa0d9899"
    },
    {
      "parameters": {
        "chatId": "={{ $('BUSCA ASESOR3').item.json.ID_TG }}",
        "text": "=*CLIENTE CONTEST MENSAJE MASIVO*\n\nUn cliente acaba de responder mensajes masivos de WHATSAPP de la categoria: \"{{$('ASIGNA1').item.json.fuente}}\"\n\nWhatsapp: {{ $json.whatsapp }}\nCorreo: {{ $json.email }}\n\nEsto respondi贸 a la encuesta de ingreso \n\nEdad: {{ $json.Edad }}\nocupaci贸n: {{ $json['Ocupaci贸n'] }}\nproposito de eliminar el dolor: {{ $json.Eliminar_dolor_para }}\npais: {{ $json.country }}\ningresos: {{ $json.Ingresos }}\n\nCONTACTAR DE INMEDIATO Y ENTENDER QUE SON VENTAS PURAS, hay que dar mucha informaci贸n.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "IR AL CHAT",
                    "additionalFields": {
                      "url": "=wa.me/{{ $('ASIGNA1').item.json.numero.replace(\"+\",\"\") }}"
                    }
                  },
                  {
                    "text": "IR A REPORTAR",
                    "additionalFields": {
                      "url": "https://sistema-cierres-ger.automscc.com/"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1700,
        80
      ],
      "id": "a5585fb4-600b-40a6-aa3b-ecfd6542ab96",
      "name": "Telegram",
      "webhookId": "67ebeb4d-e22b-47dd-9f70-0c0201c1eb26",
      "credentials": {
        "telegramApi": {
          "id": "QruLAfRq4u80XCVX",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fbd224f-ebd3-4e33-93bd-e640cdd3b467",
              "leftValue": "={{ $json.ESTADO }}",
              "rightValue": "PAGADO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ],
      "id": "b71aba9e-c0cd-47bd-a0a9-758e98fe4823",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "WHATSAPP",
              "condition": "LIKE",
              "value": "=%{{$json.numero.toString().slice(-6)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -40,
        180
      ],
      "id": "af5e02aa-3838-467d-bc06-99d5d9ee9352",
      "name": "BUSCA",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "sort": {
          "values": [
            {
              "column": "MASIVOS"
            },
            {
              "column": "ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        80
      ],
      "id": "d0d971f2-7127-4f7a-9e16-fc9ab3966901",
      "name": "Limit",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "MASIVOS": "={{ $json.MASIVOS + 1 }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "RECHAZADOS",
              "displayName": "RECHAZADOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRITOS",
              "displayName": "CARRITOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TICKETS",
              "displayName": "TICKETS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPRAS",
              "displayName": "COMPRAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ES_ADMIN",
              "displayName": "ES_ADMIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_TG",
              "displayName": "ID_TG",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MASIVOS",
              "displayName": "MASIVOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        520,
        80
      ],
      "id": "ffea7b9e-df58-4814-a8b4-38d3eb45ade3",
      "name": "CONT +1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ESTADO": "MASIVOS",
            "WHATSAPP": "={{ $('ASIGNA1').item.json.numero }}",
            "ID_ASESOR": "={{ $('Limit').item.json.ID }}",
            "FECHA_CREACION": "={{ $now.toSeconds().floor() }}",
            "NOMBRE": "={{ $('ASIGNA1').item.json.nombre }}",
            "NOMBRE_ASESOR": "={{ $('Limit').item.json.NOMBRE }}",
            "WHA_ASESOR": "={{ $('Limit').item.json.WHATSAPP }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_ASESOR",
              "displayName": "ID_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE_ASESOR",
              "displayName": "NOMBRE_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHA_ASESOR",
              "displayName": "WHA_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_CREACION",
              "displayName": "FECHA_CREACION",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_COMPRA",
              "displayName": "FECHA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDIO_COMPRA",
              "displayName": "MEDIO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONTO_COMPRA",
              "displayName": "MONTO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONEDA_COMPRA",
              "displayName": "MONEDA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        80
      ],
      "id": "860b5c4a-face-4c94-bf40-7fc54ef8f792",
      "name": "CLIENTE +1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_REGISTROS",
          "mode": "list",
          "cachedResultName": "GERSSON_REGISTROS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CLIENTE": "={{ $json.ID }}",
            "FECHA_EVENTO": "={{ $now.toSeconds().floor() }}",
            "TIPO_EVENTO": "MASIVOS"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_CLIENTE",
              "displayName": "ID_CLIENTE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO_EVENTO",
              "displayName": "TIPO_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_EVENTO",
              "displayName": "FECHA_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        80
      ],
      "id": "0f58fdfd-49c0-4db7-a116-1b2ba9999e79",
      "name": "REGISTRO +1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('BUSCA ASESOR').item.json.ID_TG }}",
        "text": "=*UN CLIENTE ASIGNADO A TI CONTEST MENSAJE MASIVO*\n\nUn cliente acaba de responder mensajes masivos de WHATSAPP de la categoria: \"{{$('ASIGNA1').item.json.fuente}}\"\n\nWhatsapp: {{ $json.whatsapp }}\nCorreo: {{ $json.email }}\n\nEsto respondi贸 a la encuesta de ingreso \n\nEdad: {{ $json.Edad }}\nocupaci贸n: {{ $json['Ocupaci贸n'] }}\nproposito de eliminar el dolor: {{ $json.Eliminar_dolor_para }}\npais: {{ $json.country }}\ningresos: {{ $json.Ingresos }}\n\nCONTACTAR DE INMEDIATO Y ENTENDER QUE SON VENTAS PURAS, hay que dar mucha informaci贸n.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "IR AL CHAT",
                    "additionalFields": {
                      "url": "=wa.me/{{ $('ASIGNA1').item.json.numero.replace(\"+\",\"\") }}"
                    }
                  },
                  {
                    "text": "IR A REPORTAR",
                    "additionalFields": {
                      "url": "https://sistema-cierres-ger.automscc.com/"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        380
      ],
      "id": "2fb29bde-e34e-45ea-a3d3-4def0d5bd27e",
      "name": "Telegram1",
      "webhookId": "67ebeb4d-e22b-47dd-9f70-0c0201c1eb26",
      "credentials": {
        "telegramApi": {
          "id": "QruLAfRq4u80XCVX",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_REGISTROS",
          "mode": "list",
          "cachedResultName": "GERSSON_REGISTROS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CLIENTE": "={{$('BUSCA').item.json.ID}}",
            "TIPO_EVENTO": "=MASIVOS",
            "FECHA_EVENTO": "={{ $now.toSeconds().floor() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_CLIENTE",
              "displayName": "ID_CLIENTE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO_EVENTO",
              "displayName": "TIPO_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_EVENTO",
              "displayName": "FECHA_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        380
      ],
      "id": "8dffe042-ae4c-4d23-a3ed-f1418f3aab73",
      "name": "EVENTO +",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{$('BUSCA').item.json.ID}}",
            "ESTADO": "=MASIVOS"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_ASESOR",
              "displayName": "ID_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE_ASESOR",
              "displayName": "NOMBRE_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHA_ASESOR",
              "displayName": "WHA_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA_CREACION",
              "displayName": "FECHA_CREACION",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA_COMPRA",
              "displayName": "FECHA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDIO_COMPRA",
              "displayName": "MEDIO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONTO_COMPRA",
              "displayName": "MONTO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONEDA_COMPRA",
              "displayName": "MONEDA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        380
      ],
      "id": "ad275580-27a8-42e1-8d8d-fc0546bd84a2",
      "name": "UPD. ESTADO",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const whatsapp = item.json.whatsapp || \"\"; // Verifica si existe el campo WhatsApp\n  \n if (whatsapp) {\n    return {\n      json: {\n        whatsapp: {\n          \"$regex\": `.*${whatsapp.slice(-6)}.*`,\n          \"$options\": \"i\"\n        }\n      }\n    };\n  } else {\n    throw new Error(\"No se proporcionaron datos de WhatsApp ni correo electr贸nico.\");\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        80
      ],
      "id": "2d9e50e7-dafb-4a24-a4c1-582c8ec89e9b",
      "name": "Code1"
    },
    {
      "parameters": {
        "collection": "=TD-l6",
        "options": {
          "limit": 1
        },
        "query": "={{ $json.toJsonString() }}"
      },
      "id": "8c046722-c946-4929-b1a5-e08376ba3d3e",
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1540,
        80
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfe23bab-7c1a-4462-ad5b-b7291ee8d7af",
              "name": "whatsapp",
              "value": "={{ $('ASIGNA1').item.json.numero }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        80
      ],
      "id": "b613df7b-aca2-4b1e-997f-b22a531fc7f1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const whatsapp = item.json.whatsapp || \"\"; // Verifica si existe el campo WhatsApp\n  \n if (whatsapp) {\n    return {\n      json: {\n        whatsapp: {\n          \"$regex\": `.*${whatsapp.slice(-6)}.*`,\n          \"$options\": \"i\"\n        }\n      }\n    };\n  } else {\n    throw new Error(\"No se proporcionaron datos de WhatsApp ni correo electr贸nico.\");\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        380
      ],
      "id": "857545bc-05c4-47f1-88e7-c54e10c20011",
      "name": "Code"
    },
    {
      "parameters": {
        "collection": "=TD-l6",
        "options": {
          "limit": 1
        },
        "query": "={{ $json.toJsonString() }}"
      },
      "id": "7e5260ff-0431-4272-b63f-bb31eb6b6e92",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1500,
        380
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfe23bab-7c1a-4462-ad5b-b7291ee8d7af",
              "name": "whatsapp",
              "value": "={{ $('ASIGNA1').item.json.numero }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        380
      ],
      "id": "be93c672-5d53-4202-9f03-57f998b1ca5f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $('Limit').item.json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        80
      ],
      "id": "b7ca42ca-d79c-454d-9d44-4a7b942e81b2",
      "name": "BUSCA ASESOR3",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID_ASESOR }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        380
      ],
      "id": "bf2d46d3-63e0-4ab6-b194-2d3d47b3ee8f",
      "name": "BUSCA ASESOR",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS PROPIO"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "ManyChat",
            "content-length": "901",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "3.72.232.123",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "810e17e1473f",
            "x-real-ip": "3.72.232.123",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "key": "user:1863463891",
            "id": "1863463891",
            "page_id": "288702267651723",
            "user_refs": [],
            "status": "active",
            "first_name": "+593963032102",
            "last_name": "",
            "name": "+593963032102",
            "gender": null,
            "profile_pic": null,
            "locale": null,
            "language": null,
            "timezone": "UTC卤00",
            "live_chat_url": "https://app.manychat.com/fb288702267651723/chat/1863463891",
            "last_input_text": "APRENDE CMO",
            "optin_phone": false,
            "phone": null,
            "optin_email": false,
            "email": null,
            "subscribed": "2025-02-07T23:33:40-05:00",
            "last_interaction": null,
            "ig_last_interaction": null,
            "last_seen": null,
            "ig_last_seen": null,
            "is_followup_enabled": true,
            "ig_username": null,
            "ig_id": null,
            "whatsapp_phone": "+593963032102",
            "optin_whatsapp": true,
            "phone_country_code": null,
            "last_growth_tool": null,
            "custom_fields": {
              "CLICS-POSITIVOS": 3,
              "FUENTE": "PERSONAS-NEGOCIO",
              "ImagenDINAMICA": null,
              "NombrecompletoUSER": null,
              "PROBABILIDAD-ENC": 458,
              "PUNTAJE-ACCIONES": null,
              "URLfoto": null
            }
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/manychat-masivos",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T17:28:33.000Z",
  "versionId": "5f467808-24af-4aca-be64-f570f01303d3"
}