backup/2025/03/H8LDNiNzqx5Fop5C.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-02T18:42:28.229Z",
  "id": "H8LDNiNzqx5Fop5C",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ESCRITURA ETIQUETAS MANYCHAT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manychat-clase1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -420,
        -80
      ],
      "id": "c1de5270-0985-484c-ae96-7e36fad70a08",
      "name": "Webhook",
      "webhookId": "b470693c-e4b3-42ff-b29e-2f81f9547b56"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "TD-l6",
        "updateKey": "whatsapp",
        "fields": "clics-positivos",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        20,
        -80
      ],
      "id": "07f92f3c-c6f6-4713-98f6-f921bdfc2b64",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4223756b-8453-4575-9f26-4b707e1e64c3",
              "name": "whatsapp",
              "value": "={{ $json.body.first_name }}",
              "type": "string"
            },
            {
              "id": "327adeca-ed58-4575-8944-5c5720455fb8",
              "name": "clics-positivos",
              "value": "={{ $json.body.custom_fields[\"CLICS-POSITIVOS\"]>0?$json.body.custom_fields[\"CLICS-POSITIVOS\"]:0 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        -80
      ],
      "id": "ef800086-3092-459b-89e6-87b595cc86c5",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "ManyChat",
            "content-length": "874",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "3.72.232.123",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "810e17e1473f",
            "x-real-ip": "3.72.232.123",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "key": "user:1105655484",
            "id": "1105655484",
            "page_id": "288702267651723",
            "user_refs": [],
            "status": "active",
            "first_name": "+593991524488",
            "last_name": "",
            "name": "+593991524488",
            "gender": null,
            "profile_pic": null,
            "locale": null,
            "language": null,
            "timezone": "UTC±00",
            "live_chat_url": "https://app.manychat.com/fb288702267651723/chat/1105655484",
            "last_input_text": "No puedo acceder",
            "optin_phone": false,
            "phone": null,
            "optin_email": false,
            "email": null,
            "subscribed": "2025-02-20T14:50:09-05:00",
            "last_interaction": null,
            "ig_last_interaction": null,
            "last_seen": null,
            "ig_last_seen": null,
            "is_followup_enabled": true,
            "ig_username": null,
            "ig_id": null,
            "whatsapp_phone": "+593991524488",
            "optin_whatsapp": true,
            "phone_country_code": null,
            "last_growth_tool": null,
            "custom_fields": {
              "CLICS-POSITIVOS": 1,
              "ImagenDINAMICA": null,
              "NombrecompletoUSER": null,
              "PROBABILIDAD-ENC": 3,
              "PUNTAJE-ACCIONES": null,
              "URLfoto": null
            }
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/manychat-clase1",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-13T00:20:04.000Z",
  "versionId": "4896bf5a-0cae-41fe-8a54-d85e26c964f0"
}