backup/2025/03/pynQEqeOe8xpaINg.json
{
  "active": true,
  "connections": {
    "ESTADO": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url": {
      "main": [
        [
          {
            "node": "mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUSCA ASESOR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASIGNA1": {
      "main": [
        [
          {
            "node": "BUSCA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ASIGNA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA": {
      "main": [
        [
          {
            "node": "ESTADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "CONT +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONT +1": {
      "main": [
        [
          {
            "node": "CLIENTE +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENTE +1": {
      "main": [
        [
          {
            "node": "REGISTRO +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO +1": {
      "main": [
        [
          {
            "node": "BUSCA ASESOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ASESOR": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ASESOR1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ENVIAR A ACADEMIA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REGISTRO +",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO +": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-15T19:03:49.703Z",
  "id": "pynQEqeOe8xpaINg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🟢 [BACKEND-CEJAS] LINK",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "16e2bc07-c05c-4e36-bd5d-d313d0d81cac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NUEVO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36834769-c9f1-4fc7-ac70-73892aeba8e3",
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIEJO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -620,
        -80
      ],
      "id": "d522a991-6721-4795-b4ae-54534a0d0ce8",
      "name": "ESTADO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "647c5210-297d-40fc-bb27-c3c8ce0ed0fa",
              "name": "url",
              "value": "=https://wa.me/{{$json.WHA_ASESOR}}",
              "type": "string"
            },
            {
              "id": "f6d04cf3-c961-4bd9-847c-7fac41fcdee8",
              "name": "mensaje_compradores",
              "value": "Hola, ya hice la compra y tengo un problema, mi nombre es",
              "type": "string"
            },
            {
              "id": "f14f4bb3-64f6-4740-916e-417e77f767b5",
              "name": "mensaje_nocompradores",
              "value": "Hola, quiero inscribirme pero tengo unas dudas o problemas, mi nombre es",
              "type": "string"
            },
            {
              "id": "fca4add6-f9db-4ce7-9e77-7aa58de8c5e8",
              "name": "whatsapp",
              "value": "={{ $json.WHATSAPP }}",
              "type": "string"
            },
            {
              "id": "c1e5a862-7966-48fc-92b7-ba8b41fce268",
              "name": "ID_ASESOR",
              "value": "={{ $json.ID_ASESOR }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -20
      ],
      "id": "76dc2b9d-3ceb-430c-add3-7b1767dc3b32",
      "name": "url"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3397829-8df3-4b88-91e3-cdf65ab939b4",
              "name": "mensaje",
              "value": "={{ $json[\"¿Ya compraste el curso?\"] == \"si\" ? $json.mensaje_compradores : $json.mensaje_nocompradores }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -20
      ],
      "id": "20898b49-fb15-48a0-8671-aaf14fd0a7b1",
      "name": "mensaje"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1694f53-f949-4b5b-a117-26e31093c173",
              "name": "compra",
              "value": "={{ $json.body.courseStatus }}",
              "type": "string"
            },
            {
              "id": "a706139e-ebc8-4d42-93ab-65e2e4cf848b",
              "name": "Nombre",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "a51e8ec7-802b-42be-a956-0217e0abeb96",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp.replace(\"+\",\"\") }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -940,
        -80
      ],
      "id": "7eccc3b1-85d7-4a05-a35d-275e4c9d9859",
      "name": "ASIGNA1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soporte-cejas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        -80
      ],
      "id": "a2101a04-08e2-4ab1-bbb9-e4a5944f0c78",
      "name": "Webhook",
      "webhookId": "08c2b2ac-9d2c-4ae1-8f76-9214262299bc"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"url\": \"{{ $('url').item.json.url }}?text={{ encodeURIComponent($('mensaje').item.json.mensaje) }}+{{ $('ASIGNA1').item.json.Nombre }}\"\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        820,
        40
      ],
      "id": "2e006098-b2f6-44a8-b039-68ce3a6025c1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "chatId": "={{ $json.ID_TG }}",
        "text": "=*CLIENTE INGRESÓ SUS DATOS EN LINK DE SOPORTE*\n\nUn clinte puso sus datos en el link de soporte, te debe llegar directamente a tu whatsapp, si no llega, escribele 👇🏻\n\nNombre: {{ $('ASIGNA1').item.json.Nombre }}\nWhatsapp ingresado: {{ $('ASIGNA1').item.json.whatsapp }}\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "IR AL CHAT",
                    "additionalFields": {
                      "url": "=wa.me/{{ $('ASIGNA1').item.json.whatsapp }}"
                    }
                  },
                  {
                    "text": "REPORTAR - [CEJAS]",
                    "additionalFields": {
                      "url": "https://cierres-unas.automscc.com/"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        -160
      ],
      "id": "5b821097-e882-4be8-9dd6-5a16ffd0ca1f",
      "name": "Telegram",
      "webhookId": "a17e5ef2-a6f9-42ee-b6f1-eef3362d6103",
      "credentials": {
        "telegramApi": {
          "id": "pZuvWEceEP10tbiQ",
          "name": "BOT CEJAS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "WHATSAPP",
              "condition": "LIKE",
              "value": "=%{{$('ASIGNA1').item.json.whatsapp.toString().slice(-7)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -780,
        -80
      ],
      "id": "85e348a9-2e72-433c-bf29-d846c3fafb51",
      "name": "BUSCA",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ZfOE9MniAqSzUTvd",
          "name": "POSTGRESS CEJAS"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "sort": {
          "values": [
            {
              "column": "LINK"
            },
            {
              "column": "ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -400,
        -180
      ],
      "id": "5537f2d2-6a2c-4752-913c-74b87359be41",
      "name": "Limit",
      "credentials": {
        "postgres": {
          "id": "ZfOE9MniAqSzUTvd",
          "name": "POSTGRESS CEJAS"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "LINK": "={{ $json.LINK + 1 }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RECHAZADOS",
              "displayName": "RECHAZADOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRITOS",
              "displayName": "CARRITOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TICKETS",
              "displayName": "TICKETS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPRAS",
              "displayName": "COMPRAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ES_ADMIN",
              "displayName": "ES_ADMIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_TG",
              "displayName": "ID_TG",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MASIVOS",
              "displayName": "MASIVOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -240,
        -180
      ],
      "id": "9d72c78c-97fa-4180-a664-1015e89087db",
      "name": "CONT +1",
      "credentials": {
        "postgres": {
          "id": "ZfOE9MniAqSzUTvd",
          "name": "POSTGRESS CEJAS"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ESTADO": "LINK",
            "WHATSAPP": "={{ $('ASIGNA1').item.json.whatsapp }}",
            "ID_ASESOR": "={{ $('Limit').item.json.ID }}",
            "FECHA_CREACION": "={{ $now.toSeconds().floor() }}",
            "NOMBRE": "={{ $('ASIGNA1').item.json.Nombre }}",
            "NOMBRE_ASESOR": "={{ $('Limit').item.json.NOMBRE }}",
            "WHA_ASESOR": "={{ $('Limit').item.json.WHATSAPP }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_ASESOR",
              "displayName": "ID_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE_ASESOR",
              "displayName": "NOMBRE_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHA_ASESOR",
              "displayName": "WHA_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_CREACION",
              "displayName": "FECHA_CREACION",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_COMPRA",
              "displayName": "FECHA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDIO_COMPRA",
              "displayName": "MEDIO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONTO_COMPRA",
              "displayName": "MONTO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONEDA_COMPRA",
              "displayName": "MONEDA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -80,
        -180
      ],
      "id": "b5934632-4e62-4e81-8e95-26484fc4c36f",
      "name": "CLIENTE +1",
      "credentials": {
        "postgres": {
          "id": "ZfOE9MniAqSzUTvd",
          "name": "POSTGRESS CEJAS"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_REGISTROS",
          "mode": "list",
          "cachedResultName": "GERSSON_REGISTROS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CLIENTE": "={{ $json.ID }}",
            "TIPO_EVENTO": "LINK",
            "FECHA_EVENTO": "={{ $now.toSeconds().floor() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_CLIENTE",
              "displayName": "ID_CLIENTE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO_EVENTO",
              "displayName": "TIPO_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_EVENTO",
              "displayName": "FECHA_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        80,
        -180
      ],
      "id": "fce209f2-dd4f-4788-989e-31d2d5616184",
      "name": "REGISTRO +1",
      "credentials": {
        "postgres": {
          "id": "ZfOE9MniAqSzUTvd",
          "name": "POSTGRESS CEJAS"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "WHATSAPP",
              "condition": "LIKE",
              "value": "=%{{$('ASIGNA1').item.json.whatsapp.toString().slice(-5)}}%"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        -180
      ],
      "id": "ef357c1b-45c9-41ac-96d9-6bffde7138ae",
      "name": "BUSCA ASESOR",
      "credentials": {
        "postgres": {
          "id": "ZfOE9MniAqSzUTvd",
          "name": "POSTGRESS CEJAS"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $('url').item.json.ID_ASESOR }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        820,
        -160
      ],
      "id": "fa27c14e-666e-40cf-afae-40fc90dc8712",
      "name": "BUSCA ASESOR1",
      "credentials": {
        "postgres": {
          "id": "ZfOE9MniAqSzUTvd",
          "name": "POSTGRESS CEJAS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fbd224f-ebd3-4e33-93bd-e640cdd3b467",
              "leftValue": "={{ $json.ESTADO }}",
              "rightValue": "PAGADO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        60
      ],
      "id": "4ad06702-7ee5-4e17-9b4f-61a0882ec06a",
      "name": "If"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_REGISTROS",
          "mode": "list",
          "cachedResultName": "GERSSON_REGISTROS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CLIENTE": "={{ $json.ID }}",
            "TIPO_EVENTO": "LINK",
            "FECHA_EVENTO": "={{ $now.toSeconds().floor() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_CLIENTE",
              "displayName": "ID_CLIENTE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO_EVENTO",
              "displayName": "TIPO_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_EVENTO",
              "displayName": "FECHA_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        120,
        140
      ],
      "id": "bc2d576d-95f8-4b26-8a28-50ff7f1811d5",
      "name": "REGISTRO +",
      "credentials": {
        "postgres": {
          "id": "ZfOE9MniAqSzUTvd",
          "name": "POSTGRESS CEJAS"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"url\": \"wa.me/573107174784?text=Ya+compre+y+necesito+ayuda.\"\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        120,
        0
      ],
      "id": "9b46f0c5-a536-4473-a404-ea841cc123a3",
      "name": "ENVIAR A ACADEMIA"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/27.0 Chrome/125.0.0.0 Mobile Safari/537.36",
            "content-length": "60",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "es-US,es-419;q=0.9,es;q=0.8",
            "content-type": "application/json",
            "origin": "https://automscc.com",
            "priority": "u=1, i",
            "referer": "https://automscc.com/",
            "sec-ch-ua": "\"Chromium\";v=\"125\", \"Not.A/Brand\";v=\"24\", \"Samsung Internet\";v=\"27.0\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-site",
            "x-forwarded-for": "190.211.118.0",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3051a3bb6625",
            "x-real-ip": "190.211.118.0"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Dei",
            "courseStatus": "si",
            "whatsapp": "+50685911134"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/formulario-soporte",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:LINK FORM": {
      "fbclid": "IwZXh0bgNhZW0CMTEAAR20kFkfVxe1QME8-axpcta5iS2z_wUmQruHWb2Kx28iVZeVgAc7ujeoVMI_aem_M0gGPxGOdOkJiejxRbxUjQ"
    },
    "node:On form submission": {
      "fbclid": "IwZXh0bgNhZW0CMTEAAR3kxs5zCxYCSylPmDFfDbjX_CH46P9Kki3-P04EDiw9HAeMLDmUP1sXSH0_aem_aakkxOFr_Q82wwHiJ-1gEA"
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-20T03:14:39.493Z",
      "updatedAt": "2025-02-20T03:14:39.493Z",
      "id": "fMteddKWhaFhuYHk",
      "name": "MYSQL"
    },
    {
      "createdAt": "2025-03-01T20:15:02.889Z",
      "updatedAt": "2025-03-01T20:15:16.011Z",
      "id": "lxeXBAFtbakepnEg",
      "name": "BACKEND-CIERRES"
    },
    {
      "createdAt": "2025-02-04T22:36:43.008Z",
      "updatedAt": "2025-02-04T22:36:43.008Z",
      "id": "ux9yUSYJLDIzqblK",
      "name": "CARLOS ARZA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-03-17T03:27:22.000Z",
  "versionId": "c2d266ef-0421-4dc8-abf0-8a78f58a68c7"
}