backup/2025/03/z9gOoEKoqMULRoKP.json
{
  "active": false,
  "connections": {
    "ESTADO": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url": {
      "main": [
        [
          {
            "node": "mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUSCA ASESOR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASIGNA1": {
      "main": [
        [
          {
            "node": "BUSCA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ASIGNA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA": {
      "main": [
        [
          {
            "node": "ESTADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "CONT +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONT +1": {
      "main": [
        [
          {
            "node": "CLIENTE +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENTE +1": {
      "main": [
        [
          {
            "node": "REGISTRO +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO +1": {
      "main": [
        [
          {
            "node": "BUSCA ASESOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ASESOR": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ASESOR1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-05T21:03:44.484Z",
  "id": "z9gOoEKoqMULRoKP",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🟢 [BACKEND-UÑAS] LINK",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "16e2bc07-c05c-4e36-bd5d-d313d0d81cac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NUEVO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36834769-c9f1-4fc7-ac70-73892aeba8e3",
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIEJO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -620,
        -80
      ],
      "id": "79abe3af-feff-4484-8074-e7bb00542fdb",
      "name": "ESTADO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "647c5210-297d-40fc-bb27-c3c8ce0ed0fa",
              "name": "url",
              "value": "=https://wa.me/{{$json.WHA_ASESOR}}",
              "type": "string"
            },
            {
              "id": "f6d04cf3-c961-4bd9-847c-7fac41fcdee8",
              "name": "mensaje_compradores",
              "value": "Hola, ya hice la compra y tengo un problema, mi nombre es",
              "type": "string"
            },
            {
              "id": "f14f4bb3-64f6-4740-916e-417e77f767b5",
              "name": "mensaje_nocompradores",
              "value": "Hola, quiero inscribirme a la terapia del dolor pero tengo unas dudas o problemas, mi nombre es",
              "type": "string"
            },
            {
              "id": "fca4add6-f9db-4ce7-9e77-7aa58de8c5e8",
              "name": "whatsapp",
              "value": "={{ $json.WHATSAPP }}",
              "type": "string"
            },
            {
              "id": "c1e5a862-7966-48fc-92b7-ba8b41fce268",
              "name": "ID_ASESOR",
              "value": "={{ $json.ID_ASESOR }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -20
      ],
      "id": "92ae283b-ac9e-42c7-a545-e17827bfb216",
      "name": "url"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3397829-8df3-4b88-91e3-cdf65ab939b4",
              "name": "mensaje",
              "value": "={{ $json[\"¿Ya compraste el curso?\"] == \"si\" ? $json.mensaje_compradores : $json.mensaje_nocompradores }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -20
      ],
      "id": "9e4d4554-6f11-43db-b8ad-fb1e223f2060",
      "name": "mensaje"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1694f53-f949-4b5b-a117-26e31093c173",
              "name": "compra",
              "value": "={{ $json.body.courseStatus }}",
              "type": "string"
            },
            {
              "id": "a706139e-ebc8-4d42-93ab-65e2e4cf848b",
              "name": "Nombre",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "a51e8ec7-802b-42be-a956-0217e0abeb96",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp.replace(\"+\",\"\") }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -940,
        -80
      ],
      "id": "2e26fd95-cf51-436a-b914-7c2a1d2c1a8d",
      "name": "ASIGNA1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soporte-unas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        -80
      ],
      "id": "a033945f-55fb-471a-8bf9-b09ad9cc39cc",
      "name": "Webhook",
      "webhookId": "65da8b25-263f-4fab-bd8e-d2543432c9f7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"url\": \"{{ $('url').item.json.url }}?text={{ encodeURIComponent($('mensaje').item.json.mensaje) }}+{{ $('ASIGNA1').item.json.Nombre }}\"\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        820,
        40
      ],
      "id": "de630df3-0547-4b00-8682-e0acd00a040c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "chatId": "={{ $json.ID_TG }}",
        "text": "=*L. UÑAS 💅🏻*\n\n*CLIENTE INGRESÓ SUS DATOS EN LINK DE SOPORTE*\n\nUn clinte puso sus datos en el link de soporte, te debe llegar directamente a tu whatsapp, si no llega, escribele 👇🏻\n\nNombre: {{ $('ASIGNA1').item.json.Nombre }}\nWhatsapp ingresado: {{ $('ASIGNA1').item.json.whatsapp }}\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "IR AL CHAT",
                    "additionalFields": {
                      "url": "=wa.me/{{ $('ASIGNA1').item.json.whatsapp }}"
                    }
                  },
                  {
                    "text": "REPORTAR - [UÑAS 💅🏻]",
                    "additionalFields": {
                      "url": "https://cierres-unas.automscc.com/"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        -160
      ],
      "id": "1da3f05f-bf1c-4bb5-8828-950a11424998",
      "name": "Telegram",
      "webhookId": "77d8449c-e20c-4003-a663-87635de2791d",
      "credentials": {
        "telegramApi": {
          "id": "QruLAfRq4u80XCVX",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fbd224f-ebd3-4e33-93bd-e640cdd3b467",
              "leftValue": "={{ $json.ESTADO }}",
              "rightValue": "PAGADO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e7b7e260-8688-4ce7-b84f-d678057d8bec",
              "leftValue": "={{ $json.WHA_ASESOR }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -20
      ],
      "id": "6eaf4cb8-43fb-49d5-8ce4-0a8c4548e53e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "WHATSAPP",
              "condition": "LIKE",
              "value": "=%{{$('ASIGNA1').item.json.whatsapp.toString().slice(-5)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -780,
        -80
      ],
      "id": "880c1f52-6bae-42f9-92c8-0d83cd8ac5a5",
      "name": "BUSCA",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "09e84ruQK09F3oIN",
          "name": "POSTGRESS UÑAS"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "sort": {
          "values": [
            {
              "column": "LINK"
            },
            {
              "column": "ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -400,
        -180
      ],
      "id": "75847e0c-d04d-4156-99e6-abae1bf01e88",
      "name": "Limit",
      "credentials": {
        "postgres": {
          "id": "09e84ruQK09F3oIN",
          "name": "POSTGRESS UÑAS"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "LINK": "={{ $json.LINK + 1 }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RECHAZADOS",
              "displayName": "RECHAZADOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRITOS",
              "displayName": "CARRITOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TICKETS",
              "displayName": "TICKETS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPRAS",
              "displayName": "COMPRAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ES_ADMIN",
              "displayName": "ES_ADMIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_TG",
              "displayName": "ID_TG",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MASIVOS",
              "displayName": "MASIVOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -240,
        -180
      ],
      "id": "9e416c8e-5e50-4603-bb53-c687baf6a439",
      "name": "CONT +1",
      "credentials": {
        "postgres": {
          "id": "09e84ruQK09F3oIN",
          "name": "POSTGRESS UÑAS"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ESTADO": "LINK",
            "WHATSAPP": "={{ $('ASIGNA1').item.json.whatsapp }}",
            "ID_ASESOR": "={{ $('Limit').item.json.ID }}",
            "FECHA_CREACION": "={{ $now.toSeconds().floor() }}",
            "NOMBRE": "={{ $('ASIGNA1').item.json.Nombre }}",
            "NOMBRE_ASESOR": "={{ $('Limit').item.json.NOMBRE }}",
            "WHA_ASESOR": "={{ $('Limit').item.json.WHATSAPP }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_ASESOR",
              "displayName": "ID_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE_ASESOR",
              "displayName": "NOMBRE_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHA_ASESOR",
              "displayName": "WHA_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_CREACION",
              "displayName": "FECHA_CREACION",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_COMPRA",
              "displayName": "FECHA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDIO_COMPRA",
              "displayName": "MEDIO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONTO_COMPRA",
              "displayName": "MONTO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONEDA_COMPRA",
              "displayName": "MONEDA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -80,
        -180
      ],
      "id": "3c679d9a-2f5e-44bc-a594-4e74a509b827",
      "name": "CLIENTE +1",
      "credentials": {
        "postgres": {
          "id": "09e84ruQK09F3oIN",
          "name": "POSTGRESS UÑAS"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_REGISTROS",
          "mode": "list",
          "cachedResultName": "GERSSON_REGISTROS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CLIENTE": "={{ $json.ID }}",
            "TIPO_EVENTO": "LINK",
            "FECHA_EVENTO": "={{ $now.toSeconds().floor() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_CLIENTE",
              "displayName": "ID_CLIENTE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO_EVENTO",
              "displayName": "TIPO_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_EVENTO",
              "displayName": "FECHA_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        80,
        -180
      ],
      "id": "9a68447d-d957-4f9d-99ca-4d2fbf76bb0f",
      "name": "REGISTRO +1",
      "credentials": {
        "postgres": {
          "id": "09e84ruQK09F3oIN",
          "name": "POSTGRESS UÑAS"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "WHATSAPP",
              "condition": "LIKE",
              "value": "=%{{$('ASIGNA1').item.json.whatsapp.toString().slice(-5)}}%"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        -180
      ],
      "id": "0f59eaf4-7355-4565-b31d-c8d28507eea4",
      "name": "BUSCA ASESOR",
      "credentials": {
        "postgres": {
          "id": "09e84ruQK09F3oIN",
          "name": "POSTGRESS UÑAS"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $('url').item.json.ID_ASESOR }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        820,
        -160
      ],
      "id": "8b00b855-1b61-464b-8813-2681dd8202c9",
      "name": "BUSCA ASESOR1",
      "credentials": {
        "postgres": {
          "id": "09e84ruQK09F3oIN",
          "name": "POSTGRESS UÑAS"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/27.0 Chrome/125.0.0.0 Mobile Safari/537.36",
            "content-length": "60",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "es-US,es-419;q=0.9,es;q=0.8",
            "content-type": "application/json",
            "origin": "https://automscc.com",
            "priority": "u=1, i",
            "referer": "https://automscc.com/",
            "sec-ch-ua": "\"Chromium\";v=\"125\", \"Not.A/Brand\";v=\"24\", \"Samsung Internet\";v=\"27.0\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-site",
            "x-forwarded-for": "190.211.118.0",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3051a3bb6625",
            "x-real-ip": "190.211.118.0"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Dei",
            "courseStatus": "si",
            "whatsapp": "+50685911134"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/formulario-soporte",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:LINK FORM": {
      "fbclid": "IwZXh0bgNhZW0CMTEAAR20kFkfVxe1QME8-axpcta5iS2z_wUmQruHWb2Kx28iVZeVgAc7ujeoVMI_aem_M0gGPxGOdOkJiejxRbxUjQ"
    },
    "node:On form submission": {
      "fbclid": "IwZXh0bgNhZW0CMTEAAR3kxs5zCxYCSylPmDFfDbjX_CH46P9Kki3-P04EDiw9HAeMLDmUP1sXSH0_aem_aakkxOFr_Q82wwHiJ-1gEA"
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-04T22:36:35.108Z",
      "updatedAt": "2025-02-04T22:36:35.108Z",
      "id": "HjNWwvqlBnseDfSA",
      "name": "GERSSON"
    },
    {
      "createdAt": "2025-02-20T03:14:39.493Z",
      "updatedAt": "2025-02-20T03:14:39.493Z",
      "id": "fMteddKWhaFhuYHk",
      "name": "MYSQL"
    },
    {
      "createdAt": "2025-03-01T20:15:02.889Z",
      "updatedAt": "2025-03-01T20:15:16.011Z",
      "id": "lxeXBAFtbakepnEg",
      "name": "BACKEND-CIERRES"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-03-07T02:02:54.000Z",
  "versionId": "3a320482-cda7-4380-82ac-f27373c50499"
}