backup/2025/01/FsJYRWINetlfK3Md.json
{
  "active": false,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "MongoDB3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAGOS INICIADOS": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAPTURA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VENTAS HOTMART": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "MongoDB5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "MongoDB5": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-22T04:27:43.017Z",
  "id": "FsJYRWINetlfK3Md",
  "meta": null,
  "name": "🟢 [API DE CONVERSIONES] VENTAS ADRIANA - PASTELERIA",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d1a8601-a27c-4fcf-af60-e1a0d0368216",
              "name": "ip",
              "value": "={{ $json.headers['x-real-ip'] }}",
              "type": "string"
            },
            {
              "id": "830d642d-8f9a-4486-8785-f58708efdd4d",
              "name": "URLSHEET",
              "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        -460
      ],
      "id": "9af43671-0c0f-449d-87e9-19f85df8e6dd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        60,
        -560
      ],
      "id": "12129757-98b2-4aab-893a-56546da4c2de",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        -660
      ],
      "id": "8756bfab-cc4a-4635-b31f-5df891c2a834",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "collection": "=VENTAS-L1ADRIANA",
        "options": {},
        "query": "={\"uniqueIdentifier\": \"{{ $json.uniqueIdentifier }}\"}"
      },
      "id": "4d3aa933-f4e6-4474-b1ca-8bb8499bb35c",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        260,
        -560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "VENTAS-L1ADRIANA",
        "fields": "=uniqueIdentifier,utmCampaign,utmSource,utmMedium,utmContent,utmTerm,userAgent,platform,language,fbc,fbp,ip,tiemporegistro",
        "options": {}
      },
      "id": "6493563d-d483-4807-beaa-d266da64e8a8",
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        860,
        -740
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fabff8fc-63bf-43ae-9fbe-adf17df6aaf3",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        -560
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "a876deec-5205-4390-b414-c3c31e9b9952",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        660,
        -740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://graph.facebook.com/v21.0/287051727080879/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVEgZByFTLwBO66ZBE7y42DlDGsgU5FsO5ZAtuEPsBAnayYOh1PZBDBXPsoZBH5wECx0WFSYs3WlZAHzpeYEu4gWpYhHJ0S1btvKxJZAZCnqEq7NpZCZAZBVq6WSc6pLBlNvuZAtJMkb7nzi9Np31p2yoZAif7IkC5giVrwLkjV4B5XVgsZB3UlWWvVG5hxMcyWb60jnU9QZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        500
      ],
      "id": "5a7ea418-76ed-448a-9468-cf5b3959fe86",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "collection": "=VENTAS-L1ADRIANA",
        "options": {},
        "query": "={\"uniqueIdentifier\": \"{{ $json.identificador }}\"}"
      },
      "id": "2b6b9368-0759-4889-9a64-b8d62b0f50bc",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        600,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ac8b8fd2-c0ab-4937-84f6-162addc184aa",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2f5cef9-b190-4228-a36d-8672a7649c31",
              "name": "identificador",
              "value": "={{ $json.body.data.purchase.origin.xcod?$json.body.data.purchase.origin.xcod:\"\" }}",
              "type": "string"
            },
            {
              "id": "1f4f7e90-6a9c-463e-878b-f40934928311",
              "name": "telefono",
              "value": "={{ $json.body.data.buyer.checkout_phone }}",
              "type": "string"
            },
            {
              "id": "6a953b26-3dea-403d-8687-169175ac02a3",
              "name": "nombre",
              "value": "={{ $json.body.data.buyer.name.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "3dbbe535-3c73-4d4a-ac1d-30bc6a3b1880",
              "name": "correo",
              "value": "={{ $json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "83a8753f-2dc7-4b14-83d9-a0486db37ca3",
              "name": "tiempo",
              "value": "={{ $json.body.creation_date }}",
              "type": "string"
            },
            {
              "id": "5e0a7b20-9da9-4c2e-a5ec-94554d9df98b",
              "name": "pais",
              "value": "={{ $json.body.data.buyer.address.country }}",
              "type": "string"
            },
            {
              "id": "f6b3999a-a935-4875-9354-2fcf84d45d8d",
              "name": "ip",
              "value": "={{ $json.body.data.purchase.buyer_ip }}",
              "type": "string"
            },
            {
              "id": "b1a8661a-d731-42b7-a5a9-7adee0749fea",
              "name": "apellido",
              "value": "={{ $json.body.data.buyer.name.split(' ')[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        520
      ],
      "id": "499c49b3-9825-45d7-95b1-83cb3766554b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f6bd895-d3de-4fc3-aa65-16f523ad470a",
              "leftValue": "={{ $json.identificador }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        400
      ],
      "id": "ce00007f-6f5c-4421-bee5-789315dff189",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1180,
        500
      ],
      "id": "ceeb0df9-0276-4200-8430-28c7bb2b7939",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto-js'); // Asegúrate de que la librería está disponible\n\nconst item = $input.first().json;\n\nfunction hashSHA256(value) {\n  return crypto.SHA256(value).toString(crypto.enc.Hex);\n}\n\nconst encryptedData = {\n  em: [hashSHA256(item.correo)],  // Correo electrónico\n  ph: [hashSHA256(item.telefono)],  // Número de teléfono\n  fn: [hashSHA256(item.nombre)],  // Nombre\n  ln: [hashSHA256(item.apellido)],  // Apellido\n  country: [hashSHA256(item.pais)],  // País\n  zp: [hashSHA256(item.zip)], //zip\n  ct: [hashSHA256(item.city)], //ciudad\n  st: [hashSHA256(item.regionName)], //estado\n  // Datos no cifrados deben estar directamente accesibles\n  client_ip_address: item.ip,\n  client_user_agent: item.userAgent,\n  fbc: item.fbc,\n  fbp: item.fbp,\n};\n\nconst facebookEvent = {\n  data: [\n    {\n      event_name: \"Purchase\",\n      event_time: Math.floor(Date.now() / 1000), // Tiempo actual en segundos\n      action_source: \"website\",\n      original_event_data: {\n        event_name: \"Purchase\",\n        event_time: Math.floor(Date.now() / 1000)\n      },\n      user_data: encryptedData,\n      custom_data: {\n        currency: \"USD\",\n        value: 19.5\n      }\n    }\n  ]\n};\n\nreturn facebookEvent;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        500
      ],
      "id": "3c4cefcf-3db5-43f5-a62a-c5aecb30a11a",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.ip }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        220
      ],
      "id": "b6465234-a1c2-4df3-89ff-eacfa72727ce",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1000,
        240
      ],
      "id": "3effd55b-bf6e-4a9e-8a5e-1c9b63a896bd",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://graph.facebook.com/v21.0/287051727080879/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVEgZByFTLwBO66ZBE7y42DlDGsgU5FsO5ZAtuEPsBAnayYOh1PZBDBXPsoZBH5wECx0WFSYs3WlZAHzpeYEu4gWpYhHJ0S1btvKxJZAZCnqEq7NpZCZAZBVq6WSc6pLBlNvuZAtJMkb7nzi9Np31p2yoZAif7IkC5giVrwLkjV4B5XVgsZB3UlWWvVG5hxMcyWb60jnU9QZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "21eda886-60d3-49bb-9623-c6664a55c054",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n\nconst encryptedData = {\n  client_ip_address: item.ip,\n  client_user_agent: item.userAgent,\n  fbc: item.fbc,\n  fbp: item.fbp,\n};\n\nconst facebookEvent = {\n  data: [\n    {\n      event_name: \"InitiateCheckout\",\n      event_time: Math.floor(Date.now() / 1000), // Tiempo actual en segundos\n      action_source: \"website\",\n      original_event_data: {\n        event_name: \"InitiateCheckout\",\n        event_time: Math.floor(Date.now() / 1000)\n      },\n      user_data: encryptedData,\n    }\n  ]\n};\n\nreturn facebookEvent;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "fe101f2a-0427-4ab1-ab01-16586cdb62d3",
      "name": "Code1"
    },
    {
      "parameters": {
        "collection": "=VENTAS-L1ADRIANA",
        "options": {},
        "query": "={\"uniqueIdentifier\": \"{{ $json.uniqueIdentifier }}\"}"
      },
      "id": "e4009176-0512-4328-ac91-3f967d0b700b",
      "name": "MongoDB3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -40,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "516de725-5c5e-4eca-8448-faaacfdd016a",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -20
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        0
      ],
      "id": "b4d6c922-9004-4c15-b04b-c1e23fc93fb9",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pi-xcod-pasteleria-l1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        0
      ],
      "id": "97fa3cf3-21ac-407c-bd7f-82638d1af307",
      "name": "PAGOS INICIADOS",
      "webhookId": "c9a0f196-2425-43e2-8315-08675276bf11",
      "notesInFlow": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "captura-xcod-pasteleria-l1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -560
      ],
      "id": "6a06aea6-6e1c-4bcd-9561-609e3577db5e",
      "name": "CAPTURA",
      "webhookId": "c9c43e93-58e1-48a2-8b32-eb28d1920400"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-coversiones-adriana-l1-reposteria",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        520
      ],
      "id": "7d3ef75a-d40f-4d66-8b36-3bdb922ad9ed",
      "name": "VENTAS HOTMART",
      "webhookId": "6a8b6d23-141b-4c40-85bb-c0ae25f9fc8a"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "VENTAS-L1ADRIANA",
        "updateKey": "uniqueIdentifier",
        "fields": "=utmCampaign,utmSource,utmMedium,utmContent,utmTerm,userAgent,platform,language,fbc,fbp,ip",
        "options": {}
      },
      "id": "dc9ba823-fce0-4be6-a4ca-2761732b9baa",
      "name": "MongoDB5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        860,
        -380
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": "={{ $if($('Merge').item.json.utmCampaign == \"-\", 1 , 2) }}"
      },
      "id": "330b0cd4-f8a2-44c2-b2c0-28fab2156c7c",
      "name": "Merge5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        680,
        -380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7d1f77f-9585-45c0-baf9-433bb5851dfd",
              "leftValue": "={{ $json.utmCampaign }}",
              "rightValue": "-",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        -380
      ],
      "id": "99dbd786-fc06-4494-82d5-b97d925c1826",
      "name": "If5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDENTIFICADOR": "={{ $json.uniqueIdentifier }}",
            "CAMPAÑA": "={{ $json.utmCampaign }}",
            "FUENTE": "={{ $json.utmSource }}",
            "SEGMENTACIÓN": "={{ $json.utmMedium }}",
            "ANUNCIO": "={{ $json.utmContent }}",
            "TERM": "={{ $json.utmTerm }}",
            "REGISTRO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "IDENTIFICADOR"
          ],
          "schema": [
            {
              "id": "IDENTIFICADOR",
              "displayName": "IDENTIFICADOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SEGMENTACIÓN",
              "displayName": "SEGMENTACIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TERM",
              "displayName": "TERM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REGISTRO",
              "displayName": "REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PAGO INICIADO",
              "displayName": "PAGO INICIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPRA",
              "displayName": "COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1040,
        -380
      ],
      "id": "9b457f9e-38d5-41c2-a682-b8617a9faa66",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDENTIFICADOR": "={{ $json.uniqueIdentifier }}",
            "PAGO INICIADO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "IDENTIFICADOR"
          ],
          "schema": [
            {
              "id": "IDENTIFICADOR",
              "displayName": "IDENTIFICADOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SEGMENTACIÓN",
              "displayName": "SEGMENTACIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TERM",
              "displayName": "TERM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "REGISTRO",
              "displayName": "REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAGO INICIADO",
              "displayName": "PAGO INICIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "COMPRA",
              "displayName": "COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        -160
      ],
      "id": "ebd123dd-124f-435a-855f-e2b80db79e81",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDENTIFICADOR": "={{ $json.uniqueIdentifier }}",
            "COMPRA": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "IDENTIFICADOR"
          ],
          "schema": [
            {
              "id": "IDENTIFICADOR",
              "displayName": "IDENTIFICADOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SEGMENTACIÓN",
              "displayName": "SEGMENTACIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TERM",
              "displayName": "TERM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "REGISTRO",
              "displayName": "REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAGO INICIADO",
              "displayName": "PAGO INICIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPRA",
              "displayName": "COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1360,
        680
      ],
      "id": "98524808-4e5d-461b-a0e5-a1bcea4c789d",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=1975710286#gid=1975710286",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDENTIFICADOR": "={{ $json.uniqueIdentifier }}",
            "CAMPAÑA": "={{ $json.utmCampaign }}",
            "FUENTE": "={{ $json.utmSource }}",
            "SEGMENTACIÓN": "={{ $json.utmMedium }}",
            "ANUNCIO": "={{ $json.utmContent }}",
            "TERM": "={{ $json.utmTerm }}",
            "REGISTRO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "IDENTIFICADOR"
          ],
          "schema": [
            {
              "id": "IDENTIFICADOR",
              "displayName": "IDENTIFICADOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGMENTACIÓN",
              "displayName": "SEGMENTACIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TERM",
              "displayName": "TERM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REGISTRO",
              "displayName": "REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAGO INICIADO",
              "displayName": "PAGO INICIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPRA",
              "displayName": "COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1040,
        -740
      ],
      "id": "a1f08394-6fa8-4926-b64b-c6782a44d7dc",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8117750846:AAExGxB3Mbwv2YBb6b7rMAvP6vsIPeH8EIM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"-1002459933143\",\n  \"message_thread_id\": 63,\n  {{ $json.toJsonString().replace(/^\\{|\\}$/g, \"\")\n }},\n  \"parse_mode\": \"Markdown\"\n}\n",
        "options": {}
      },
      "id": "b24c0596-e7f5-4567-ae10-317c1c61d2be",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "jsonventa = $input.first().json.body.data;\n\n// Extraer datos relevantes\nconst transaction = jsonventa.purchase?.transaction || \"N/A\";\nconst buyerName = jsonventa.buyer?.name || \"N/A\";\nconst pais = jsonventa.buyer?.address?.country || \"N/A\";\nconst buyerEmail = jsonventa.buyer?.email || \"N/A\";\nconst productName = jsonventa.product?.name || \"N/A\";\nconst purchaseDate = new Date(jsonventa.purchase?.order_date).toLocaleString();\n\n// Construir el mensaje\nconst text = `\\n🔔 *Notificación de Venta* \\n\\n` +\n  `🛍 *Producto:* ${productName}\\n` +\n  `💰 *Pais:* ${pais}\\n` +\n  `👤 *Comprador:* ${buyerName}\\n` +\n  `📧 *Correo:* ${buyerEmail}\\n` +\n  `📦 *Transacción:* ${transaction}\\n` +\n  `📅 *Fecha de compra:* ${purchaseDate}\\n`;\n\n// Retornar el JSON con el mensaje\nreturn {\n  json: {\n    text,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        700
      ],
      "id": "f8f7cda9-a9dc-4e04-bee9-e8f48012138f",
      "name": "Code2"
    }
  ],
  "pinData": {
    "PAGOS INICIADOS": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 14; SM-S921U Build/UP1A.231005.007; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/132.0.6834.74 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/495.0.0.45.201;IABMV/1;]",
            "content-length": "81",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Android WebView\";v=\"132\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "174.224.22.146",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0f86eb816a4d",
            "x-real-ip": "174.224.22.146",
            "x-requested-with": "com.facebook.katana"
          },
          "params": {},
          "query": {},
          "body": {
            "uniqueIdentifier": "83a2c131-06e4-4fe2-9c8d-600b10ccc2bf",
            "tiempopi": 1737401550
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/pi-ventasg",
          "executionMode": "production"
        }
      }
    ],
    "VENTAS HOTMART": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Jodd HTTP",
            "content-length": "1355",
            "content-type": "application/json",
            "x-forwarded-for": "23.22.218.30",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0f86eb816a4d",
            "x-hotmart-hottok": "6SJkhfjuD6Bm4cha7tF8loEMs92JzG11852721",
            "x-real-ip": "23.22.218.30",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "has_co_production": true,
                "name": "Sanar con Imanes",
                "id": 2584300,
                "ucode": "3f646245-863e-4287-98fd-422437484163"
              },
              "commissions": [
                {
                  "currency_value": "USD",
                  "source": "MARKETPLACE",
                  "value": 2.97
                },
                {
                  "currency_conversion": {
                    "converted_value": 4.91,
                    "converted_to_currency": "USD",
                    "conversion_rate": 1
                  },
                  "currency_value": "USD",
                  "source": "PRODUCER",
                  "value": 4.91
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "USD",
                  "value": 30.6
                },
                "subscription_anticipation_purchase": false,
                "checkout_country": {
                  "iso": "MX",
                  "name": "Mexico"
                },
                "origin": {
                  "xcod": "78f95a7c-8757-42e2-9d23-c31c7bafd26e"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "approved_date": 1736784313000,
                "offer": {
                  "code": "wokrsz9w"
                },
                "order_date": 1736784311000,
                "price": {
                  "currency_value": "MXN",
                  "value": 634
                },
                "buyer_ip": "187.207.41.220",
                "payment": {
                  "installments_number": 1,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "MXN",
                  "value": 735.44
                },
                "invoice_by": "HOTMART",
                "transaction": "HP0015950793",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "name": "MAGNETIC THERAPY ACADEMY LLC"
              },
              "buyer": {
                "address": {
                  "country": "Mexico",
                  "country_iso": "MX"
                },
                "document": "",
                "name": "Humberto ortega",
                "checkout_phone": "525522492462",
                "email": "humbertoortegaruiz@yahoo.com.mx"
              }
            },
            "id": "fe1ec664-b91b-4ebc-a6f7-50ce0ff41688",
            "creation_date": 1736784317893,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/compra-hotmart",
          "executionMode": "production"
        }
      }
    ],
    "CAPTURA": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Mobile Safari/537.36",
            "content-length": "541",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "https://www.adrianarueda.online",
            "referer": "https://www.adrianarueda.online/",
            "sec-ch-ua": "\"Google Chrome\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "31.13.115.9",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0f86eb816a4d",
            "x-real-ip": "31.13.115.9"
          },
          "params": {},
          "query": {},
          "body": {
            "uniqueIdentifier": "a04bc095-6cdb-4cbe-ba1a-cc5ac40283c9",
            "utmCampaign": "-",
            "utmSource": "-",
            "utmMedium": "-",
            "utmContent": "-",
            "utmTerm": "-",
            "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
            "platform": "Linux x86_64",
            "language": "en-US",
            "cookiesEnabled": true,
            "localStorageAvailable": true,
            "fbc": "fb.2.1737522580.IwZXh0bgNhZW0CMTEAAR16PyeY-YYXUQo283lO0vjGxdJImCs-3DPQG_H0ELEbNEoGDEJWEj-7Q4g_aem_i-wajL93wbRCEKBY7XQEjQ",
            "fbp": "-",
            "isFbcGenerated": true,
            "tiemporegistro": 1737522580
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/captura-xcod-pasteleria-l1",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-21T17:25:59.004Z",
      "updatedAt": "2025-02-21T17:25:59.004Z",
      "id": "7jH9G2p443i4FpIv",
      "name": "WEBHOOK"
    },
    {
      "createdAt": "2025-02-21T17:26:24.993Z",
      "updatedAt": "2025-02-21T17:26:24.993Z",
      "id": "E9IVbnGJY89KtrIH",
      "name": "MONGO"
    },
    {
      "createdAt": "2025-02-04T22:36:38.756Z",
      "updatedAt": "2025-02-04T22:36:38.756Z",
      "id": "Ohxiq39PR2Apxs3c",
      "name": "ADRIANA"
    },
    {
      "createdAt": "2025-02-20T05:53:21.020Z",
      "updatedAt": "2025-02-20T05:53:21.020Z",
      "id": "yWwG6USL9X5m8h9q",
      "name": "SHEET"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2025-03-13T23:58:21.000Z",
  "versionId": "995b17f8-de47-408a-b280-31b8510870f7"
}