backup/2025/01/g84qdpdPn1QCHFUl.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-21T00:19:42.000Z",
    "createdAt": "2026-01-21T00:19:39.631Z",
    "versionId": "2784d5e5-61c4-473d-a8f1-978037e09154",
    "workflowId": "g84qdpdPn1QCHFUl",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "adriana-webhooks-hotmart",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1664,
          1072
        ],
        "id": "2f2ba063-c8e4-4906-87c2-c1342facb58c",
        "name": "Webhook",
        "webhookId": "984e9380-49c8-4e37-9c78-d8de04bd9c10"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "73ea6f4c-add8-46df-a5bf-3fbcaf97a7d2",
                "leftValue": "={{ $json.body.event }}",
                "rightValue": "PURCHASE_APPROVED",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1440,
          1072
        ],
        "id": "2896b574-e7f1-4fc9-9b67-34a9ff462696",
        "name": "If5"
      },
      {
        "parameters": {
          "jsCode": "jsonventa = $input.first().json.body.data;\n\n// Extraer datos relevantes\nconst transaction = jsonventa.purchase?.transaction || \"N/A\";\nconst buyerName = jsonventa.buyer?.name || \"N/A\";\nconst pais = jsonventa.buyer?.address?.country || \"N/A\";\nconst buyerEmail = jsonventa.buyer?.email || \"N/A\";\nconst productName = jsonventa.product?.name || \"N/A\";\nconst purchaseDate = new Date(jsonventa.purchase?.order_date).toLocaleString('es-CO', {\n  timeZone: 'America/Bogota'\n});\n\n// Construir el mensaje\nconst text = `\\n *Notificaci贸n de Venta* \\n\\n` +\n  ` *Producto:* ${productName}\\n` +\n  ` *Pais:* ${pais}\\n` +\n  ` *Comprador:* ${buyerName}\\n` +\n  ` *Correo:* ${buyerEmail}\\n` +\n  ` *Transacci贸n:* ${transaction}\\n` +\n  ` *Fecha de compra:* ${purchaseDate}\\n`;\n\n// Retornar el JSON con el mensaje\nreturn {\n  json: {\n    text,\n  },\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1136,
          1024
        ],
        "id": "5461c6b8-dd22-4c9c-abb7-e5fc1315c245",
        "name": "Code2"
      },
      {
        "parameters": {
          "chatId": "-1002459933143",
          "text": "={{ $json.text }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown",
            "message_thread_id": 1944
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -928,
          1024
        ],
        "id": "4105336b-ddcb-413c-9731-cdbe3b62def1",
        "name": "Send a text message",
        "webhookId": "cb2d4d0a-0c96-407e-b06c-4652d5622d62",
        "credentials": {
          "telegramApi": {
            "id": "wty5axEthys317UK",
            "name": "ADRIANA"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "If5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If5": {
        "main": [
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Santiago ciro",
    "name": "Version 2784d5e5",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "2784d5e5-61c4-473d-a8f1-978037e09154",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-21T18:56:07.734Z",
  "id": "g84qdpdPn1QCHFUl",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": " [ADRIANA] WEBHOOK EXCEL VENTAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adriana-webhooks-hotmart",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1664,
        1072
      ],
      "id": "2f2ba063-c8e4-4906-87c2-c1342facb58c",
      "name": "Webhook",
      "webhookId": "984e9380-49c8-4e37-9c78-d8de04bd9c10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73ea6f4c-add8-46df-a5bf-3fbcaf97a7d2",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "PURCHASE_APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        1072
      ],
      "id": "2896b574-e7f1-4fc9-9b67-34a9ff462696",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "jsonventa = $input.first().json.body.data;\n\n// Extraer datos relevantes\nconst transaction = jsonventa.purchase?.transaction || \"N/A\";\nconst buyerName = jsonventa.buyer?.name || \"N/A\";\nconst pais = jsonventa.buyer?.address?.country || \"N/A\";\nconst buyerEmail = jsonventa.buyer?.email || \"N/A\";\nconst productName = jsonventa.product?.name || \"N/A\";\nconst purchaseDate = new Date(jsonventa.purchase?.order_date).toLocaleString('es-CO', {\n  timeZone: 'America/Bogota'\n});\n\n// Construir el mensaje\nconst text = `\\n *Notificaci贸n de Venta* \\n\\n` +\n  ` *Producto:* ${productName}\\n` +\n  ` *Pais:* ${pais}\\n` +\n  ` *Comprador:* ${buyerName}\\n` +\n  ` *Correo:* ${buyerEmail}\\n` +\n  ` *Transacci贸n:* ${transaction}\\n` +\n  ` *Fecha de compra:* ${purchaseDate}\\n`;\n\n// Retornar el JSON con el mensaje\nreturn {\n  json: {\n    text,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        1024
      ],
      "id": "5461c6b8-dd22-4c9c-abb7-e5fc1315c245",
      "name": "Code2"
    },
    {
      "parameters": {
        "chatId": "-1002459933143",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown",
          "message_thread_id": 1944
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        1024
      ],
      "id": "4105336b-ddcb-413c-9731-cdbe3b62def1",
      "name": "Send a text message",
      "webhookId": "cb2d4d0a-0c96-407e-b06c-4652d5622d62",
      "credentials": {
        "telegramApi": {
          "id": "wty5axEthys317UK",
          "name": "ADRIANA"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Jodd HTTP",
            "content-length": "2206",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "3.230.142.119",
            "cf-ipcountry": "US",
            "cf-ray": "9c129900cee6c93c-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "3.230.142.119, 172.68.245.111",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3a6a6ec7bbe4",
            "x-hotmart-hottok": "ab1MBqgzWoBGjHPbjIZRreIJv1kidlf17097fe-a50d-4ba0-83a7-d6dba52a1d6d",
            "x-real-ip": "172.68.245.111"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "support@hotmart.com.br",
                "has_co_production": false,
                "name": "Produto test postback2",
                "warranty_date": "2017-12-27T00:00:00Z",
                "is_physical_product": false,
                "id": 0,
                "ucode": "fb056612-bcc6-4217-9e6d-2a5d1110ac2f",
                "content": {
                  "has_physical_products": true,
                  "products": [
                    {
                      "name": "How to Make Clear Ice",
                      "is_physical_product": false,
                      "id": 4774438,
                      "ucode": "559fef42-3406-4d82-b775-d09bd33936b1"
                    },
                    {
                      "name": "Organizador de Poeira",
                      "is_physical_product": true,
                      "id": 4999597,
                      "ucode": "099e7644-b7d1-43d6-82a9-ec6be0118a4b"
                    }
                  ]
                }
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 149.5
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 1350.5
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "sckPaymentLink": "sckPaymentLinkTest",
                "order_bump": {
                  "parent_purchase_transaction": "HP02316330308193",
                  "is_order_bump": true
                },
                "approved_date": 1511783346000,
                "offer": {
                  "code": "test",
                  "coupon_code": "SHHUHA"
                },
                "is_funnel": false,
                "event_tickets": {
                  "amount": 1768954321521
                },
                "order_date": 1511783344000,
                "price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "buyer_ip": "00.00.00.00",
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "business_model": "I",
                "transaction": "HP16015479281022",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "Q58388177J",
                  "name": "Affiliate name"
                }
              ],
              "producer": {
                "legal_nature": "Pessoa F铆sica",
                "document": "12345678965",
                "name": "Producer Test Name"
              },
              "subscription": {
                "subscriber": {
                  "code": "I9OT62C3"
                },
                "plan": {
                  "name": "plano de teste",
                  "id": 123
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "checkout_phone_code": "999999999",
                "address": {
                  "zipcode": "38400123",
                  "country": "Brasil",
                  "number": "10",
                  "address": "Avenida Francisco Galassi",
                  "city": "Uberl芒ndia",
                  "state": "Minas Gerais",
                  "neighborhood": "Tubalina",
                  "complement": "Perto do shopping",
                  "country_iso": "BR"
                },
                "document": "69526128664",
                "name": "Teste Comprador",
                "last_name": "Comprador",
                "checkout_phone": "99999999900",
                "first_name": "Teste",
                "email": "testeComprador271101postman15@example.com",
                "document_type": "CPF"
              }
            },
            "id": "d9b614cc-b9de-46f9-95bc-0f1f21a5a72d",
            "creation_date": 1768954321557,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/adriana-webhooks-hotmart",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-01-21T18:56:07.741Z",
      "createdAt": "2025-01-21T18:56:07.741Z",
      "role": "workflow:owner",
      "workflowId": "g84qdpdPn1QCHFUl",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-02-21T17:25:59.004Z",
      "createdAt": "2025-02-21T17:25:59.004Z",
      "id": "7jH9G2p443i4FpIv",
      "name": "WEBHOOK"
    },
    {
      "updatedAt": "2025-02-21T17:24:51.347Z",
      "createdAt": "2025-02-21T17:24:51.347Z",
      "id": "HeoN9qG2nZVgRl5F",
      "name": "CRON"
    },
    {
      "updatedAt": "2025-02-04T22:36:38.756Z",
      "createdAt": "2025-02-04T22:36:38.756Z",
      "id": "Ohxiq39PR2Apxs3c",
      "name": "ADRIANA"
    },
    {
      "updatedAt": "2025-02-20T05:53:21.020Z",
      "createdAt": "2025-02-20T05:53:21.020Z",
      "id": "yWwG6USL9X5m8h9q",
      "name": "SHEET"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-21T00:19:39.630Z",
  "versionId": "2784d5e5-61c4-473d-a8f1-978037e09154"
}