backup/2025/01/g84qdpdPn1QCHFUl.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [],
        []
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Sheets": {
      "main": [
        [],
        []
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-21T18:56:07.734Z",
  "id": "g84qdpdPn1QCHFUl",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": " [ADRIANA] WEBHOOK EXCEL VENTAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adriana-webhooks-hotmart",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1660,
        1070
      ],
      "id": "2f2ba063-c8e4-4906-87c2-c1342facb58c",
      "name": "Webhook",
      "webhookId": "984e9380-49c8-4e37-9c78-d8de04bd9c10"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1000,
        1270
      ],
      "id": "f3fa9e4e-903b-435c-afa9-064efaee4428",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25f4a5ff-c1d6-4209-953a-7c18ef4ddc99",
              "name": "producto",
              "value": "={{ $json.data.product.name }}",
              "type": "string"
            },
            {
              "id": "a7f92ef5-3505-491d-98e0-b69c2beeb858",
              "name": "coproducci贸n activa",
              "value": "={{ $json.data.product.has_co_production }}",
              "type": "boolean"
            },
            {
              "id": "5890810b-53a9-4b5d-b23a-35b627d445ff",
              "name": "correo",
              "value": "={{ $json.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "b4033946-f611-442d-8a4a-12368dc5549f",
              "name": "nombre",
              "value": "={{ $json.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "9ea3ff08-1a8d-489a-bef7-2c7807473059",
              "name": "telefono",
              "value": "={{ $json.data.buyer.checkout_phone }}",
              "type": "string"
            },
            {
              "id": "97558f09-72cb-45d6-9b0c-88b4156e4814",
              "name": "pais",
              "value": "={{ $json.data.buyer.address.country }}",
              "type": "string"
            },
            {
              "id": "68a8ce18-fc89-476c-a314-df126129c832",
              "name": "comision hotmart",
              "value": "={{ $json.data.commissions[0].value }}",
              "type": "number"
            },
            {
              "id": "8bbb5436-13db-46a1-a010-38df9b0a0389",
              "name": "parte productor",
              "value": "={{ $json.data.commissions[1].value }}",
              "type": "number"
            },
            {
              "id": "cb21091d-3c56-46f1-92ec-008bca9d4858",
              "name": "valor producto",
              "value": "={{ $json.data.purchase.original_offer_price.value }}",
              "type": "number"
            },
            {
              "id": "29122817-28ff-4dde-a831-c41c95bae0a0",
              "name": "Transacci贸n",
              "value": "={{ $json.data.purchase.transaction }}",
              "type": "string"
            },
            {
              "id": "c9105dd0-a611-458e-90ea-067a0538b62a",
              "name": "fecha",
              "value": "={{ $json.data.purchase.approved_date.toDateTime('ms').format('dd-MM-yyyy HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "60169604-8475-429b-b65b-08da02e5d8c8",
              "name": "oferta",
              "value": "={{ $json.data.purchase.offer.code }}",
              "type": "string"
            },
            {
              "id": "5b71cb74-4f3d-4765-9d69-66c18f2e4623",
              "name": "ORDERBUMP",
              "value": "NO",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        1270
      ],
      "id": "fe75c888-97de-4dac-bb82-d5c0bb502656",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Transacci贸n"
          ],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "coproducci贸n activa",
              "displayName": "coproducci贸n activa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comision hotmart",
              "displayName": "comision hotmart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parte productor",
              "displayName": "parte productor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor producto",
              "displayName": "valor producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VALOR DESPUES DE HOTMART",
              "displayName": "VALOR DESPUES DE HOTMART",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transacci贸n",
              "displayName": "Transacci贸n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comisi贸n Coproductor",
              "displayName": "Comisi贸n Coproductor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ORDERBUMP",
              "displayName": "ORDERBUMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oferta",
              "displayName": "oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -340,
        1270
      ],
      "id": "5646eea9-817e-47d2-a9f2-ce52bc7b53db",
      "name": "Google Sheets8",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86765f19-f5cf-43a7-a3f7-de1ddce62933",
              "leftValue": "={{ $json[\"coproducci贸n activa\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        1270
      ],
      "id": "5a36e01c-0527-405b-95b5-7864e0943a3d",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73ea6f4c-add8-46df-a5bf-3fbcaf97a7d2",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "PURCHASE_APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        1070
      ],
      "id": "2896b574-e7f1-4fc9-9b67-34a9ff462696",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "jsonventa = $input.first().json.body.data;\n\n// Extraer datos relevantes\nconst transaction = jsonventa.purchase?.transaction || \"N/A\";\nconst buyerName = jsonventa.buyer?.name || \"N/A\";\nconst pais = jsonventa.buyer?.address?.country || \"N/A\";\nconst buyerEmail = jsonventa.buyer?.email || \"N/A\";\nconst productName = jsonventa.product?.name || \"N/A\";\nconst purchaseDate = new Date(jsonventa.purchase?.order_date).toLocaleString('es-CO', {\n  timeZone: 'America/Bogota'\n});\n\n// Construir el mensaje\nconst text = `\\n *Notificaci贸n de Venta* \\n\\n` +\n  ` *Producto:* ${productName}\\n` +\n  ` *Pais:* ${pais}\\n` +\n  ` *Comprador:* ${buyerName}\\n` +\n  ` *Correo:* ${buyerEmail}\\n` +\n  ` *Transacci贸n:* ${transaction}\\n` +\n  ` *Fecha de compra:* ${purchaseDate}\\n`;\n\n// Retornar el JSON con el mensaje\nreturn {\n  json: {\n    text,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1220,
        820
      ],
      "id": "5461c6b8-dd22-4c9c-abb7-e5fc1315c245",
      "name": "Code2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8117750846:AAExGxB3Mbwv2YBb6b7rMAvP6vsIPeH8EIM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"-1002459933143\",\n  \"message_thread_id\": 63,\n  {{ $json.toJsonString().replace(/^\\{|\\}$/g, \"\")\n }},\n  \"parse_mode\": \"Markdown\"\n}\n",
        "options": {}
      },
      "id": "866c7e7c-7730-4a80-9296-25b1939cafc2",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d359df0-f6f6-4054-a499-377618dae6f4",
              "leftValue": "={{ $json.body.data.purchase.order_bump?.is_order_bump }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1220,
        1170
      ],
      "id": "34bb4fec-8576-49e0-bcf1-c67bcf64d9d1",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1000,
        1020
      ],
      "id": "d58777f0-d9a4-4e9d-a180-13a66ddf3a37",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25f4a5ff-c1d6-4209-953a-7c18ef4ddc99",
              "name": "producto",
              "value": "={{ $json.data.product.name }}",
              "type": "string"
            },
            {
              "id": "a7f92ef5-3505-491d-98e0-b69c2beeb858",
              "name": "coproducci贸n activa",
              "value": "={{ $json.data.product.has_co_production }}",
              "type": "boolean"
            },
            {
              "id": "5890810b-53a9-4b5d-b23a-35b627d445ff",
              "name": "correo",
              "value": "={{ $json.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "b4033946-f611-442d-8a4a-12368dc5549f",
              "name": "nombre",
              "value": "={{ $json.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "9ea3ff08-1a8d-489a-bef7-2c7807473059",
              "name": "telefono",
              "value": "={{ $json.data.buyer.checkout_phone }}",
              "type": "string"
            },
            {
              "id": "97558f09-72cb-45d6-9b0c-88b4156e4814",
              "name": "pais",
              "value": "={{ $json.data.buyer.address.country }}",
              "type": "string"
            },
            {
              "id": "68a8ce18-fc89-476c-a314-df126129c832",
              "name": "comision hotmart",
              "value": "={{ $json.data.commissions[0].value }}",
              "type": "number"
            },
            {
              "id": "8bbb5436-13db-46a1-a010-38df9b0a0389",
              "name": "parte productor",
              "value": "={{ $json.data.commissions[1].value }}",
              "type": "number"
            },
            {
              "id": "cb21091d-3c56-46f1-92ec-008bca9d4858",
              "name": "valor producto",
              "value": "={{ $json.data.purchase.original_offer_price.value }}",
              "type": "number"
            },
            {
              "id": "29122817-28ff-4dde-a831-c41c95bae0a0",
              "name": "Transacci贸n",
              "value": "={{ $json.data.purchase.transaction }}",
              "type": "string"
            },
            {
              "id": "c9105dd0-a611-458e-90ea-067a0538b62a",
              "name": "fecha",
              "value": "={{ $json.data.purchase.approved_date.toDateTime('ms').format('dd-MM-yyyy HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "60169604-8475-429b-b65b-08da02e5d8c8",
              "name": "oferta",
              "value": "={{ $json.data.purchase.offer.code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        1020
      ],
      "id": "c006f90f-14d7-4194-9584-9d8060c28ab0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86765f19-f5cf-43a7-a3f7-de1ddce62933",
              "leftValue": "={{ $json[\"coproducci贸n activa\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        1020
      ],
      "id": "78fd1c6d-02c3-41f6-80be-ff8db5bac7c5",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Transacci贸n": "={{ $('If').item.json.body.data.purchase.transaction }}",
            "ORDERBUMP": "={{ $json.producto }}"
          },
          "matchingColumns": [
            "Transacci贸n"
          ],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "coproducci贸n activa",
              "displayName": "coproducci贸n activa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comision hotmart",
              "displayName": "comision hotmart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "parte productor",
              "displayName": "parte productor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valor producto",
              "displayName": "valor producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VALOR DESPUES DE HOTMART",
              "displayName": "VALOR DESPUES DE HOTMART",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transacci贸n",
              "displayName": "Transacci贸n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comisi贸n Coproductor",
              "displayName": "Comisi贸n Coproductor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ORDERBUMP",
              "displayName": "ORDERBUMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oferta",
              "displayName": "oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dia",
              "displayName": "dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        380,
        780
      ],
      "id": "5b47800a-b30d-4ee8-9eea-863affa7669f",
      "name": "Google Sheets",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Transacci贸n"
          ],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "coproducci贸n activa",
              "displayName": "coproducci贸n activa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comision hotmart",
              "displayName": "comision hotmart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parte productor",
              "displayName": "parte productor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor producto",
              "displayName": "valor producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VALOR DESPUES DE HOTMART",
              "displayName": "VALOR DESPUES DE HOTMART",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transacci贸n",
              "displayName": "Transacci贸n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comisi贸n Coproductor",
              "displayName": "Comisi贸n Coproductor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ORDERBUMP",
              "displayName": "ORDERBUMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oferta",
              "displayName": "oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -340,
        980
      ],
      "id": "b4037b1a-5752-4005-b379-762f6647359b",
      "name": "Google Sheets9",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1mGoZ75f9D731ySLqXdLwFsba2fslo8ia-z88GrGHYHM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Transacci贸n",
              "lookupValue": "={{ $('If').item.json.body.data.purchase.order_bump?.parent_purchase_transaction }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        120,
        860
      ],
      "id": "05bc756a-66c6-4ac3-a21f-6ec87be3974d",
      "name": "Google Sheets1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -120,
        870
      ],
      "id": "da8b0889-9221-4892-90b8-438379738718",
      "name": "Wait3",
      "webhookId": "b0e7088f-8eff-45b7-97cb-84dbf13054bf"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Jodd HTTP",
            "content-length": "1665",
            "content-type": "application/json",
            "x-forwarded-for": "44.192.32.241",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e236941e778",
            "x-hotmart-hottok": "ab1MBqgzWoBGjHPbjIZRreIJv1kidlf17097fe-a50d-4ba0-83a7-d6dba52a1d6d",
            "x-real-ip": "44.192.32.241",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "has_co_production": true,
                "name": "Galletas Saludables",
                "warranty_date": "2025-06-25T00:00:00Z",
                "is_physical_product": false,
                "id": 5072184,
                "ucode": "877cf7fe-e193-419a-b4e8-66c450f8915c"
              },
              "commissions": [
                {
                  "currency_value": "USD",
                  "source": "MARKETPLACE",
                  "value": 2.28
                },
                {
                  "currency_conversion": {
                    "converted_value": 43747,
                    "converted_to_currency": "COP",
                    "conversion_rate": 4100
                  },
                  "currency_value": "USD",
                  "source": "PRODUCER",
                  "value": 10.67
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "USD",
                  "value": 18
                },
                "subscription_anticipation_purchase": false,
                "checkout_country": {
                  "iso": "US",
                  "name": "United States"
                },
                "order_bump": {
                  "parent_purchase_transaction": "HP0523612289",
                  "is_order_bump": true
                },
                "approved_date": 1750258377000,
                "offer": {
                  "code": "lizh6p6i"
                },
                "is_funnel": false,
                "order_date": 1750258375000,
                "price": {
                  "currency_value": "USD",
                  "value": 18
                },
                "buyer_ip": "162.203.95.78",
                "payment": {
                  "installments_number": 1,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "USD",
                  "value": 18
                },
                "business_model": "A",
                "invoice_by": "SELLER",
                "transaction": "HP0510915575",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "legal_nature": "Pessoa F铆sica",
                "document": "26946295",
                "name": "Adriana Maria Rueda Cabarcas"
              },
              "buyer": {
                "address": {
                  "zipcode": "33012",
                  "country": "United States",
                  "address": "3455 w 10 ave ",
                  "city": "Hialeah ",
                  "state": "Florida",
                  "complement": "208 ",
                  "country_iso": "US"
                },
                "document": "",
                "name": "Ana Delia Martin",
                "last_name": "Martin",
                "checkout_phone": "17862560465",
                "first_name": "Ana",
                "email": "luxecleanin@gmail.com",
                "document_type": ""
              }
            },
            "id": "8ac0ba46-c3c0-46e0-b122-2a95cf4594e4",
            "creation_date": 1750258382957,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/adriana-webhooks-hotmart",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-21T17:25:59.004Z",
      "updatedAt": "2025-02-21T17:25:59.004Z",
      "id": "7jH9G2p443i4FpIv",
      "name": "WEBHOOK"
    },
    {
      "createdAt": "2025-02-21T17:24:51.347Z",
      "updatedAt": "2025-02-21T17:24:51.347Z",
      "id": "HeoN9qG2nZVgRl5F",
      "name": "CRON"
    },
    {
      "createdAt": "2025-02-04T22:36:38.756Z",
      "updatedAt": "2025-02-04T22:36:38.756Z",
      "id": "Ohxiq39PR2Apxs3c",
      "name": "ADRIANA"
    },
    {
      "createdAt": "2025-02-20T05:53:21.020Z",
      "updatedAt": "2025-02-20T05:53:21.020Z",
      "id": "yWwG6USL9X5m8h9q",
      "name": "SHEET"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-15T04:05:56.000Z",
  "versionId": "6fffc5a5-6e51-4ca3-990e-0a3975f1bde1"
}