backup/2025/01/GFBP4Ms31LDwFwzo.json
{
  "active": true,
  "connections": {
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "MongoDB3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENCUESTA": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MongoDB3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "guardar id MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "ENVIAR FLUJO BV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe en manychat?": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar id MANYCHAT": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "existe en manychat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-06T19:16:10.457Z",
  "id": "GFBP4Ms31LDwFwzo",
  "meta": null,
  "name": "游릭 [GERSSON] CAPTURA TD - REGISTRO Y ENCUESTAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "encuesta-p2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        300
      ],
      "id": "3cb07121-c02b-46cd-bdd7-30032de3b3ad",
      "name": "ENCUESTA",
      "webhookId": "d7011f5e-22f0-4e41-9666-fd053bd6eb91"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfe23bab-7c1a-4462-ad5b-b7291ee8d7af",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp }}",
              "type": "string"
            },
            {
              "id": "cfe28cc4-c69b-4a26-86b7-e3fcab392043",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "de3c730f-dcad-4ab6-af4c-2e96c75a6c8b",
              "name": "tiempoencuesta",
              "value": "={{ $json.body.tiempoencuesta }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        140
      ],
      "id": "f0fa67a8-c54e-4ad0-aa21-b75f456527c5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "collection": "=TD-l6",
        "options": {
          "limit": 1
        },
        "query": "={{ $json.toJsonString() }}"
      },
      "id": "311e128c-e032-42ee-abe2-5e1acf07c024",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        120,
        140
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "TD-l6",
        "updateKey": "_id",
        "fields": "tiempoencuesta,Edad,Nivel_de_estudios,Ocupaci칩n,Eliminar_dolor_para,Ingresos,puntaje",
        "options": {}
      },
      "id": "3a0ba222-88b1-4628-9315-a0c8cbbc51bf",
      "name": "MongoDB3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        800,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e313ffa4-bd82-4310-a6f6-d14abcafb493",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        140
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "4e1b38bb-f765-4a36-a8a2-a2794ae1386a",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        540,
        260
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        300,
        360
      ],
      "id": "177a4d34-bfb7-4e1b-87f0-0511b7a50d5c",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://82.180.130.193:6969/predecir/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.answersJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        300
      ],
      "id": "e07cf4cf-2361-4c19-8834-5f7953ac6878",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.answersJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        480
      ],
      "id": "65f5481a-bd61-410c-acd1-8b3a479d8362",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        60,
        460
      ],
      "id": "ed2db3a0-9a66-4475-8584-376768d5adbb",
      "name": "Merge4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee2f3d54-34a2-40bd-a09a-dcb81b934770",
              "name": "puntaje",
              "value": "={{ $json.score[0] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        300
      ],
      "id": "65eded4a-f1c4-4366-bfd0-6065660bc799",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a520e1b6-bb26-44a6-857f-770dac49655a",
              "leftValue": "={{ $json.puntaje }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        260
      ],
      "id": "f3a2c9c4-e00d-4e77-8d3d-0c9e37d8c49d",
      "name": "If2"
    },
    {
      "parameters": {
        "collection": "=TD-l6",
        "options": {},
        "query": "={\"_id\": \"{{ $('Merge1').item.json._id }}\"}"
      },
      "id": "a4368b26-c8e0-4d85-8315-2bf1c8217d35",
      "name": "MongoDB4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1160,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto-js'); // Aseg칰rate de que la librer칤a est치 disponible\n\nconst item = $input.first().json;\n\nfunction hashSHA256(value) {\n  return crypto.SHA256(value).toString(crypto.enc.Hex);\n}\n\nconst encryptedData = {\n  em: [hashSHA256(item.email)],  // Correo electr칩nico\n  ph: [hashSHA256(Number(item.whatsapp))],  // N칰mero de tel칠fono\n  country: [hashSHA256(item.country)],  // Pa칤s\n  zp: [hashSHA256(item.zip)], //zip\n  ct: [hashSHA256(item.city)], //ciudad\n  st: [hashSHA256(item.regionName)], //estado\n  // Datos no cifrados deben estar directamente accesibles\n  client_ip_address: item.query,\n  client_user_agent: item.userAgent,\n  fbc: item.fbc,\n  fbp: item.fbp,\n};\n\nconst facebookEvent = {\n  data: [\n    {\n      event_name: \"CompleteRegistration\",\n      event_time: Math.floor(Date.now() / 1000), // Tiempo actual en segundos\n      action_source: \"website\",\n      original_event_data: {\n        event_name: \"CompleteRegistration\",\n        event_time: Math.floor(Date.now() / 1000)\n      },\n      user_data: encryptedData,\n    }\n  ]\n};\n\nreturn facebookEvent;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ],
      "id": "1df4b314-954d-4468-9cda-01481d1a8099",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://graph.facebook.com/v21.0/1156253219623951/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAZAGfGPCLT4BO4jpxZA0Vq8k09oeh72XCHB8RLRkCtt6OHGacyH5dleDJGD1XXJvSNZC7wh9t9Wx2NUNuQ3FDsfSezZCQ1N98c5oEsPdpEJy46gZAs1JPBxObYTeUsz6cF83ZBI4LJCyPHPFSzhYofIfqEzFnSId2ZACQl25EJDZB2pwO4fLZCf8vb1ELnDS0kJ0igZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        200
      ],
      "id": "89a5ef53-0afb-4176-896b-ccbe114aa266",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QSrLnfia_k5CIy0RS_kX1bQZ90IkQnBKJLsFNYEziUI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QSrLnfia_k5CIy0RS_kX1bQZ90IkQnBKJLsFNYEziUI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "ID": "={{ $json._id }}",
            "FECHA REGISTRO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "CORREO": "={{ $json.email }}",
            "CAMPA칌A": "={{ $json.utmCampaign }}",
            "SEGMENTACION": "={{ $json.utmMedium }}",
            "ANUNCIO": "={{ $json.utmContent }}",
            "PLATAFORMA": "={{ $json.utmSource }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "FECHA REGISTRO",
              "displayName": "FECHA REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPA칌A",
              "displayName": "CAMPA칌A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGMENTACION",
              "displayName": "SEGMENTACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PLATAFORMA",
              "displayName": "PLATAFORMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA ENCUESTA",
              "displayName": "FECHA ENCUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA ENCUESTA",
              "displayName": "HORA ENCUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EDAD",
              "displayName": "EDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INGRESOS",
              "displayName": "INGRESOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTUDIOS",
              "displayName": "ESTUDIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OCUPACION",
              "displayName": "OCUPACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROPOSITO",
              "displayName": "PROPOSITO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUNTAJE",
              "displayName": "PUNTAJE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QLEAD",
              "displayName": "QLEAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        420
      ],
      "id": "3c7c41e6-331d-4e4b-939a-0775d9c0af5b",
      "name": "Google Sheets1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json._id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "EDAD",
              "value": "={{ $json.Edad }}",
              "type": "string"
            },
            {
              "id": "0ca6d2e7-d8c2-46a7-975a-09a456419cf3",
              "name": "PROPOSITO",
              "value": "={{ $json.Eliminar_dolor_para }}",
              "type": "string"
            },
            {
              "id": "0badb125-2290-4dc2-9eea-778d1dcb665b",
              "name": "INGRESOS",
              "value": "={{ $json.Ingresos }}",
              "type": "string"
            },
            {
              "id": "26ed51be-6c4d-4c6c-9233-496b7b476fdb",
              "name": "ESTUDIOS",
              "value": "={{ $json.Nivel_de_estudios }}",
              "type": "string"
            },
            {
              "id": "4eb1e6ab-b022-4cea-b94f-3120ba812fcb",
              "name": "OCUPACION",
              "value": "={{ $json['Ocupaci칩n'] }}",
              "type": "string"
            },
            {
              "id": "e8240118-b101-46ae-ba85-736ba448cef6",
              "name": "PUNTAJE",
              "value": "={{ $json.puntaje }}",
              "type": "number"
            },
            {
              "id": "a0f82f8d-7f63-4d33-b894-2cba3b59adfd",
              "name": "FECHA ENCUESTA",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "703ee060-0a76-4436-8621-7a62f8e7db1a",
              "name": "HORA ENCUESTA",
              "value": "={{ $now.format('HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        420
      ],
      "id": "68d4867e-8f77-47f8-aa13-a62d479e5ef7",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"field_name\": \"PROBABILIDAD-ENC\",\n  \"field_value\": {{ $json.puntaje.round() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        100
      ],
      "id": "61da8a27-2175-469c-a75b-be82c6262ecd",
      "name": "HTTP Request5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTagByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"tag_name\": \"ENCUESTA-L6\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -60
      ],
      "id": "ae7ca953-50e7-4701-b24c-1f1a282d2c75",
      "name": "HTTP Request6",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const whatsapp = item.json.whatsapp || \"\"; // Verifica si existe el campo WhatsApp\n  const email = item.json.email || \"\"; // Verifica si existe el campo email\n  \n  if (whatsapp && email) {\n    // Si existen ambos campos, retorna un JSON con ambos valores\n    return {\n      json: {\n        whatsapp: whatsapp,\n        email: email\n      }\n    };\n  } else if (whatsapp) {\n    // Si existe solo WhatsApp, genera un filtro con regex para los 칰ltimos 6 caracteres\n    return {\n      json: {\n        whatsapp: {\n          \"$regex\": `.*${whatsapp.slice(-6)}.*`,\n          \"$options\": \"i\"\n        }\n      }\n    };\n  } else if (email) {\n    // Si no existe WhatsApp, utiliza el correo electr칩nico para generar el filtro\n    return {\n      json: {\n        email: email\n      }\n    };\n  } else {\n    // Si no hay datos de WhatsApp ni correo, lanza un error\n    throw new Error(\"No se proporcionaron datos de WhatsApp ni correo electr칩nico.\");\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        140
      ],
      "id": "1b7239fe-cf3f-4b1d-96d9-875ba891b608",
      "name": "Code1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "captura-td-2025-1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        -340
      ],
      "id": "2fd0c698-6fb9-4143-9bd3-dac629911204",
      "name": "REGISTRO",
      "webhookId": "f38978bf-19ed-48b4-b002-7115e409559d"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -240
      ],
      "id": "b745e3df-3c9e-4cf5-9cb4-4e246c8fc335",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "collection": "=TD-l6",
        "options": {
          "limit": 1
        },
        "query": "={\"whatsapp\": \"{{ $json.whatsapp }}\", \"email\": \"{{$json.email}}\"}"
      },
      "id": "ef0a1d47-b5e3-4633-a389-4269abe52ee1",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -120,
        -240
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "TD-l6",
        "fields": "=query,country,city,zip,regionName,timezone,email,whatsapp,utmCampaign,utmSource,utmMedium,utmContent,utmTerm,userAgent,platform,language,tiemporegistro,fbc,fbp,isFbcGenerated",
        "options": {}
      },
      "id": "bff3203f-67ab-4346-a4d2-0e8be6e78683",
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        460,
        -360
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "343bbe84-e55e-4e2c-a532-816e56496a3e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        -240
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "b0ca964d-6cdb-412b-88a3-bf0d5f13e685",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        300,
        -360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a258913-16e5-4c77-bc40-13e5d18f740f",
              "name": "ip",
              "value": "={{ $json.headers['x-real-ip'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        -500
      ],
      "id": "d0f7353f-7900-4fc3-87fb-935fb743957f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "4ce65c35-da78-4f7a-a965-be84a0b58979",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        100,
        -480
      ]
    },
    {
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.ip }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -500
      ],
      "id": "86484f4a-2c06-46aa-a30b-91e45b2cbd63",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://connect.mailerlite.com/api/subscribers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiOGU5YTUwNWJhZjFjNWViYjY1ODBjOWVkMGY2MDk5YzFjMzcyN2NlN2ZkOGI3M2Y0NGU2Y2VmNzI4MmFhMzA2YjZmZTc4ZWRhMmQwNDYwMzEiLCJpYXQiOjE3MzY3MjIzNzguNDU1NzQzLCJuYmYiOjE3MzY3MjIzNzguNDU1NzQ0LCJleHAiOjQ4OTIzOTU5NzguNDUxNzI5LCJzdWIiOiI3ODg1NjciLCJzY29wZXMiOltdfQ.uXXvcjOAvEzBCuY_CUhMH9qqiPUN3VoDA2QHruFFmqXNv0xtUkYYpnVvu8iyOLKvCnA6iQ3jsnbqedaeQoa4kDjhgEq8NrzsbzXmuPs5o7tcSo7SOzSVJ7s7ilbVOZ3UsvNi5UYRsA-x-R6LVqMbVqe05GEPvjwk6YjspK6LTD-XGsTL8O2t2R8Fm8-H6OjlL-gsrtCvP2v8UmhkG8_DcwdaH_-Q6ohUROcCTHdc7a6IudS5RljVHV6ITCbzsmJQZbj7lSk3KJFUwN95ywNnEPWuPb_MDb3ziz627ghofcmK_HhizNiau5HsGeJM0hcfMY1kBubexuYh0wjvHhtliGFKHxrlZwGrgfSBWDrgZjBWpQ1blafHYmYKvs6uYSfiAuk4ILT-l8UTnM74k9dD1tOGkrh7ROkcFau4tH8iCJsDC5so_LzkBn2umXRDZpB5S_ArSxVmxqtQs9xODmhaHWan-Zd_-DKW7wKOjMIo3g5JOTADfDv1ET4-IEJVR8iKq25Quv2ZoJEmkDHwvqrFc2X0d35-Kj4CQ_KbOdorwCMHLBoGHZtFPvlofZwWStQ6-n6QugycrJ7PeLr3oJVg_mEgd88yJBFu2ep_wS_5bs0u3DWbbV_uj1TzxYHOCYmrEgdDcDup6b3Z9Hac6Ef-iOsotdVa0QDssxK8dze-QWY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('MongoDB2').item.json.email }}\",\n    \"groups\": [\n        \"136636151221978745\"\n    ],\n    \"subscribed_at\": \"{{ $now.format('yyyy-MM-dd HH:mm:ss') }}\",\n    \"ip_address\": \"{{ $('MongoDB2').item.json.query }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -820
      ],
      "id": "89679adb-36e2-42f6-a4b9-24946df86906",
      "name": "HTTP Request3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('MongoDB2').item.json.whatsapp }}\",\n  \"whatsapp_phone\": \"{{ $('MongoDB2').item.json.whatsapp }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        -500
      ],
      "id": "583a13c6-6567-4566-8007-b695909dbd50",
      "name": "HTTP Request4",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1620,
        -380
      ],
      "id": "d005512e-990a-4b7f-a5f3-924c8919fa2d",
      "name": "Merge5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        -520
      ],
      "id": "764279a9-9f8f-4031-a63b-c7a68735ec3b",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QSrLnfia_k5CIy0RS_kX1bQZ90IkQnBKJLsFNYEziUI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QSrLnfia_k5CIy0RS_kX1bQZ90IkQnBKJLsFNYEziUI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "ID": "={{ $json._id }}",
            "FECHA REGISTRO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "CORREO": "={{ $json.email }}",
            "CAMPA칌A": "={{ $json.utmCampaign }}",
            "SEGMENTACION": "={{ $json.utmMedium }}",
            "ANUNCIO": "={{ $json.utmContent }}",
            "PLATAFORMA": "={{ $json.utmSource }}"
          },
          "matchingColumns": [
            "CORREO"
          ],
          "schema": [
            {
              "id": "FECHA REGISTRO",
              "displayName": "FECHA REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPA칌A",
              "displayName": "CAMPA칌A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGMENTACION",
              "displayName": "SEGMENTACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PLATAFORMA",
              "displayName": "PLATAFORMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA ENCUESTA",
              "displayName": "FECHA ENCUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA ENCUESTA",
              "displayName": "HORA ENCUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EDAD",
              "displayName": "EDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INGRESOS",
              "displayName": "INGRESOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTUDIOS",
              "displayName": "ESTUDIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OCUPACION",
              "displayName": "OCUPACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROPOSITO",
              "displayName": "PROPOSITO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUNTAJE",
              "displayName": "PUNTAJE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QLEAD",
              "displayName": "QLEAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        900,
        -280
      ],
      "id": "d7e242d5-fe46-482c-8339-2bbb7e75332a",
      "name": "Google Sheets",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86552321-4bbc-4aa5-afc7-5ce6278c72d2",
              "name": "CORREO",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ef1606bf-68e5-4717-a225-708529dcad05",
              "name": "WHATSAPP",
              "value": "={{ $json.whatsapp }}",
              "type": "string"
            },
            {
              "id": "0f13f81b-905a-4e1e-815c-3bcb4932bb77",
              "name": "CAMPA칌A",
              "value": "={{ $json.utmCampaign }}",
              "type": "string"
            },
            {
              "id": "b008676e-7f3b-46eb-9c3f-13f4757b8977",
              "name": "PLATAFORMA",
              "value": "={{ $json.utmSource }}",
              "type": "string"
            },
            {
              "id": "0fa1b73e-3467-49e9-af06-7a4d94901a7b",
              "name": "SEGMENTACION",
              "value": "={{ $json.utmMedium }}",
              "type": "string"
            },
            {
              "id": "50bd88a7-ded2-46df-a377-6c529be00917",
              "name": "ANUNCIO",
              "value": "={{ $json.utmContent }}",
              "type": "string"
            },
            {
              "id": "4747c5a6-da7e-4da9-9a86-fe23003d5adf",
              "name": "PAIS",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json.id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "FECHA REGISTRO",
              "value": "={{ $('REGISTRO').item.json.body.tiemporegistro.toDateTime('s').format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "d42a68f2-323f-4337-b37f-ec1b9a9e65c4",
              "name": "HORA",
              "value": "={{ $('REGISTRO').item.json.body.tiemporegistro.toDateTime('s').format(' HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -280
      ],
      "id": "62ddf2d8-c24d-4af0-b1e3-0a371ded31ec",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -780
      ],
      "id": "e0f7c43b-167a-4ba0-a45c-e01c2cf3f2fd",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3101ba6-b04a-40da-86e8-04bb9fabd5d7",
              "leftValue": "={{ $('Merge5').item.json.existe }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -380
      ],
      "id": "ea62e06d-ae21-4be8-a2ab-17b0e0292bd1",
      "name": "existe?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdbedabd-650a-4c77-aafe-61f48231f405",
              "leftValue": "={{ $json.data[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -620
      ],
      "id": "f201618e-03b8-489c-89c1-12bd7c31e760",
      "name": "existe en manychat?"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "TD-l6",
        "updateKey": "_id",
        "fields": "=id_manychat",
        "options": {}
      },
      "id": "1fb6af07-6a17-45bf-a38f-37af70e8176f",
      "name": "guardar id MANYCHAT",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1780,
        -380
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"flow_ns\": \"content20250124045214_190466\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        -400
      ],
      "id": "5986b775-c19e-4997-afae-a02242ed7023",
      "name": "ENVIAR FLUJO BV",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByName",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.whatsapp }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -600
      ],
      "id": "be90ce96-33d4-4a47-87bd-0b9530e0d191",
      "name": "HTTP Request7",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data[0].id }}",
              "type": "string"
            },
            {
              "id": "8040badb-7f75-4766-b6ef-8e74c88bc480",
              "name": "existe",
              "value": "si",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        -660
      ],
      "id": "c13b0493-574f-468d-af98-fc20ecfe3938",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "url": "=https://connect.mailerlite.com/api/subscribers/{{ $json.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiOGU5YTUwNWJhZjFjNWViYjY1ODBjOWVkMGY2MDk5YzFjMzcyN2NlN2ZkOGI3M2Y0NGU2Y2VmNzI4MmFhMzA2YjZmZTc4ZWRhMmQwNDYwMzEiLCJpYXQiOjE3MzY3MjIzNzguNDU1NzQzLCJuYmYiOjE3MzY3MjIzNzguNDU1NzQ0LCJleHAiOjQ4OTIzOTU5NzguNDUxNzI5LCJzdWIiOiI3ODg1NjciLCJzY29wZXMiOltdfQ.uXXvcjOAvEzBCuY_CUhMH9qqiPUN3VoDA2QHruFFmqXNv0xtUkYYpnVvu8iyOLKvCnA6iQ3jsnbqedaeQoa4kDjhgEq8NrzsbzXmuPs5o7tcSo7SOzSVJ7s7ilbVOZ3UsvNi5UYRsA-x-R6LVqMbVqe05GEPvjwk6YjspK6LTD-XGsTL8O2t2R8Fm8-H6OjlL-gsrtCvP2v8UmhkG8_DcwdaH_-Q6ohUROcCTHdc7a6IudS5RljVHV6ITCbzsmJQZbj7lSk3KJFUwN95ywNnEPWuPb_MDb3ziz627ghofcmK_HhizNiau5HsGeJM0hcfMY1kBubexuYh0wjvHhtliGFKHxrlZwGrgfSBWDrgZjBWpQ1blafHYmYKvs6uYSfiAuk4ILT-l8UTnM74k9dD1tOGkrh7ROkcFau4tH8iCJsDC5so_LzkBn2umXRDZpB5S_ArSxVmxqtQs9xODmhaHWan-Zd_-DKW7wKOjMIo3g5JOTADfDv1ET4-IEJVR8iKq25Quv2ZoJEmkDHwvqrFc2X0d35-Kj4CQ_KbOdorwCMHLBoGHZtFPvlofZwWStQ6-n6QugycrJ7PeLr3oJVg_mEgd88yJBFu2ep_wS_5bs0u3DWbbV_uj1TzxYHOCYmrEgdDcDup6b3Z9Hac6Ef-iOsotdVa0QDssxK8dze-QWY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        -780
      ],
      "id": "85c6a427-40c3-4e62-a3ce-0c1f9fa61b7f",
      "name": "HTTP Request8",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "REGISTRO": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 14; CPH2363 Build/TP1A.220905.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/132.0.6834.97 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/497.0.0.47.36;IABMV/1;]",
            "content-length": "792",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-MX,es;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Android WebView\";v=\"132\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "187.172.233.205",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0f86eb816a4d",
            "x-real-ip": "187.172.233.205",
            "x-requested-with": "com.facebook.katana"
          },
          "params": {},
          "query": {},
          "body": {
            "tiemporegistro": 1737828407,
            "email": "hotel_roberto@hotmail.com",
            "whatsapp": "+526691586738",
            "utmCampaign": "[0125] [JC] [CAPTACION] [SIGNUP] [F] [ABO] [TEST]",
            "utmSource": "Facebook_Mobile_Feed",
            "utmMedium": "Negocios y finanzas",
            "utmContent": "ANUN4-HORIZONTAL-EL DOLOR DE TUS PACIENTES(cap 04.mp4).mp4",
            "utmTerm": "fb",
            "userAgent": "Mozilla/5.0 (Linux; Android 14; CPH2363 Build/TP1A.220905.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/132.0.6834.97 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/497.0.0.47.36;IABMV/1;]",
            "platform": "Linux aarch64",
            "language": "es-MX",
            "fbc": "fb.1.1737828371097.IwZXh0bgNhZW0BMABhZGlkAasarSJlexwBHdjEGXmtO4AQhrO6kPV3otmAydoL2GqfgpWsmJ0brbcH-f6Awe3m44X3Dw_aem_0KXEKPnY_XRZmkey8LT7jw",
            "fbp": "fb.1.1732299220566.8362989626617327",
            "isFbcGenerated": false
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/captura-td-2025-1",
          "executionMode": "production"
        }
      }
    ],
    "ENCUESTA": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 12; SM-A315G Build/SP1A.210812.016; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/131.0.6778.260 Mobile Safari/537.36 Instagram 364.0.0.35.86 Android (31/12; 420dpi; 1080x2195; samsung; SM-A315G; a31; mt6768; es_US; 687078753)",
            "content-length": "800",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-US,es;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Android WebView\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "181.237.103.24",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0f86eb816a4d",
            "x-real-ip": "181.237.103.24",
            "x-requested-with": "com.instagram.android"
          },
          "params": {},
          "query": {},
          "body": {
            "answersJson": "{\n  \"Edad\": \"41-50\",\n  \"Nivel_de_estudios\": \"Profesional\",\n  \"Ocupaci칩n\": \"Trabajo para un negocio que est치 en 치rea de la salud\",\n  \"Ingresos\": \"301-600\",\n  \"Eliminar_dolor_para\": \"Para crear o ampliar tu negocio relacionado con la salud\"\n}",
            "referrer": "https://terapiasmagneticas.com/registro-l6/?utm_campaign=%5B0125%5D+%5BJC%5D+%5BCAPTACION%5D+%5BSIGNUP%5D+%5BF%5D+%5BABO%5D+%5BTEST%5D&utm_source=Instagram_Feed&utm_medium=Recetas+de+postres&utm_content=ANUN8-HORIZONTAL-SI+ERES+EXPERTO+EN+REFLEXOLOGIA%28cap+08.mp4%29.mp4&utm_term=ig&fbclid=PAZXh0bgNhZW0BMABhZGlkAasarSOrGnwBppFCdaTl2YOMP8pMyNMIbXWEpTSkpEieKggiW-isZV4ul9gbCmY4TyzAxw_aem_JVloUGJqZvmzy6QNEjPobQ",
            "email": "zapatagiraldo@gmail.com",
            "whatsapp": "+573117051230",
            "tiempoencuesta": 1737934536
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/encuesta-p2",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-02-11T07:16:48.000Z",
  "versionId": "f79ee077-0379-4889-8d5c-c53a5fa4c1ad"
}