backup/2025/01/oZ2YYXpMZBu5TOBf.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-19T11:00:42.653Z",
    "createdAt": "2026-01-19T11:00:42.653Z",
    "versionId": "955f7018-c2ce-46e5-9f62-276f8d18662b",
    "workflowId": "oZ2YYXpMZBu5TOBf",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "subir-pagos-bizum",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -400,
          140
        ],
        "id": "da505d87-3916-40cf-bea1-d31f8edb2d4b",
        "name": "Webhook",
        "webhookId": "7fb343f5-f436-4e2f-95d7-de42da0e384c"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "chatgpt-4o-latest",
            "mode": "list",
            "cachedResultName": "CHATGPT-4O-LATEST"
          },
          "text": "INSTRUCCI칍N DETALLADA: Analiza la imagen proporcionada y sigue las indicaciones seg칰n el contenido detectado:\n\n1. N칰mero de cuenta:\n   - Si la imagen muestra la cuenta de Bizum 643212356 o los ultimos 4 digitos (2356), responde: \"PAGO APROBADO\".\n   - Si se menciona \"transferencia pendiente por aceptar\" o \"aprobar\", tambi칠n responde: \"PAGO APROBADO\".\n- si se muestra el nombre o el fragmento del nombre maria amalfi criollo, es pago aprobado\n\n2. Acci칩n requerida:\n   - Si aparecen las palabras \"enviar\", \"sigue\", \"continuar\", \"siguiente\": responde con \"COMPROBANTE RECHAZADO: por favor, dele en enviar y vuelva a enviar\". Esto indica que el pago a칰n no se ha completado.\n\n3. Errores en la transacci칩n:\n   - Ante mensajes como \"no se pudo enviar\", \"error en la transferencia\" o \"transacci칩n fallida\", responde: \"COMPROBANTE RECHAZADO: por favor, verifique su informaci칩n y vuelva a intentar\".\n\n4. Detalles del pago faltantes:\n   - Si hay una confirmaci칩n de pago sin incluir el monto ni las cuentas: responde con \"COMPROBANTE RECHAZADO: por favor, env칤e una captura que muestre claramente el n칰mero de cuenta y el monto indicado\".\n   - Si hay un n칰mero de cuenta que no coincide exactamente: responde: \"COMPROBANTE RECHAZADO: el n칰mero de cuenta proporcionado no es v치lido. Por favor, env칤e una captura que contenga el n칰mero correcto\".\n\n5. Calidad de la imagen:\n   - Si la imagen es borrosa o ilegible, comenta: \"COMPROBANTE RECHAZADO: la imagen no es clara. Por favor, env칤e una captura m치s legible\".\n\n6. Formato incorrecto:\n   - Si la captura no es de un pago (ej. captura del chat): responde: \"COMPROBANTE RECHAZADO: por favor, env칤e una captura desde la aplicaci칩n que muestre el pago\".\n\n7. Condiciones no especificadas:\n   - En cualquier otro caso no mencionado que no permita verificar la informaci칩n, responde: \"COMPROBANTE RECHAZADO\", dando la raz칩n aparente.\n\nAseg칰rate de que todas las respuestas sean claras y concisas, reflejando correctamente el contenido analizado.",
          "imageUrls": "={{ $json.url }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.7,
        "position": [
          180,
          140
        ],
        "id": "2c678397-fafe-48d0-bd5c-6106095e739d",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "nZ98FVO8dD6bJnEc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "n8n",
          "fileName": "={{ $('Webhook').item.binary.file.fileName }}",
          "binaryPropertyName": "=file",
          "additionalFields": {}
        },
        "id": "707e68af-ec87-4a4f-8dce-12a09d1eeff0",
        "name": "SUBIR",
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          -200,
          140
        ],
        "credentials": {
          "s3": {
            "id": "Y7pBuiQHG1mb91C8",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9ecd0f46-9b4c-406d-94af-61dae04fe420",
                "name": "=url",
                "value": "=https://n8n-minio.wc2hpx.easypanel.host/n8n/{{ $('Webhook').item.binary.file.fileName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "dae972b9-10d9-4a6a-9cbc-852b2ac60845",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -20,
          140
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"compra\": true\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          640,
          60
        ],
        "id": "3ae0ebb8-8142-4b84-8341-63f5e47c0053",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5268f067-8bdb-4d93-af13-a10ff177eea1",
                "leftValue": "={{ $json.content.normalize(\"NFD\")\n      .replace(/[\\u0300-\\u036f]/g, \"\")\n      .toLowerCase(); }}",
                "rightValue": "/aprobado/",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          380,
          140
        ],
        "id": "5fb079ae-27dc-4b03-9334-1a486880367a",
        "name": "If"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"compra\": false\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          640,
          220
        ],
        "id": "243771ba-dd88-4dc7-ab49-a4c31a496cdf",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1h4VIWYEfBufOeuJfDcwVFFf7cY-I4U6ZOv7effjAThg/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1h4VIWYEfBufOeuJfDcwVFFf7cY-I4U6ZOv7effjAThg/edit?gid=0#gid=0",
            "mode": "url"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "CORREO"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "NOMBRE",
                "displayName": "NOMBRE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CORREO",
                "displayName": "CORREO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "WHATSAPP",
                "displayName": "WHATSAPP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          980,
          60
        ],
        "id": "2a987ec1-c195-4f5f-bd1b-19b2e9e94f84",
        "name": "Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zruD3ONGC9HU2i7s",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "86552321-4bbc-4aa5-afc7-5ce6278c72d2",
                "name": "URL",
                "value": "={{ $('Edit Fields').item.json.url }}",
                "type": "string"
              },
              {
                "id": "ef1606bf-68e5-4717-a225-708529dcad05",
                "name": "NOMBRE",
                "value": "={{ $('Webhook').item.json.body.name }}",
                "type": "string"
              },
              {
                "id": "0f13f81b-905a-4e1e-815c-3bcb4932bb77",
                "name": "CORREO",
                "value": "={{ $('Webhook').item.json.body.email }}",
                "type": "string"
              },
              {
                "id": "b008676e-7f3b-46eb-9c3f-13f4757b8977",
                "name": "WHATSAPP",
                "value": "={{ $('Webhook').item.json.body.whatsapp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          820,
          60
        ],
        "id": "4ba5d44c-3de3-48b4-8ff3-a8f9e4e3e2dd",
        "name": "Edit Fields6"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "SUBIR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SUBIR": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "955f7018-c2ce-46e5-9f62-276f8d18662b",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SUBIR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUBIR": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-14T20:29:25.874Z",
  "id": "oZ2YYXpMZBu5TOBf",
  "isArchived": false,
  "meta": null,
  "name": "游릭 [ESP] EMBUDO BIZUM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subir-pagos-bizum",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        140
      ],
      "id": "da505d87-3916-40cf-bea1-d31f8edb2d4b",
      "name": "Webhook",
      "webhookId": "7fb343f5-f436-4e2f-95d7-de42da0e384c"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "INSTRUCCI칍N DETALLADA: Analiza la imagen proporcionada y sigue las indicaciones seg칰n el contenido detectado:\n\n1. N칰mero de cuenta:\n   - Si la imagen muestra la cuenta de Bizum 643212356 o los ultimos 4 digitos (2356), responde: \"PAGO APROBADO\".\n   - Si se menciona \"transferencia pendiente por aceptar\" o \"aprobar\", tambi칠n responde: \"PAGO APROBADO\".\n- si se muestra el nombre o el fragmento del nombre maria amalfi criollo, es pago aprobado\n\n2. Acci칩n requerida:\n   - Si aparecen las palabras \"enviar\", \"sigue\", \"continuar\", \"siguiente\": responde con \"COMPROBANTE RECHAZADO: por favor, dele en enviar y vuelva a enviar\". Esto indica que el pago a칰n no se ha completado.\n\n3. Errores en la transacci칩n:\n   - Ante mensajes como \"no se pudo enviar\", \"error en la transferencia\" o \"transacci칩n fallida\", responde: \"COMPROBANTE RECHAZADO: por favor, verifique su informaci칩n y vuelva a intentar\".\n\n4. Detalles del pago faltantes:\n   - Si hay una confirmaci칩n de pago sin incluir el monto ni las cuentas: responde con \"COMPROBANTE RECHAZADO: por favor, env칤e una captura que muestre claramente el n칰mero de cuenta y el monto indicado\".\n   - Si hay un n칰mero de cuenta que no coincide exactamente: responde: \"COMPROBANTE RECHAZADO: el n칰mero de cuenta proporcionado no es v치lido. Por favor, env칤e una captura que contenga el n칰mero correcto\".\n\n5. Calidad de la imagen:\n   - Si la imagen es borrosa o ilegible, comenta: \"COMPROBANTE RECHAZADO: la imagen no es clara. Por favor, env칤e una captura m치s legible\".\n\n6. Formato incorrecto:\n   - Si la captura no es de un pago (ej. captura del chat): responde: \"COMPROBANTE RECHAZADO: por favor, env칤e una captura desde la aplicaci칩n que muestre el pago\".\n\n7. Condiciones no especificadas:\n   - En cualquier otro caso no mencionado que no permita verificar la informaci칩n, responde: \"COMPROBANTE RECHAZADO\", dando la raz칩n aparente.\n\nAseg칰rate de que todas las respuestas sean claras y concisas, reflejando correctamente el contenido analizado.",
        "imageUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        180,
        140
      ],
      "id": "2c678397-fafe-48d0-bd5c-6106095e739d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nZ98FVO8dD6bJnEc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "n8n",
        "fileName": "={{ $('Webhook').item.binary.file.fileName }}",
        "binaryPropertyName": "=file",
        "additionalFields": {}
      },
      "id": "707e68af-ec87-4a4f-8dce-12a09d1eeff0",
      "name": "SUBIR",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -200,
        140
      ],
      "credentials": {
        "s3": {
          "id": "Y7pBuiQHG1mb91C8",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ecd0f46-9b4c-406d-94af-61dae04fe420",
              "name": "=url",
              "value": "=https://n8n-minio.wc2hpx.easypanel.host/n8n/{{ $('Webhook').item.binary.file.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dae972b9-10d9-4a6a-9cbc-852b2ac60845",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"compra\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        60
      ],
      "id": "3ae0ebb8-8142-4b84-8341-63f5e47c0053",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5268f067-8bdb-4d93-af13-a10ff177eea1",
              "leftValue": "={{ $json.content.normalize(\"NFD\")\n      .replace(/[\\u0300-\\u036f]/g, \"\")\n      .toLowerCase(); }}",
              "rightValue": "/aprobado/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        140
      ],
      "id": "5fb079ae-27dc-4b03-9334-1a486880367a",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"compra\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        220
      ],
      "id": "243771ba-dd88-4dc7-ab49-a4c31a496cdf",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1h4VIWYEfBufOeuJfDcwVFFf7cY-I4U6ZOv7effjAThg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1h4VIWYEfBufOeuJfDcwVFFf7cY-I4U6ZOv7effjAThg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "CORREO"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        60
      ],
      "id": "2a987ec1-c195-4f5f-bd1b-19b2e9e94f84",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86552321-4bbc-4aa5-afc7-5ce6278c72d2",
              "name": "URL",
              "value": "={{ $('Edit Fields').item.json.url }}",
              "type": "string"
            },
            {
              "id": "ef1606bf-68e5-4717-a225-708529dcad05",
              "name": "NOMBRE",
              "value": "={{ $('Webhook').item.json.body.name }}",
              "type": "string"
            },
            {
              "id": "0f13f81b-905a-4e1e-815c-3bcb4932bb77",
              "name": "CORREO",
              "value": "={{ $('Webhook').item.json.body.email }}",
              "type": "string"
            },
            {
              "id": "b008676e-7f3b-46eb-9c3f-13f4757b8977",
              "name": "WHATSAPP",
              "value": "={{ $('Webhook').item.json.body.whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        60
      ],
      "id": "4ba5d44c-3de3-48b4-8ff3-a8f9e4e3e2dd",
      "name": "Edit Fields6"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 13; SM-N986B Build/TP1A.220624.014; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/131.0.6778.200 Mobile Safari/537.36 Instagram 361.0.0.46.88 Android (33/13; 320dpi; 720x1403; samsung; SM-N986B; c2s; exynos990; es_ES; 674675144)",
            "content-length": "30681",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-ES,es;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundaryWQR2XG7wQLnXHTxL",
            "origin": "https://automscc.com",
            "priority": "u=1, i",
            "referer": "https://automscc.com/",
            "sec-ch-ua": "\"Android WebView\";v=\"131\", \"Chromium\";v=\"131\", \"Not_A Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-site",
            "x-forwarded-for": "5.159.171.1",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0f86eb816a4d",
            "x-real-ip": "5.159.171.1",
            "x-requested-with": "com.instagram.android"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Jos칠 Enrique D칤az Rodr칤guez ",
            "email": "info@toldolimp.com",
            "whatsapp": "+34659802124"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/subir-pagos-bizum",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-01-14T20:29:25.880Z",
      "createdAt": "2025-01-14T20:29:25.880Z",
      "role": "workflow:owner",
      "workflowId": "oZ2YYXpMZBu5TOBf",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-04T04:51:43.000Z",
  "versionId": "955f7018-c2ce-46e5-9f62-276f8d18662b"
}