backup/2025/05/fE172B2mFYY1WJxf.json
{
  "active": true,
  "connections": {
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "MongoDB3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENCUESTA": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MongoDB3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO": {
      "main": [
        [
          {
            "node": "DATOS",
            "type": "main",
            "index": 0
          },
          {
            "node": "IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "INSERTAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "INSERTA ID MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe en manychat?": {
      "main": [
        [
          {
            "node": "DATOS EXISTENTES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CREAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "INSERTAR SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP": {
      "main": [
        [
          {
            "node": "IP REAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP REAL": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS": {
      "main": [
        [
          {
            "node": "CONSULTA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CONSULTA": {
      "main": [
        [
          {
            "node": "EXISTE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "INSERTAR": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "DATOS PARA SQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "CONSULTA FLODESK",
            "type": "main",
            "index": 0
          },
          {
            "node": "CONSULTA MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONSULTA FLODESK": {
      "main": [
        [
          {
            "node": "EXISTE FLODESK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE FLODESK?": {
      "main": [
        [
          {
            "node": "INSERTA FLODESK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONSULTA MANYCHAT": {
      "main": [
        [
          {
            "node": "existe en manychat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREAR": {
      "main": [
        [
          {
            "node": "DATOS CREADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS CREADOS": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERTA ID MANYCHAT": {
      "main": [
        [
          {
            "node": "EXISTE?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE?1": {
      "main": [
        [
          {
            "node": "ENVIAR FLUJO BV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS EXISTENTES": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS PARA SQL": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          },
          {
            "node": "CONSULTA SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE SQL": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CONSULTA SQL": {
      "main": [
        [
          {
            "node": "EXISTE SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-06T03:24:50.509Z",
  "id": "fE172B2mFYY1WJxf",
  "isArchived": false,
  "meta": null,
  "name": "游릭 [ARZA-U칌AS-L2] CAPTURA TD - REGISTRO Y ENCUESTAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "encuesta-u침as-l2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        540
      ],
      "id": "d6066679-8985-4403-8cfb-b6b1f094f531",
      "name": "ENCUESTA",
      "webhookId": "b76e04b5-c389-4e20-9c11-396ab3262bd1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfe23bab-7c1a-4462-ad5b-b7291ee8d7af",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp }}",
              "type": "string"
            },
            {
              "id": "cfe28cc4-c69b-4a26-86b7-e3fcab392043",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "de3c730f-dcad-4ab6-af4c-2e96c75a6c8b",
              "name": "tiempoencuesta",
              "value": "={{ $json.body.tiempoencuesta }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        280
      ],
      "id": "d20b0625-2ed5-4a60-83e7-e3eabc32196c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "collection": "=U칌AS-L2",
        "options": {
          "limit": 1
        },
        "query": "={{ $json.toJsonString() }}"
      },
      "id": "f88b99d3-4ed6-45d2-836a-2f7b70c492ab",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        100,
        280
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "JAKPCevXk5GvKOt9",
          "name": "MONGO CARLOS ARZA"
        }
      }
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "U칌AS-L2",
        "updateKey": "_id",
        "fields": "tiempoencuesta,Edad,Ocupaci칩n,Proposito,Ingresos,puntaje",
        "options": {}
      },
      "id": "f3e27997-c5a0-4224-9fe3-73cb90293e09",
      "name": "MongoDB3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        760,
        500
      ],
      "credentials": {
        "mongoDb": {
          "id": "JAKPCevXk5GvKOt9",
          "name": "MONGO CARLOS ARZA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6e26fec2-ff29-4de3-a28c-cc4ab838f10b",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        280
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "68040d8e-9ace-4100-80ea-cb04e16f0cf0",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        540,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        320,
        500
      ],
      "id": "2d2aec65-7c6a-4e67-97eb-61292b3af907",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.answersJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        720
      ],
      "id": "1e27d3e7-90d6-466f-9c1e-5d5850c6c5a9",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        100,
        560
      ],
      "id": "02fa0060-1ab6-4314-996c-e0ae0610696a",
      "name": "Merge4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee2f3d54-34a2-40bd-a09a-dcb81b934770",
              "name": "puntaje",
              "value": "={{ $json.puntaje }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        520
      ],
      "id": "3199e612-50f7-45ae-a600-8ee06318ac76",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a520e1b6-bb26-44a6-857f-770dac49655a",
              "leftValue": "={{ $json.puntaje }}",
              "rightValue": 700,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        500
      ],
      "id": "4acad23e-f81b-4ab7-96ea-7146b9d6bc47",
      "name": "If2"
    },
    {
      "parameters": {
        "collection": "=U칌AS-L2",
        "options": {},
        "query": "={\"_id\": \"{{ $('Merge1').item.json._id }}\"}"
      },
      "id": "54898437-632c-4663-9792-7de35bad1523",
      "name": "MongoDB4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1200,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "JAKPCevXk5GvKOt9",
          "name": "MONGO CARLOS ARZA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto-js'); // Aseg칰rate de que la librer칤a est치 disponible\n\nconst item = $input.first().json;\n\nfunction hashSHA256(value) {\n  return crypto.SHA256(value).toString(crypto.enc.Hex);\n}\n\nconst encryptedData = {\n  em: [hashSHA256(item.email)],  // Correo electr칩nico\n  ph: [hashSHA256(Number(item.whatsapp))],  // N칰mero de tel칠fono\n  country: [hashSHA256(item.country)],  // Pa칤s\n  zp: [hashSHA256(item.zip)], //zip\n  ct: [hashSHA256(item.city)], //ciudad\n  st: [hashSHA256(item.regionName)], //estado\n  // Datos no cifrados deben estar directamente accesibles\n  client_ip_address: item.query,\n  client_user_agent: item.userAgent,\n  fbc: item.fbc,\n  fbp: item.fbp,\n};\n\nconst facebookEvent = {\n  data: [\n    {\n      event_name: \"CompleteRegistration\",\n      event_time: Math.floor(Date.now() / 1000), // Tiempo actual en segundos\n      action_source: \"website\",\n      original_event_data: {\n        event_name: \"CompleteRegistration\",\n        event_time: Math.floor(Date.now() / 1000)\n      },\n      user_data: encryptedData,\n    }\n  ]\n};\n\nreturn facebookEvent;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        500
      ],
      "id": "af9ac51e-705d-4159-8792-cae8f7b61733",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://graph.facebook.com/v21.0/770890021155169/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAE7XOlO9wMBOzKFp7BeuvbloidV5hKEG4uy1jKEmxjXCAaZCK9dlDCqMSeRFrdGaPQduJEGDIUt7003CDf118mn9nE1phBS7wCPcaHTIU79zJy9CVNrYC6Db1jOu7lLFp3GwyPSejVvLA3VB31ZBmqIKLGAoHXRY28GTUyJ4bwMW6SCbaPgpL2KW9606bpAZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        500
      ],
      "id": "17e19b8f-6a23-4d93-aa4d-6b114a92d768",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json._id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "EDAD",
              "value": "={{ $json.q1 }}",
              "type": "string"
            },
            {
              "id": "0ca6d2e7-d8c2-46a7-975a-09a456419cf3",
              "name": "PROPOSITO",
              "value": "={{ $json.q4 }}",
              "type": "string"
            },
            {
              "id": "0badb125-2290-4dc2-9eea-778d1dcb665b",
              "name": "INGRESOS",
              "value": "={{ $json.q5 }}",
              "type": "string"
            },
            {
              "id": "4eb1e6ab-b022-4cea-b94f-3120ba812fcb",
              "name": "ESTUDIOS",
              "value": "={{ $json.q2 }}",
              "type": "string"
            },
            {
              "id": "e8240118-b101-46ae-ba85-736ba448cef6",
              "name": "PUNTAJE",
              "value": "={{ $json.puntaje }}",
              "type": "number"
            },
            {
              "id": "a0f82f8d-7f63-4d33-b894-2cba3b59adfd",
              "name": "FECHA ENCUESTA",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "703ee060-0a76-4436-8621-7a62f8e7db1a",
              "name": "HORA ENCUESTA",
              "value": "={{ $now.format('HH:mm:ss:s') }}",
              "type": "string"
            },
            {
              "id": "22842718-879e-4ed6-a855-880197a02b91",
              "name": "DINERO",
              "value": "={{ $json.q3 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        700
      ],
      "id": "0ed55806-3474-4eed-a122-e31274893ed3",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 1189237:5ad48c01d73704bf48fc266399a867f6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"field_name\": \"PROBABILIDAD-ENC\",\n  \"field_value\": {{ $json.puntaje.round() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ],
      "id": "e6cb1a10-c723-44d6-bdf2-8f86c4c02f42",
      "name": "HTTP Request5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTagByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 1189237:5ad48c01d73704bf48fc266399a867f6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"tag_name\": \"ENCUESTA-L1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        100
      ],
      "id": "eda0ccdf-bb08-4939-bee9-26a739c2f3aa",
      "name": "HTTP Request6",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const whatsapp = item.json.whatsapp || \"\"; // Verifica si existe el campo WhatsApp\n  const email = item.json.email || \"\"; // Verifica si existe el campo email\n  \n  if (whatsapp && email) {\n    // Si existen ambos campos, retorna un JSON con ambos valores\n    return {\n      json: {\n        whatsapp: whatsapp,\n        email: email\n      }\n    };\n  } else if (whatsapp) {\n    // Si existe solo WhatsApp, genera un filtro con regex para los 칰ltimos 6 caracteres\n    return {\n      json: {\n        whatsapp: {\n          \"$regex\": `.*${whatsapp.slice(-6)}.*`,\n          \"$options\": \"i\"\n        }\n      }\n    };\n  } else if (email) {\n    // Si no existe WhatsApp, utiliza el correo electr칩nico para generar el filtro\n    return {\n      json: {\n        email: email\n      }\n    };\n  } else {\n    // Si no hay datos de WhatsApp ni correo, lanza un error\n    throw new Error(\"No se proporcionaron datos de WhatsApp ni correo electr칩nico.\");\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        280
      ],
      "id": "c27752e4-5d7e-44a1-9aab-6eceef5c8736",
      "name": "Code1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "u침as-registro-l2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        -480
      ],
      "id": "3349789c-3271-40e0-bdbc-bd0d12342877",
      "name": "REGISTRO",
      "webhookId": "e6a1411b-2fac-4fe9-a41f-b62b5710d8b5"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "0baa816a-aaab-45ed-ab21-5e03456f82da",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        320,
        -490
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "c55bff3b-2040-4335-a513-b3bd951bf6e9",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        100,
        -590
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1640,
        -440
      ],
      "id": "c1ff8c00-fbc2-479d-a928-78cf82815e43",
      "name": "Merge5",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdbedabd-650a-4c77-aafe-61f48231f405",
              "leftValue": "={{ $json.data[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        -620
      ],
      "id": "e0e9b827-7eb6-4795-a271-02cd95138b0d",
      "name": "existe en manychat?",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 1189237:5ad48c01d73704bf48fc266399a867f6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"flow_ns\": \"content20250321190458_817899\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        -460
      ],
      "id": "d7e1e7e4-145e-4255-9446-80913ccc1a73",
      "name": "ENVIAR FLUJO BV",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "U칌AS_L2",
          "mode": "list",
          "cachedResultName": "U칌AS_L2"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "ID",
        "valueToMatchOn": "={{ $json.ID }}",
        "valuesToSend": {
          "values": [
            {
              "column": "FECHA_ENCUESTA",
              "value": "={{ $json[\"FECHA ENCUESTA\"] }}"
            },
            {
              "column": "HORA_ENCUESTA",
              "value": "={{ $json[\"HORA ENCUESTA\"] }}"
            },
            {
              "column": "EDAD",
              "value": "={{ $json.EDAD }}"
            },
            {
              "column": "INGRESOS",
              "value": "={{ $json.INGRESOS }}"
            },
            {
              "column": "ESTUDIOS",
              "value": "={{ $json.ESTUDIOS }}"
            },
            {
              "column": "PROPOSITO",
              "value": "={{ $json.PROPOSITO }}"
            },
            {
              "column": "PUNTAJE",
              "value": "={{ $json.PUNTAJE }}"
            },
            {
              "column": "QLEAD",
              "value": "={{ $json.PUNTAJE > 700 ? \"si\": null }}"
            },
            {
              "column": "DINERO",
              "value": "={{ $json.DINERO }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1640,
        700
      ],
      "id": "47fde9af-f1b4-41c1-8993-40afdc2d4479",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "U칌AS_L2",
          "mode": "list",
          "cachedResultName": "U칌AS_L2"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "condition": "LIKE",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        980,
        780
      ],
      "id": "f275c09b-3279-4776-b728-cbdef776b193",
      "name": "MySQL1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3e8099-ae55-4534-a5be-217d413c0ff2",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        780
      ],
      "id": "1afb6d07-3f32-492b-8055-2b135581467a",
      "name": "If4"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1420,
        700
      ],
      "id": "f7e45775-a5af-4990-9a90-6aafa2a885c3",
      "name": "Merge6"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1420,
        -240
      ],
      "id": "d89023f9-cbfc-4899-9df2-41fb4f05eaa6",
      "name": "Merge7"
    },
    {
      "parameters": {
        "jsCode": "// ---------- 1. PARSEO ROBUSTO ----------\nlet answersJsonOptions = {};\nconst inputData = $input.first();\nconst rawBody   = inputData.json.body;\n\nfunction extractAnswers(body) {\n  if (typeof body === 'string') return JSON.parse(body);\n  if (body && typeof body === 'object') {\n    if (body.answersJsonOptions)\n      return typeof body.answersJsonOptions === 'string'\n        ? JSON.parse(body.answersJsonOptions)\n        : body.answersJsonOptions;\n    if ('q1' in body) return body;\n  }\n  throw new Error('Formato de entrada no reconocido');\n}\n\ntry { answersJsonOptions = extractAnswers(rawBody); }\ncatch (e) {\n  return [{ json: { error: `Error procesando JSON: ${e.message}` } }];\n}\n\n// ---------- 2. RESPUESTAS ----------\nconst q1 = (answersJsonOptions.q1 || '').trim(); // Edad\nconst q2 = (answersJsonOptions.q2 || '').trim(); // Estudios\nconst q3 = (answersJsonOptions.q3 || '').trim(); // Experiencia u침as\nconst q4 = (answersJsonOptions.q4 || '').trim(); // Objetivo\nconst q5 = (answersJsonOptions.q5 || '').trim(); // Ingresos\n\n// ---------- 3. PUNTAJES ----------\nconst SCORE_TABLE = {\n  q1: { a:  90, b:150, c:120, d: 75, e: 30 },\n  q2: { a:   0, b: 20, c: 40, d: 60, e: 80, f:100 },\n  q3: { a:  30, b: 75, c:150, d:120 },\n  q4: { a: 350, b:280, c:140 },\n  q5: { a:   0, b: 50, c:125, d:200, e:250 },\n};\n\nconst get = (field, ans) => SCORE_TABLE[field]?.[ans] || 0;\n\n// ---------- 4. TOTAL ----------\nlet total =\n  get('q1', q1) +\n  get('q2', q2) +\n  get('q3', q3) +\n  get('q4', q4) +\n  get('q5', q5);\n\ntotal = Math.min(Math.max(total, 0), 1000);\n\n// ---------- 5. RETORNO ----------\nreturn [{ json: { puntaje: total } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        520
      ],
      "id": "bce38b2d-63aa-449d-bb8b-f603a0431321",
      "name": "Code2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a258913-16e5-4c77-bc40-13e5d18f740f",
              "name": "ip",
              "value": "={{ $json.headers['x-real-ip'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        -665
      ],
      "id": "9f83c2c7-acb7-4e05-bfbf-c30285c2c15e",
      "name": "IP"
    },
    {
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.ip }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        -665
      ],
      "id": "a23db914-f363-41db-9a05-b39a6d944c1e",
      "name": "IP REAL",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        -390
      ],
      "id": "9e256794-bfae-4426-a74c-bec224df03aa",
      "name": "DATOS"
    },
    {
      "parameters": {
        "collection": "=U칌AS-L2",
        "options": {
          "limit": 1
        },
        "query": "={\"whatsapp\": \"{{ $json.whatsapp }}\", \"email\": \"{{$json.email}}\"}"
      },
      "id": "a2d4bd05-264e-4833-8d50-fa33318cd560",
      "name": "CONSULTA",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -120,
        -320
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "JAKPCevXk5GvKOt9",
          "name": "MONGO CARLOS ARZA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87187466-8152-4f23-8b95-2f301de8ea0e",
      "name": "EXISTE?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        100,
        -315
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "U칌AS-L2",
        "fields": "=query,country,city,zip,regionName,timezone,email,whatsapp,utmCampaign,utmSource,utmMedium,utmContent,utmTerm,userAgent,platform,language,tiemporegistro,fbc,fbp,isFbcGenerated",
        "options": {}
      },
      "id": "305907ba-f11d-483a-a0af-c105918bf3e2",
      "name": "INSERTAR",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        540,
        -490
      ],
      "credentials": {
        "mongoDb": {
          "id": "JAKPCevXk5GvKOt9",
          "name": "MONGO CARLOS ARZA"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic fd_key_78554cc9f6964172becd3ea08a9c3070.EYncvUKAUE4Y4W1TQzy0XcznXgZqLllXMAXXkAlmWNr1KmkBfJHXzIDZjitLwlqxgC09qE8H6tDEozhhj4coYSvMNv4DYY8wFfAhj0ZEWmUKCzNevcKmErj59yS7rXLBEmMuxd2u4EdnwNrkafWOlKKKFdkpuM23q0NaFO9G8I3q4Ou82KUMi9cZmLrXOnrv"
            },
            {
              "name": "User-Agent",
              "value": " n8n-l2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -840
      ],
      "id": "93fdeaad-f2f0-4e69-bd59-8cbbc7785622",
      "name": "CONSULTA FLODESK",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flodesk.com/v1/subscribers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic fd_key_78554cc9f6964172becd3ea08a9c3070.EYncvUKAUE4Y4W1TQzy0XcznXgZqLllXMAXXkAlmWNr1KmkBfJHXzIDZjitLwlqxgC09qE8H6tDEozhhj4coYSvMNv4DYY8wFfAhj0ZEWmUKCzNevcKmErj59yS7rXLBEmMuxd2u4EdnwNrkafWOlKKKFdkpuM23q0NaFO9G8I3q4Ou82KUMi9cZmLrXOnrv"
            },
            {
              "name": "User-Agent",
              "value": " n8n-l2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('INSERTAR').item.json.email }}\",\n    \"segment_ids\": [\n       \"6819893e62904c6ccbcac33e\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -900
      ],
      "id": "3eae5acd-6176-4da3-9abe-db5b635b6425",
      "name": "INSERTA FLODESK",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        -840
      ],
      "id": "5b03df99-2189-4d0a-825e-33a038c58262",
      "name": "EXISTE FLODESK?"
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByName",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.whatsapp }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 1189237:5ad48c01d73704bf48fc266399a867f6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -600
      ],
      "id": "2cfd8910-2922-4e07-baf4-e02b88855428",
      "name": "CONSULTA MANYCHAT",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 1189237:5ad48c01d73704bf48fc266399a867f6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('INSERTAR').item.json.whatsapp }}\",\n  \"whatsapp_phone\": \"{{ $('INSERTAR').item.json.whatsapp }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -540
      ],
      "id": "a99fa7ff-301f-4639-96ac-db28bc8c2c9d",
      "name": "CREAR",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        -560
      ],
      "id": "d4fa64f9-ce0c-42e4-ba92-2300590881b4",
      "name": "DATOS CREADOS",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "VCAPITAL-L1",
        "updateKey": "_id",
        "fields": "=id_manychat",
        "options": {}
      },
      "id": "7f3bc05c-2b78-4ba9-8dbb-728d22752104",
      "name": "INSERTA ID MANYCHAT",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1860,
        -440
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3101ba6-b04a-40da-86e8-04bb9fabd5d7",
              "leftValue": "={{ $('Merge5').item.json.existe }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2060,
        -440
      ],
      "id": "af0ff226-7bb9-4430-9247-aac7326a91f8",
      "name": "EXISTE?1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data[0].id }}",
              "type": "string"
            },
            {
              "id": "8040badb-7f75-4766-b6ef-8e74c88bc480",
              "name": "existe",
              "value": "si",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        -700
      ],
      "id": "3b3861d1-3ff8-4d98-86dd-6253be46a972",
      "name": "DATOS EXISTENTES",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86552321-4bbc-4aa5-afc7-5ce6278c72d2",
              "name": "CORREO",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ef1606bf-68e5-4717-a225-708529dcad05",
              "name": "WHATSAPP",
              "value": "={{ $json.whatsapp }}",
              "type": "string"
            },
            {
              "id": "0f13f81b-905a-4e1e-815c-3bcb4932bb77",
              "name": "CAMPA칌A",
              "value": "={{ $json.utmCampaign }}",
              "type": "string"
            },
            {
              "id": "b008676e-7f3b-46eb-9c3f-13f4757b8977",
              "name": "PLATAFORMA",
              "value": "={{ $json.utmSource }}",
              "type": "string"
            },
            {
              "id": "0fa1b73e-3467-49e9-af06-7a4d94901a7b",
              "name": "SEGMENTACION",
              "value": "={{ $json.utmMedium }}",
              "type": "string"
            },
            {
              "id": "50bd88a7-ded2-46df-a377-6c529be00917",
              "name": "ANUNCIO",
              "value": "={{ $json.utmContent }}",
              "type": "string"
            },
            {
              "id": "4747c5a6-da7e-4da9-9a86-fe23003d5adf",
              "name": "PAIS",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json.id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "FECHA REGISTRO",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "d42a68f2-323f-4337-b37f-ec1b9a9e65c4",
              "name": "HORA",
              "value": "={{ $now.format('HH:mm:ss:s') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        -260
      ],
      "id": "1092c873-06e4-48fe-9ab6-e9211ae59196",
      "name": "DATOS PARA SQL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3e8099-ae55-4534-a5be-217d413c0ff2",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -160
      ],
      "id": "cacf94b9-ffc2-406e-86fa-5c9e9ca68bd2",
      "name": "EXISTE SQL"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "U칌AS_L2",
          "mode": "list",
          "cachedResultName": "U칌AS_L2"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "FECHA_REGISTRO",
              "value": "={{ $json[\"FECHA REGISTRO\"] }}"
            },
            {
              "column": "HORA_REGISTRO",
              "value": "={{ $json.HORA }}"
            },
            {
              "column": "CORREO",
              "value": "={{ $json.CORREO }}"
            },
            {
              "column": "WHATSAPP",
              "value": "={{ $json.WHATSAPP }}"
            },
            {
              "column": "PLATAFORMA",
              "value": "={{ $json.PLATAFORMA }}"
            },
            {
              "column": "SEGMENTACION",
              "value": "={{ $json.SEGMENTACION }}"
            },
            {
              "column": "ANUNCIO",
              "value": "={{ $json.ANUNCIO }}"
            },
            {
              "column": "CAMPA칌A",
              "value": "={{ $json[\"CAMPA칌A\"] }}"
            },
            {
              "column": "PAIS",
              "value": "={{ $json.PAIS }}"
            },
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1640,
        -240
      ],
      "id": "692a6016-b6d5-4642-81f5-f02275c391f4",
      "name": "INSERTAR SQL",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "U칌AS_L2",
          "mode": "list",
          "cachedResultName": "U칌AS_L2"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "condition": "LIKE",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        980,
        -160
      ],
      "id": "cd1bc821-42df-45ca-a9af-63a729ea4f73",
      "name": "CONSULTA SQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    }
  ],
  "pinData": {
    "REGISTRO": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
            "content-length": "412",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,pt;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://www.academyvcapital.com",
            "priority": "u=1, i",
            "referer": "https://www.academyvcapital.com/",
            "sec-ch-ua": "\"Google Chrome\";v=\"135\", \"Not-A.Brand\";v=\"8\", \"Chromium\";v=\"135\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "181.235.98.156",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e236941e778",
            "x-real-ip": "181.235.98.156"
          },
          "params": {},
          "query": {},
          "body": {
            "tiemporegistro": 1745438530,
            "email": "santiagoc@gmail.com",
            "whatsapp": "+573136298562",
            "utmCampaign": "-",
            "utmSource": "-",
            "utmMedium": "-",
            "utmContent": "-",
            "utmTerm": "-",
            "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
            "platform": "Win32",
            "language": "es-419",
            "fbc": "fb.1.1745438518.undefined",
            "fbp": "fb.1.1745438515977.391299648676255945"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/captura-vcapital",
          "executionMode": "production"
        }
      }
    ],
    "ENCUESTA": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.4.1 Mobile/22E252 Safari/604.1",
            "content-length": "408",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "es-419,es;q=0.9",
            "content-type": "application/json",
            "origin": "https://www.academymanicuristagolden.com",
            "referer": "https://www.academymanicuristagolden.com/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "191.156.40.86",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e236941e778",
            "x-real-ip": "191.156.40.86"
          },
          "params": {},
          "query": {},
          "body": {
            "answersJson": "{\"q1\":\"Menor de 30 a침os\",\"q2\":\"Posgrado\",\"q3\":\"+6 meses\",\"q4\":\"Explorar si el negocio de las u침as es para mi\",\"q5\":\"+1500\"}",
            "answersJsonOptions": "{\"q1\":\"a\",\"q2\":\"f\",\"q3\":\"d\",\"q4\":\"c\",\"q5\":\"e\"}",
            "referrer": "https://www.academymanicuristagolden.com/registro",
            "email": "frankgonzalezm21@gmail.com",
            "whatsapp": "+573218504711",
            "tiempoencuesta": 1746506911
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/encuesta-u침as-l2",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-21T17:26:24.993Z",
      "updatedAt": "2025-02-21T17:26:24.993Z",
      "id": "E9IVbnGJY89KtrIH",
      "name": "MONGO"
    },
    {
      "createdAt": "2025-02-20T03:14:39.493Z",
      "updatedAt": "2025-02-20T03:14:39.493Z",
      "id": "fMteddKWhaFhuYHk",
      "name": "MYSQL"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-05-18T05:43:50.000Z",
  "versionId": "be006f19-adab-4181-b103-0c87722567f3"
}