backup/2025/09/Or24MQpf7wbVK7i8.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T23:05:27.544Z",
  "id": "Or24MQpf7wbVK7i8",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 46",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -128
      ],
      "id": "ddda6073-8a30-4279-93b6-4923e97cc7ac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-launchflow.wc2hpx.easypanel.host/api/form/submit",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -32
      ],
      "id": "605a0653-62cf-4896-9c44-47c99a87578c",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "collection": "NY-L1",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -992,
        -128
      ],
      "id": "817508ba-6d87-41f5-b1e9-507aa41156c0",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "yO7F3ZCelUe7C1RD",
          "name": "BASE DE DATOS ADRIANA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        -112
      ],
      "id": "356fab98-7991-4482-8b4f-96a78bdd8ae1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa90ed36-d3ea-4ada-b8a7-0da38e3c9529",
              "name": "registrationUrl",
              "value": "https://www.adrianarueda.online/reg-ny",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        -128
      ],
      "id": "f26f01b8-1357-4c49-8ff8-265dda722cad",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        16
      ],
      "id": "04cde6e4-4eb4-44fc-a57d-9a77ad695340",
      "name": "Wait",
      "webhookId": "2811f220-bcd0-45d5-a603-879f00fb235b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a22f95b8-6149-4d25-989a-7a4465274fc9",
              "leftValue": "={{ $json.tiemporegistro }}",
              "rightValue": 1756835765,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -560,
        -128
      ],
      "id": "ee5d7d71-5a88-4786-bf9b-1bd4e9e41df9",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-03T23:05:27.550Z",
      "createdAt": "2025-09-03T23:05:27.550Z",
      "role": "workflow:owner",
      "workflowId": "Or24MQpf7wbVK7i8",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T21:09:29.000Z",
  "versionId": "5b0f570a-cdb2-4187-a7aa-4b4cd1fca9b1"
}