backup/2024/11/bug3ClE7CSaxa9Pn.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "UnicosSql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UnicosSql": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-19T12:59:41.001Z",
  "id": "bug3ClE7CSaxa9Pn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[TOOL] ACTUALIZAR LINKS DE GRUPOS",
  "nodes": [
    {
      "parameters": {},
      "id": "02bc4a37-86b3-40d3-95df-980843122639",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        340
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "={{$('Edit Fields').first().json.tablaLINK}}",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "5372929a-1156-4dd3-a4a8-3bbdc28e49f1",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1160,
        260
      ],
      "credentials": {
        "mySql": {
          "id": "4J4D0oAUKKPzfhYR",
          "name": "REDIRECCIONES"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95761bbf-54fc-45e4-b955-18a9fa0b5415",
              "name": "tablaLINK",
              "value": "={{ $json.links_table }}",
              "type": "string"
            },
            {
              "id": "fa2238ed-ce9f-45e9-93df-a5446d17ff30",
              "name": "tablaIPS",
              "value": "={{ $json.ips_table }}",
              "type": "string"
            },
            {
              "id": "e3e42d03-1926-4423-bb32-94946b66e204",
              "name": "SESION",
              "value": "JUANCA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "86357237-cd24-4f81-9e53-3068d3d001dc",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accede a los datos de entrada desde los nodos anteriores\nconst tables = $input.all(); // Obtiene todos los elementos de entrada\n\n// Verifica que 'tables' contenga al menos un elemento y extrae los nombres de las tablas\nconst tableNames = tables.map(item => item.json[\"Tables_in_u698892974_REDIRECCIONES\"]);\n\n// Elimina duplicados usando un Set\nconst uniqueTableNames = [...new Set(tableNames)];\n\n// Filtra solo las tablas que contienen \"links\" o \"ips\" (insensible a mayúsculas/minúsculas)\nconst filteredTables = uniqueTableNames.filter(name => \n  name.toLowerCase().includes(\"links\") || name.toLowerCase().includes(\"ips\")\n);\n\n// Crea un objeto para agrupar por base y sufijo\nconst groupedTables = {};\n\nfilteredTables.forEach(name => {\n  // Extrae el prefijo hasta la última ocurrencia de \"_IPS\" o \"_LINKS\"\n  const match = name.match(/^(.*?)(_IPS|_LINKS)(_.*)?$/i);\n  if (!match) return;\n  \n  const baseName = match[1]; // Prefijo base (sin _IPS o _LINKS)\n  const suffix = match[3] || ''; // Sufijo adicional (como _ORG, _VIP, etc.)\n\n  if (!groupedTables[baseName]) {\n    groupedTables[baseName] = {};\n  }\n\n  if (!groupedTables[baseName][suffix]) {\n    groupedTables[baseName][suffix] = { ips: null, links: null };\n  }\n\n  if (name.toLowerCase().includes(\"ips\")) {\n    groupedTables[baseName][suffix].ips = name;\n  } else if (name.toLowerCase().includes(\"links\")) {\n    groupedTables[baseName][suffix].links = name;\n  }\n});\n\n// Convierte los pares en un arreglo de salida\nconst outputData = [];\n\nObject.entries(groupedTables).forEach(([base, suffixes]) => {\n  Object.entries(suffixes).forEach(([suffix, pair]) => {\n    if (pair.ips && pair.links) {\n      outputData.push({\n        base_name: base,\n        ips_table: pair.ips,\n        links_table: pair.links\n      });\n    }\n  });\n});\n\n// Retorna el arreglo de objetos como una salida JSON\nreturn outputData;\n"
      },
      "id": "cd0797f4-a9ca-4965-9bfb-582fc7ba955b",
      "name": "UnicosSql",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SHOW TABLES;\n",
        "options": {}
      },
      "id": "0f870094-3853-4b50-980e-4edf7eeb39ab",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        360,
        260
      ],
      "credentials": {
        "mySql": {
          "id": "4J4D0oAUKKPzfhYR",
          "name": "REDIRECCIONES"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        260
      ],
      "id": "d4b17eae-1f15-456d-97ad-23d0c60a5255",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        140
      ],
      "id": "9e2955d0-3fbb-439e-b695-ca98fda6b9ae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OJGmK9DNMy7rTKfw",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        360
      ],
      "id": "5a38cb9b-eb65-46eb-8847-aa64831ed6f1",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1320,
        360
      ],
      "id": "641e86bc-b853-4c8b-a2d1-cb6630095936",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-20T03:14:39.493Z",
      "updatedAt": "2025-02-20T03:14:39.493Z",
      "id": "fMteddKWhaFhuYHk",
      "name": "MYSQL"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-20T05:53:45.000Z",
  "versionId": "d369fb59-7134-4e1b-9cc0-6e8bede333c5"
}