backup/2024/11/MHUqRUlRfIuHW5AH.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-16T16:56:37.500Z",
  "id": "MHUqRUlRfIuHW5AH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "prueba MANYCHAT",
  "nodes": [
    {
      "parameters": {},
      "id": "790b1dd0-3e32-40fb-a6fc-3ce5bb9e40a2",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        880,
        340
      ]
    },
    {
      "parameters": {
        "url": "=https://api.manychat.com/fb/subscriber/findBySystemField?phone=%2B573136298562",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            }
          ]
        },
        "options": {}
      },
      "id": "c18b3007-2b38-4bc8-b966-3e6e059b4f92",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c4b084fd-9cd4-41be-aa41-57af8c682b82",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "481cb631-264b-4b11-8aa0-1083b512b085",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"first_name\": \"+573136298562\",\n  \"whatsapp_phone\": \"+573136298562\",\n  \"gender\": \"male\"\n}",
        "options": {}
      },
      "id": "7e010e40-c1d9-4d23-9c05-8eda7a5ffe61",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 288702267651723:f96a1f26344892df99c98292741de8c9"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $json.data.id }}\",\n  \"flow_ns\": \"content20241116164404_237928\"\n}",
        "options": {}
      },
      "id": "bf892222-408d-4525-a90d-7b730d197d48",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        240
      ]
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-13T00:38:33.000Z",
  "versionId": "1bf0800f-1d02-4659-b3b5-736f49e1625c"
}