backup/2024/11/raHOuDl7eW1MUjcO.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "TablaSql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form1": {
      "main": [
        [
          {
            "node": "SUBIR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contadorinciail": {
      "main": [
        [
          {
            "node": "ModificaNombres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BodysCreate": {
      "main": [
        [
          {
            "node": "contadorinciail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TablaSql": {
      "main": [
        [
          {
            "node": "DistinctSql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DistinctSql": {
      "main": [
        [
          {
            "node": "TablaInst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TablaInst": {
      "main": [
        [
          {
            "node": "BodySql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BodyInst1": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BodySql": {
      "main": [
        [
          {
            "node": "BodyInst1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModificaNombres": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "FormFinal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateGroup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateGroup": {
      "main": [
        [
          {
            "node": "5 seg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 seg": {
      "main": [
        [
          {
            "node": "ObtenerLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerLink": {
      "main": [
        [
          {
            "node": "EscribirGrupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EscribirGrupo": {
      "main": [
        [
          {
            "node": "PromoveAdmins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PromoveAdmins": {
      "main": [
        [
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "Config2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config2": {
      "main": [
        [
          {
            "node": "Setfoto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setfoto": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form2": {
      "main": [
        [
          {
            "node": "BodysCreate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUBIR": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-03T21:42:30.573Z",
  "id": "raHOuDl7eW1MUjcO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Tool] CREACIÓN DE GRUPOS 2.0",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "show TABLES",
        "options": {}
      },
      "id": "a227d4b7-cd46-4106-8f58-aeda4edaba7c",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1888,
        32
      ],
      "credentials": {
        "mySql": {
          "id": "179b2UX7XsHkNW05",
          "name": "REDIRECCIONES - LANZAMIENTOS"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://evolution.automscc.com/instance/fetchInstances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "options": {}
      },
      "id": "b4b95287-24c2-4fb6-b912-96f9aa660811",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        32
      ]
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "id": "fa74e5c8-8abe-43ca-8e9f-ae13917173f0",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4080,
        32
      ]
    },
    {
      "parameters": {
        "formTitle": "CREACIÓN DE GRUPOS",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre de los grupos",
              "requiredField": true
            },
            {
              "fieldLabel": "Descripción",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Introduce los admin separados por comas",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Cantidad de grupos",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "En que numero empieza?",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "subir imagen de grupos",
              "fieldType": "file",
              "acceptFileTypes": ".jpg,.png",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "CREAR GRUPOS",
          "ignoreBots": true
        }
      },
      "id": "461e5e10-72e0-4417-8621-fa0e2cf6f1b9",
      "name": "form1",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1008,
        32
      ],
      "webhookId": "a72b99b7-5dfb-4f38-be9d-28125c3d8308"
    },
    {
      "parameters": {
        "jsCode": "\nconst inicia = $('form1').all()[0].json['En que numero empieza?'];\n\nreturn [{ contador: inicia}];\n"
      },
      "id": "e4c4cd68-083f-4b10-98cb-7b609bc738b5",
      "name": "contadorinciail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los items de un nodo anterior\nconst adminsArray = $('form1').all();\n\n// Obtener el subject y la description del primer item\nconst subject = adminsArray[0]?.json['Nombre de los grupos'] || ''; // Usando el primer item\nconst description = adminsArray[0]?.json['Descripción'] || ''; // Usando el primer item\n\n// Extraer y dividir los participantes en un array\nconst participants = adminsArray.map(item => item.json['Introduce los admin separados por comas'] || '')\n                               .flatMap(admins => admins.split(',').map(participant => participant.trim()));\n\n// Crear el objeto con los datos\nconst data = {\n  subject: subject,\n  description: description,\n  participants: participants\n};\n\nreturn Array(adminsArray[0].json['Cantidad de grupos']).fill({ json: data });\n"
      },
      "id": "8fec08a7-d6d1-498a-9813-cc6958306c6d",
      "name": "BodysCreate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accede a los datos de entrada desde los nodos anteriores\nconst tables = $input.all(); // Obtiene todos los elementos de entrada\n\n// Verifica que 'tables' contenga al menos un elemento y extrae los nombres de las tablas\nconst tableNames = tables.map(item => item.json[\"Tables_in_u698892974_REDIRECCIONES\"]);\n\n// Elimina duplicados usando un Set\nconst uniqueTableNames = [...new Set(tableNames)];\n\n// Crea un nuevo arreglo de salida con los nombres únicos\nconst outputData = uniqueTableNames.map(name => {\n  return {\n    table_name: name\n  };\n});\n\n// Retorna el arreglo de objetos como una salida JSON\nreturn outputData;\n"
      },
      "id": "f96c0750-7340-459a-8607-c88b31d3ad79",
      "name": "TablaSql",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer solo los nombres de las tablas y convertirlos al formato deseado\nconst tableNames = items.map(item => ({\n    option: item.json.table_name\n}));\n\n// Devolver el resultado como un único objeto JSON con un array de opciones\nreturn [{ json: { options: tableNames } }];\n"
      },
      "id": "f07dbd55-8ad1-4b7f-a660-04c1e2da2317",
      "name": "DistinctSql",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer solo los nombres\nconst instanceNames = $('HTTP Request').all().map(item => ({option: item.json.name}));\n\n// Devolver el resultado como un único objeto JSON con un array de opciones\nreturn [{ json: { options: instanceNames } }];\n"
      },
      "id": "42e01484-a92f-4e8e-b87b-b22d8cabb0a3",
      "name": "TablaInst",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst inputData2 = $('DistinctSql').first().json.options; // Primer conjunto de opciones\n\n// Inicializa un arreglo para las preguntas\nconst outputData = [];\n\n\n// Crea el objeto para la primera pregunta\nconst question2 = {\n  \"fieldLabel\": \"Que tabla?\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": []\n  },\n  \"requiredField\": true\n};\n\n// Agrega las opciones de la primera pregunta\ninputData2.forEach(option => {\n  question2.fieldOptions.values.push( option ); // Asegúrate de que 'option' es el valor de la opción\n});\n\n// Agrega la pregunta al arreglo de salida\noutputData.push(question2);\n\n// Retorna el arreglo de objetos como una sola salida JSON\nreturn outputData;\n"
      },
      "id": "2d5f8dbd-4feb-40f0-82e0-86a65f6c146c",
      "name": "BodyInst1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accede a los datos de entrada desde los nodos anteriores\nconst inputData1 = $('TablaInst').first().json.options; // Primer conjunto de opciones\n\n// Inicializa un arreglo para las preguntas\nconst outputData = [];\n\n// Crea el objeto para la primera pregunta\nconst question1 = {\n  \"fieldLabel\": \"Que instancia usarás?\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": []\n  },\n  \"requiredField\": true\n};\n\n// Agrega las opciones de la primera pregunta\ninputData1.forEach(option => {\n  question1.fieldOptions.values.push( option ); // Asegúrate de que 'option' es el valor de la opción\n});\n\n\n// Agrega la pregunta al arreglo de salida\noutputData.push(question1);\n\n// Retorna el arreglo de objetos como una sola salida JSON\nreturn outputData;\n"
      },
      "id": "59bd2686-9d8b-4283-81db-765cd8c49e2f",
      "name": "BodySql",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "let contador = $('contadorinciail').all()[0].json['contador'];\n\nconst items = $('BodysCreate').all();\n\nconst updatedItems = items.map(item => {\n  const updatedItem = { ...item.json };  // Copia el contenido dentro de `json`\n  updatedItem.subject = `${updatedItem.subject} #${contador}`; // Actualiza el `subject`\n  contador++; \n  return { json: updatedItem };  // Envuelve en `json` para que n8n lo procese correctamente\n});\n\nreturn updatedItems;\n"
      },
      "id": "5275730a-1d1e-4cbe-8512-6043f681919c",
      "name": "ModificaNombres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automscc.com/group/create/{{ $('Form2').all()[0].json['Que instancia usarás?'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "id": "90b1acfc-ce35-4c47-a401-4c0bcc19144b",
      "name": "CreateGroup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4304,
        32
      ]
    },
    {
      "parameters": {},
      "id": "ee3a611d-864f-448c-9ea4-efb21434f360",
      "name": "5 seg",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4528,
        32
      ],
      "webhookId": "5a1e03a6-5052-4f92-b342-aee6ce6ce8ea"
    },
    {
      "parameters": {
        "url": "=https://evolution.automscc.com/group/inviteCode/{{ $('Form2').all()[0].json['Que instancia usarás?'] }}?groupJid={{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "options": {}
      },
      "id": "5ea8ace0-f858-4d7b-a86e-7b747967ce93",
      "name": "ObtenerLink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4752,
        32
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "={{ $('Form2').all()[0].json['Que tabla?'] }}",
          "mode": "name"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $('CreateGroup').all()[0].json.subject }}"
            },
            {
              "column": "link",
              "value": "={{ $json.inviteUrl }}"
            },
            {
              "column": "id",
              "value": "={{ $('CreateGroup').item.json.id }}"
            },
            {
              "column": "Total",
              "value": "0"
            },
            {
              "column": "bienvenida",
              "value": "no"
            }
          ]
        },
        "options": {}
      },
      "id": "fa81e02b-5327-432d-8bd6-3a84357aed34",
      "name": "EscribirGrupo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4960,
        32
      ],
      "credentials": {
        "mySql": {
          "id": "179b2UX7XsHkNW05",
          "name": "REDIRECCIONES - LANZAMIENTOS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automscc.com/group/updateParticipant/{{ $('Form2').all()[0].json['Que instancia usarás?'] }}?groupJid={{ $('CreateGroup').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"promote\", \n  \n  \"participants\": {{ $('BodysCreate').all()[0].json['participants'].toJsonString() }}\n}",
        "options": {}
      },
      "id": "0871e859-d072-49a3-bdf1-bc89dd401ac0",
      "name": "PromoveAdmins",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5184,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automscc.com/group/updateSetting/{{ $('Form2').all()[0].json['Que instancia usarás?'] }}?groupJid={{ $('CreateGroup').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"announcement\"\n}",
        "options": {}
      },
      "id": "47245d9a-a041-4eec-b4eb-4b7dec755233",
      "name": "Config1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5408,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automscc.com/group/updateSetting/{{ $('Form2').all()[0].json['Que instancia usarás?'] }}?groupJid={{ $('CreateGroup').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"locked\"\n}",
        "options": {}
      },
      "id": "5877e929-2474-430a-813d-fc73e2c71a7a",
      "name": "Config2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5632,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automscc.com/group/updateGroupPicture/{{ $('Form2').all()[0].json['Que instancia usarás?'] }}?groupJid={{ $('CreateGroup').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image\": \"{{ $('Edit Fields').first().json.URL_IMAGEN}}\"\n}",
        "options": {}
      },
      "id": "1f794fad-8713-4dda-a111-528d314c7138",
      "name": "Setfoto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        32
      ]
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[{{ $('BodySql').item.json.toJsonString() }}, {{ $('BodyInst1').item.json.toJsonString() }}]",
        "options": {
          "buttonLabel": "CONTINUAR"
        }
      },
      "id": "35bf8cae-8257-4acf-b503-328880c16527",
      "name": "Form2",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        3200,
        32
      ],
      "webhookId": "8a58e824-7ab2-44d8-86ed-7b1a021eb831"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "options": {}
      },
      "id": "ed7c7389-6630-4361-a4d9-78188847300d",
      "name": "FormFinal",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        4304,
        -176
      ],
      "webhookId": "dc152ac1-5c48-4aa8-98df-2f4eeebf5866"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "n8n",
        "fileName": "={{ $now.toLocal().format('MM-dd-HH-mm') }}-imagenGrupo",
        "binaryPropertyName": "subir_imagen_de_grupos",
        "additionalFields": {}
      },
      "id": "e8d0fd09-f9a5-4578-b92c-25590d365b09",
      "name": "SUBIR",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1232,
        32
      ],
      "credentials": {
        "s3": {
          "id": "Y7pBuiQHG1mb91C8",
          "name": "MINIO minio-storage.automscc.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ecd0f46-9b4c-406d-94af-61dae04fe420",
              "name": "=URL_IMAGEN",
              "value": "=https://minio-storage.automscc.com/n8n/{{ $now.toLocal().format('MM-dd-HH-mm') }}-imagenGrupo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c707deb1-6e35-4768-a0b2-e3375d950ca8",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        32
      ]
    }
  ],
  "pinData": {
    "form1": [
      {
        "json": {
          "Nombre de los grupos": "Crumbl Cookies Saludables 🍪",
          "Descripción": "🍪 ¡Bienvenida al grupo Masterclass Crumbl Saludable!\r\n\r\nPrepárate para aprender a crear una versión saludable de la galleta viral tipo Crumbl —sin gluten, sin azúcar y lista para convertirse en tu próximo ingreso desde casa, ¡No pasa nada si no tienes experiencia en repostería! 👩‍🍳💰\r\n🔥El lunes *15 DE SEPTIEMBRE* — En  1 clase en vivo, de libre acceso, clara y detallada Vas a descubrir cómo esta receta puede abrirte las puertas a un negocio rentable, sin herramientas especiales ni grandes inversiones.\r\n✅ Conéctate puntual a cada clase:\r\n🇨🇴 Colombia 7:00 PM\r\n 🇲🇽 México (CDMX) 6:00 PM\r\n 🇦🇷 Argentina 9:00 PM\r\n 🇺🇸 EE.UU. (New York) 7:00 PM\r\n 🇺🇸 EE.UU. (Los Ángeles) 4:00 PM\r\n🚨 *ATENCIÓN*\r\n\r\n 1️⃣ ¡No te salgas del grupo! Aquí recibirás el acceso a la clase y una información valiosa  \r\n2️⃣ Nadie de nuestro equipo te pedirá códigos, datos ni mensajes privados. Solo confía en los administradores. ❌\r\n¡Nos vemos en la Masterclass!\r\n",
          "Introduce los admin separados por comas": "573058176936,573245904626,573017817643,573218504711,573163141159,573175120184",
          "Cantidad de grupos": 5,
          "En que numero empieza?": 11,
          "subir imagen de grupos": [
            {
              "filename": "PORTA SEPTIEMBRE_Mesa de trabajo 1.png",
              "mimetype": "image/png",
              "size": 228586
            }
          ],
          "submittedAt": "2025-09-08T10:53:59.083-05:00",
          "formMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2024-11-03T21:42:30.576Z",
      "createdAt": "2024-11-03T21:42:30.576Z",
      "role": "workflow:owner",
      "workflowId": "raHOuDl7eW1MUjcO",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": {
    "node:FormFinal": {
      "267400-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "268038-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "300856-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "341418-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "344997-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      },
      "346359-FormFinal": {
        "completionTitle": "TODOS LOS GRUPOS CREADOS",
        "completionMessage": "Comprueba en whatsapp",
        "redirectUrl": ""
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-08T15:56:37.000Z",
  "versionId": "8f18cabe-dafe-4c69-b1d4-4f11d89b286f"
}