backup/2025/06/mWrc58XOL9Y0u6Ah.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-30T06:08:53.308Z",
  "id": "mWrc58XOL9Y0u6Ah",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CRON] ASISTENCIA VIDEO YOUTUBE",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        48
      ],
      "id": "5b012214-b1ad-4249-bd1c-4974baeb2c1d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "TSH_C5S4RsM",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -224,
        48
      ],
      "id": "e4cd016d-09ed-4c49-ad54-e6cd547874da",
      "name": "YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "5W5n9xSquUs25Tc5",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EJ4hXX7b2xAXO90ny5MPq4afHFDxL___dGFHi-qmKKw",
          "mode": "list",
          "cachedResultName": "ASISTENCIA TERENCE L1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJ4hXX7b2xAXO90ny5MPq4afHFDxL___dGFHi-qmKKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ASISTENCIA TERENCE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJ4hXX7b2xAXO90ny5MPq4afHFDxL___dGFHi-qmKKw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CPL1": "={{ $json.liveStreamingDetails.concurrentViewers }}",
            "HORA": "={{$now.format('HH:mm')}}"
          },
          "matchingColumns": [
            "HORA"
          ],
          "schema": [
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPL1",
              "displayName": "CPL1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPL2",
              "displayName": "CPL2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPL3",
              "displayName": "CPL3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPL2 - CPL1",
              "displayName": "CPL2 - CPL1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CPL3 - CPL2",
              "displayName": "CPL3 - CPL2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        48
      ],
      "id": "774dffb9-41f8-4a36-a367-891e11c96ef2",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-06-30T06:08:53.314Z",
      "createdAt": "2025-06-30T06:08:53.314Z",
      "role": "workflow:owner",
      "workflowId": "mWrc58XOL9Y0u6Ah",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-17T00:00:51.308Z",
  "versionId": "541678cc-83a8-4bf6-8629-4093ac6a318c"
}