backup/2025/06/ZjKfxSDaiu4QMw3S.json
{
  "active": true,
  "connections": {
    "ESTADO": {
      "main": [
        [
          {
            "node": "LOGICA DE SELECCION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url": {
      "main": [
        [
          {
            "node": "mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje": {
      "main": [
        [
          {
            "node": "ENVIAR CON ASESOR",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUSCA ASESOR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASIGNA1": {
      "main": [
        [
          {
            "node": "BUSCA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ASIGNA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ENVIAR A ACADEMIA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BLOQUEADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA": {
      "main": [
        [
          {
            "node": "ESTADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "CONT +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONT +1": {
      "main": [
        [
          {
            "node": "CLIENTE +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENTE +1": {
      "main": [
        [
          {
            "node": "REGISTRO +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO +1": {
      "main": [
        [
          {
            "node": "BUSCA ASESOR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ASESOR1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO +": {
      "main": [
        [
          {
            "node": "BUSCA ASESOR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOGICA DE SELECCION": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "CONT +",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOGICA DE SELECCION1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONT +": {
      "main": [
        [
          {
            "node": "ACTUALIZAR CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ASESOR2": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACTUALIZAR CLIENTE": {
      "main": [
        [
          {
            "node": "REGISTRO +",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "LOGICA DE SELECCION1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REGISTRO +2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BLOQUEADOS": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO +2": {
      "main": [
        [
          {
            "node": "BUSCA ASESOR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-30T22:53:38.782Z",
  "id": "ZjKfxSDaiu4QMw3S",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🟢 [BACKEND-GERSSON] LINK CERO-DOLOR",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "16e2bc07-c05c-4e36-bd5d-d313d0d81cac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NUEVO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36834769-c9f1-4fc7-ac70-73892aeba8e3",
                    "leftValue": "={{ $json.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIEJO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1040,
        32
      ],
      "id": "fe78c509-1d39-4f74-b288-2e46aa4d77df",
      "name": "ESTADO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "647c5210-297d-40fc-bb27-c3c8ce0ed0fa",
              "name": "url",
              "value": "=https://wa.me/{{$json.WHA_ASESOR}}",
              "type": "string"
            },
            {
              "id": "f6d04cf3-c961-4bd9-847c-7fac41fcdee8",
              "name": "mensaje_compradores",
              "value": "Hola, ya hice la compra y tengo un problema, mi nombre es",
              "type": "string"
            },
            {
              "id": "f14f4bb3-64f6-4740-916e-417e77f767b5",
              "name": "mensaje_nocompradores",
              "value": "Hola, quiero inscribirme a CERO DOLOR pero tengo unas dudas o problemas, mi nombre es",
              "type": "string"
            },
            {
              "id": "fca4add6-f9db-4ce7-9e77-7aa58de8c5e8",
              "name": "whatsapp",
              "value": "={{ $json.WHATSAPP }}",
              "type": "string"
            },
            {
              "id": "c1e5a862-7966-48fc-92b7-ba8b41fce268",
              "name": "ID_ASESOR",
              "value": "={{ $json.ID_ASESOR }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        96
      ],
      "id": "004e6360-dae0-4626-bb66-94d37e1d7d39",
      "name": "url"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3397829-8df3-4b88-91e3-cdf65ab939b4",
              "name": "mensaje",
              "value": "={{ $json[\"¿Ya compraste el curso?\"] == \"si\" ? $json.mensaje_compradores : $json.mensaje_nocompradores }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        96
      ],
      "id": "9980b674-ce15-47a9-8ed8-42a11687aa60",
      "name": "mensaje"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1694f53-f949-4b5b-a117-26e31093c173",
              "name": "compra",
              "value": "={{ $json.body.courseStatus }}",
              "type": "string"
            },
            {
              "id": "a706139e-ebc8-4d42-93ab-65e2e4cf848b",
              "name": "Nombre",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "a51e8ec7-802b-42be-a956-0217e0abeb96",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp.replace(\"+\",\"\") }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        32
      ],
      "id": "97d94fc0-fbb9-48a5-8fe2-ec398a6d587f",
      "name": "ASIGNA1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-soporte-cerodolor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1696,
        32
      ],
      "id": "6f870199-4d4f-4f95-bad0-dcf0931b22dc",
      "name": "Webhook",
      "webhookId": "cdad0073-9813-4587-96bd-2b0ef5b24475"
    },
    {
      "parameters": {
        "chatId": "={{ $json.ID_TG }}",
        "text": "=*[CERO DOLOR] CLIENTE INGRESÓ SUS DATOS EN LINK DE SOPORTE*\n\nUn cliente puso sus datos en el link de soporte, te debe llegar directamente a tu whatsapp, si no llega, escribele 👇🏻\n\nNombre: {{ $('ASIGNA1').item.json.Nombre }}\nWhatsapp ingresado: {{ $('ASIGNA1').item.json.whatsapp }}\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "IR AL CHAT",
                    "additionalFields": {
                      "url": "=wa.me/{{ $('ASIGNA1').item.json.whatsapp }}"
                    }
                  },
                  {
                    "text": "IR A REPORTAR",
                    "additionalFields": {
                      "url": "https://sistema-cierres-ger.automscc.com/"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        -80
      ],
      "id": "a1883501-4008-48c6-86c2-4764c597a103",
      "name": "Telegram",
      "webhookId": "fd779e80-313b-44b4-b90b-38eaac72a615",
      "credentials": {
        "telegramApi": {
          "id": "QruLAfRq4u80XCVX",
          "name": "BOT AGENCIA X"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fbd224f-ebd3-4e33-93bd-e640cdd3b467",
              "leftValue": "={{ $json.ESTADO }}",
              "rightValue": "PAGADO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2c2042ce-b443-4631-b1fc-ceac57b534ec",
              "leftValue": "={{ $json.ESTADO }}",
              "rightValue": "VENTA CONSOLIDAD",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        96
      ],
      "id": "7eafe09e-6d4d-47e8-98aa-0470ace8e07c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "WHATSAPP",
              "condition": "LIKE",
              "value": "=%{{$('ASIGNA1').item.json.whatsapp.toString().slice(-6)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1264,
        32
      ],
      "id": "4d372429-f21f-4b35-a284-32e95772083c",
      "name": "BUSCA",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        64,
        -176
      ],
      "id": "7744134f-8089-4041-aec3-27b47353f0d9",
      "name": "Limit",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "LINK": "={{ $json.LINK + 1 }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RECHAZADOS",
              "displayName": "RECHAZADOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRITOS",
              "displayName": "CARRITOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TICKETS",
              "displayName": "TICKETS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPRAS",
              "displayName": "COMPRAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ES_ADMIN",
              "displayName": "ES_ADMIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_TG",
              "displayName": "ID_TG",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MASIVOS",
              "displayName": "MASIVOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        288,
        -176
      ],
      "id": "9e3d32e3-d50c-4d9e-a8e7-d2442f511295",
      "name": "CONT +1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ESTADO": "LINK",
            "WHATSAPP": "={{ $('ASIGNA1').item.json.whatsapp }}",
            "ID_ASESOR": "={{ $('Limit').item.json.ID }}",
            "FECHA_CREACION": "={{ $now.toSeconds().floor() }}",
            "NOMBRE": "={{ $('ASIGNA1').item.json.Nombre }}",
            "NOMBRE_ASESOR": "={{ $('Limit').item.json.NOMBRE }}",
            "WHA_ASESOR": "={{ $('Limit').item.json.WHATSAPP }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_ASESOR",
              "displayName": "ID_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE_ASESOR",
              "displayName": "NOMBRE_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHA_ASESOR",
              "displayName": "WHA_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_CREACION",
              "displayName": "FECHA_CREACION",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_COMPRA",
              "displayName": "FECHA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDIO_COMPRA",
              "displayName": "MEDIO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONTO_COMPRA",
              "displayName": "MONTO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONEDA_COMPRA",
              "displayName": "MONEDA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        512,
        -176
      ],
      "id": "11407816-3f6f-4e2d-aae2-b7ca4d5e708f",
      "name": "CLIENTE +1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_REGISTROS",
          "mode": "list",
          "cachedResultName": "GERSSON_REGISTROS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CLIENTE": "={{ $json.ID }}",
            "TIPO_EVENTO": "LINK-CERODOLOR",
            "FECHA_EVENTO": "={{ $now.toSeconds().floor() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_CLIENTE",
              "displayName": "ID_CLIENTE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO_EVENTO",
              "displayName": "TIPO_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_EVENTO",
              "displayName": "FECHA_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        -176
      ],
      "id": "10388b17-2b75-40ab-b47f-dd956e6ac39d",
      "name": "REGISTRO +1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $('url').item.json.ID_ASESOR }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1600,
        -80
      ],
      "id": "37c862d1-a8a7-40a6-95c1-1ec676710fda",
      "name": "BUSCA ASESOR1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_REGISTROS",
          "mode": "list",
          "cachedResultName": "GERSSON_REGISTROS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CLIENTE": "={{ $json.ID }}",
            "TIPO_EVENTO": "LINK-CERODOLOR",
            "FECHA_EVENTO": "={{ $now.toSeconds().floor() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_CLIENTE",
              "displayName": "ID_CLIENTE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO_EVENTO",
              "displayName": "TIPO_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_EVENTO",
              "displayName": "FECHA_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        96
      ],
      "id": "45c2d5f5-20dc-4cc9-97e6-e704d05603cb",
      "name": "REGISTRO +",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"url\": \"wa.me/573012904922?text=Ya+compre+y+necesito+ayuda.\"\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -608,
        48
      ],
      "id": "abdacc1c-528d-45ea-b20a-e5b7ca928e12",
      "name": "ENVIAR A ACADEMIA"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"url\": \"{{ $('url').item.json.url }}?text={{ encodeURIComponent($('mensaje').item.json.mensaje) }}+{{ $('ASIGNA1').item.json.Nombre }}\"\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        128
      ],
      "id": "e6182544-cd01-4e3b-af88-1337ad91cbe2",
      "name": "ENVIAR CON ASESOR"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.get_next_asesor_ponderado() AS \"ID\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -160,
        -176
      ],
      "id": "cb67a098-0d2c-4f11-b10d-af79f700a8a8",
      "name": "LOGICA DE SELECCION",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        64,
        96
      ],
      "id": "d076ef47-d3c8-4e67-8485-97e2bc1fbd74",
      "name": "Limit1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "LINK": "={{ $json.LINK + 1 }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RECHAZADOS",
              "displayName": "RECHAZADOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRITOS",
              "displayName": "CARRITOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TICKETS",
              "displayName": "TICKETS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COMPRAS",
              "displayName": "COMPRAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ES_ADMIN",
              "displayName": "ES_ADMIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_TG",
              "displayName": "ID_TG",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MASIVOS",
              "displayName": "MASIVOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        288,
        96
      ],
      "id": "529814bf-97b7-468f-989e-75f1b7b3e4dc",
      "name": "CONT +",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.get_next_asesor_ponderado() AS \"ID\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -160,
        96
      ],
      "id": "c850d0c1-eddd-4327-9452-ba5440544931",
      "name": "LOGICA DE SELECCION1",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "WHATSAPP",
              "condition": "LIKE",
              "value": "=%{{$('ASIGNA1').item.json.whatsapp.toString().slice(-6)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        944,
        96
      ],
      "id": "c5549bd7-2d45-4d0f-9e33-b1332fd78434",
      "name": "BUSCA ASESOR2",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_CLIENTES",
          "mode": "list",
          "cachedResultName": "GERSSON_CLIENTES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_ASESOR": "={{ $('Limit1').item.json.ID }}",
            "NOMBRE_ASESOR": "={{ $('Limit1').item.json.NOMBRE }}",
            "WHA_ASESOR": "={{ $('Limit1').item.json.WHATSAPP }}",
            "ID": "={{ $('BUSCA').item.json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_ASESOR",
              "displayName": "ID_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE_ASESOR",
              "displayName": "NOMBRE_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHA_ASESOR",
              "displayName": "WHA_ASESOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_CREACION",
              "displayName": "FECHA_CREACION",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA_COMPRA",
              "displayName": "FECHA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDIO_COMPRA",
              "displayName": "MEDIO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONTO_COMPRA",
              "displayName": "MONTO_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MONEDA_COMPRA",
              "displayName": "MONEDA_COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        512,
        96
      ],
      "id": "5c2ff6d7-b368-4efb-b9b7-ddd30fe3b596",
      "name": "ACTUALIZAR CLIENTE",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88a6eccd-7793-464d-9087-5817dc4969ff",
              "leftValue": "={{$json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        208
      ],
      "id": "103be75b-5e69-4c2c-8efd-d21c687c3a30",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_ASESORES",
          "mode": "list",
          "cachedResultName": "GERSSON_ASESORES"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "FECHA_FIN_REGLA",
              "condition": "IS NULL"
            },
            {
              "column": "ID",
              "value": "={{ $json.ID_ASESOR }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -608,
        208
      ],
      "id": "0b1fd43b-a3cb-49c4-a4ef-7dd32764e3d3",
      "name": "BLOQUEADOS",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "GERSSON_REGISTROS",
          "mode": "list",
          "cachedResultName": "GERSSON_REGISTROS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_CLIENTE": "={{ $('BUSCA').item.json.ID }}",
            "TIPO_EVENTO": "LINK-CERODOLOR",
            "FECHA_EVENTO": "={{ $now.toSeconds().floor() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_CLIENTE",
              "displayName": "ID_CLIENTE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO_EVENTO",
              "displayName": "TIPO_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_EVENTO",
              "displayName": "FECHA_EVENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        304
      ],
      "id": "8803b8e5-0c97-4e13-a773-e9a8bc773314",
      "name": "REGISTRO +2",
      "credentials": {
        "postgres": {
          "id": "Y9DYFWSCuPRQbP2H",
          "name": "POSTGRESS GERSSON"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36",
            "content-length": "90",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-ES,es;q=0.9,en;q=0.8",
            "content-type": "application/json",
            "origin": "https://automscc.com",
            "priority": "u=1, i",
            "referer": "https://automscc.com/",
            "sec-ch-ua": "\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-site",
            "x-forwarded-for": "181.68.19.173",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e236941e778",
            "x-real-ip": "181.68.19.173"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "francisco javier gonzalez muñoz",
            "courseStatus": "no",
            "whatsapp": "+573218504711"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/formulario-soporte-cerodolor",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:LINK FORM": {
      "fbclid": "IwZXh0bgNhZW0CMTEAAR20kFkfVxe1QME8-axpcta5iS2z_wUmQruHWb2Kx28iVZeVgAc7ujeoVMI_aem_M0gGPxGOdOkJiejxRbxUjQ"
    },
    "node:On form submission": {
      "fbclid": "IwZXh0bgNhZW0CMTEAAR3kxs5zCxYCSylPmDFfDbjX_CH46P9Kki3-P04EDiw9HAeMLDmUP1sXSH0_aem_aakkxOFr_Q82wwHiJ-1gEA"
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-04T22:36:35.108Z",
      "updatedAt": "2025-02-04T22:36:35.108Z",
      "id": "HjNWwvqlBnseDfSA",
      "name": "GERSSON"
    },
    {
      "createdAt": "2025-02-20T03:14:39.493Z",
      "updatedAt": "2025-02-20T03:14:39.493Z",
      "id": "fMteddKWhaFhuYHk",
      "name": "MYSQL"
    },
    {
      "createdAt": "2025-03-01T20:15:02.889Z",
      "updatedAt": "2025-03-01T20:15:16.011Z",
      "id": "lxeXBAFtbakepnEg",
      "name": "BACKEND-CIERRES"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-29T17:46:35.000Z",
  "versionId": "021a8ad3-a206-4c7c-b4be-6f3d76165035"
}