backup/2025/02/AWMtgR6Vimf3QRNE.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-17T16:24:31.625Z",
  "id": "AWMtgR6Vimf3QRNE",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[GERSSON] AVISOS|ERRORES TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gtm-avisos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -920,
        -140
      ],
      "id": "c344e2a9-6836-4c98-a5d5-51059da6671f",
      "name": "Webhook",
      "webhookId": "21506694-a2b3-4421-95a2-7d7d6b1c26b2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8117750846:AAExGxB3Mbwv2YBb6b7rMAvP6vsIPeH8EIM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"-1002176532359\",\n  \"message_thread_id\": 697,\n  \"text\": \"🚨 *GRUPOS*: \\n\\n {{ $json.body.mensaje }}\",\n  \"parse_mode\": \"Markdown\"\n}\n",
        "options": {}
      },
      "id": "7fffb4db-b129-4c1c-a82f-272bbeef09da",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tipo }}",
                    "rightValue": "llenado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LLENADO DE GRUPOS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f54525c-fd25-48ee-9df2-63bc6f4dbcef",
                    "leftValue": "={{ $json.body.tipo }}",
                    "rightValue": "emergencia",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EMERGENCIA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -700,
        -140
      ],
      "id": "9fd63f16-5b61-4439-9bad-eaa9f8b3d1d2",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8117750846:AAExGxB3Mbwv2YBb6b7rMAvP6vsIPeH8EIM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"-1002176532359\",\n  \"message_thread_id\": 697,\n  \"text\": \"⚠️ *EMERGENCIA*: \\n\\n {{ $json.body.mensaje }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "680705ca-23b8-474a-850b-8b26b23de626",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -40
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 8.0.0; WAS-LX3 Build/HUAWEIWAS-LX3; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/133.0.6943.50 Mobile Safari/537.36",
            "content-length": "70",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-CO,es;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"99\", \"Android WebView\";v=\"133\", \"Chromium\";v=\"133\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "186.28.5.137",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3051a3bb6625",
            "x-real-ip": "186.28.5.137",
            "x-requested-with": "com.hearts.solitaire.plus.offline.free.card.games"
          },
          "params": {},
          "query": {},
          "body": {
            "mensaje": "Se Agotaron los tokens de ip de la captación de gersson",
            "tipo": "emergencia"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/gtm-avisos",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-17T18:07:20.000Z",
  "versionId": "17b73947-89ae-4767-8421-2a8279f81a12"
}