backup/2025/02/E5jnW2L45zsH7xa1.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        []
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-20T21:23:41.641Z",
  "id": "E5jnW2L45zsH7xa1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[ARZA-UÑAS] ESCRITURA ENCUESTAS MYSQL",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Vz-S3m4janpQClfF0W7W-8wUBzXHZTljxtoYrF4MvrQ/edit?resourcekey=&gid=939836213#gid=939836213",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Vz-S3m4janpQClfF0W7W-8wUBzXHZTljxtoYrF4MvrQ/edit?resourcekey=&gid=939836213#gid=939836213",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -820,
        40
      ],
      "id": "68530ec3-f14f-42ce-b398-cca5f0e7beb6",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "ARZA_UÑAS",
          "mode": "list",
          "cachedResultName": "ARZA_UÑAS"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "correo",
        "valueToMatchOn": "={{ $json[\"¿Cuál es tu correo electrónico?\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "FECHA_ENCUESTA",
              "value": "={{ new Date($json['Marca temporal'].split(\" \")[0].split('/').reverse().join('-')).toISOString().slice(0, 10) }}\n"
            },
            {
              "column": "correo",
              "value": "={{ $json['¿Cuál es tu correo electrónico?'] }}"
            },
            {
              "column": "EDAD",
              "value": "={{ $json['¿Cuál es tu edad?'] }}"
            },
            {
              "column": "PAIS",
              "value": "={{ $json['¿Dónde vives?'] }}"
            },
            {
              "column": "INGRESOS",
              "value": "={{ $json['¿Cuál es tu ingreso mensual aproximado?'] }}"
            },
            {
              "column": "TIEMPO_CONOCES",
              "value": "={{ $json['¿Hace cuánto tiempo me conoces?'] }}"
            },
            {
              "column": "COMO_CONOCES",
              "value": "={{ $json['¿Cómo me conociste?'] }}"
            },
            {
              "column": "DESEO",
              "value": "={{ $json['¿Qué quieres lograr con la Semana de las uñas?'] }}"
            },
            {
              "column": "PROPOSITO",
              "value": "={{ $json['Si supieras hacer manicura, ¿Para qué usarías esa habilidad?'] }}"
            },
            {
              "column": "ESTUDIOS",
              "value": "={{ $json['¿Cuál es tu nivel de escolaridad?'] }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": false,
          "detailedOutput": false
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -80,
        80
      ],
      "id": "808d75a1-b378-4c37-b40b-59e9efd0b169",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -600,
        40
      ],
      "id": "2299ec34-9060-4537-8d7e-9ac975de3c02",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1140,
        -80
      ],
      "id": "96bd48c9-5fdc-4165-8416-df0cf6826fd2",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "correo",
              "field2": "CORREO"
            },
            {
              "field1": "fuente",
              "field2": "CONOCISTE"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -380,
        -80
      ],
      "id": "1f44335a-16d1-42a2-955d-4d47432837d5",
      "name": "Compare Datasets"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-02-20T21:23:41.644Z",
      "createdAt": "2025-02-20T21:23:41.644Z",
      "role": "workflow:owner",
      "workflowId": "E5jnW2L45zsH7xa1",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-02-21T17:24:51.347Z",
      "createdAt": "2025-02-21T17:24:51.347Z",
      "id": "HeoN9qG2nZVgRl5F",
      "name": "CRON"
    },
    {
      "updatedAt": "2025-02-20T03:14:39.493Z",
      "createdAt": "2025-02-20T03:14:39.493Z",
      "id": "fMteddKWhaFhuYHk",
      "name": "MYSQL"
    },
    {
      "updatedAt": "2025-02-20T05:53:21.020Z",
      "createdAt": "2025-02-20T05:53:21.020Z",
      "id": "yWwG6USL9X5m8h9q",
      "name": "SHEET"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T17:26:03.000Z",
  "versionId": "0dec95bf-53be-43b4-8532-82e19fbbab94"
}