backup/2025/02/NojlgJGsd8GnJFOS.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-19T11:00:42.653Z",
    "createdAt": "2026-01-19T11:00:42.653Z",
    "versionId": "a829976c-43fa-4e21-8eff-aa172bbc2595",
    "workflowId": "NojlgJGsd8GnJFOS",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "encuesta-p2-org",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -880,
          340
        ],
        "id": "d51414c7-a34c-4d40-a194-b62a783bb914",
        "name": "ENCUESTA",
        "webhookId": "4ce53e7a-75d8-4622-92fd-b707e3123b1f"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dfe23bab-7c1a-4462-ad5b-b7291ee8d7af",
                "name": "whatsapp",
                "value": "={{ $json.body.whatsapp }}",
                "type": "string"
              },
              {
                "id": "cfe28cc4-c69b-4a26-86b7-e3fcab392043",
                "name": "email",
                "value": "={{ $json.body.email }}",
                "type": "string"
              },
              {
                "id": "de3c730f-dcad-4ab6-af4c-2e96c75a6c8b",
                "name": "tiempoencuesta",
                "value": "={{ $json.body.tiempoencuesta }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -480,
          140
        ],
        "id": "2741962a-c2ad-4422-87d0-aa4006a7106b",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "collection": "={{ $('Edit Fields10').first().json.collection }}",
          "options": {
            "limit": 1
          },
          "query": "={{ $json['0'].toJsonString() }}"
        },
        "id": "cbab8ea1-7c10-4423-a3a4-9ac31da73610",
        "name": "MongoDB",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          100,
          120
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "mongoDb": {
            "id": "vbsT0SoMA5A3acgH",
            "name": "BASE DE DATOS GERSSON"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c843a968-ef8f-4474-97ee-2f2a6aabdac6",
        "name": "If1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          260,
          120
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "id": "3db41695-b5ea-4009-ba15-c8f361c79f00",
        "name": "Merge1",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          500,
          240
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          60,
          440
        ],
        "id": "922701c1-32d9-498c-80cb-03b6e8fdb2c7",
        "name": "Merge3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://82.180.130.193:6969/predecir/",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.body.answersJson }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -480,
          460
        ],
        "id": "b11dbee9-01bf-4227-8662-00bec980edd2",
        "name": "HTTP Request1",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.body.answersJson }}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -480,
          640
        ],
        "id": "3d95ac16-875e-428a-8898-ea5ab14d6a36",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -120,
          520
        ],
        "id": "6107def6-9ed3-4f38-a385-f03205feeeb5",
        "name": "Merge4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ee2f3d54-34a2-40bd-a09a-dcb81b934770",
                "name": "puntaje",
                "value": "={{ $json.score[0] }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -300,
          460
        ],
        "id": "c6425a92-b9ac-4846-a5ea-7494a7044650",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "={{$('Edit Fields10').first().json.url_sheet}}",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{$('Edit Fields10').first().json.url_sheet}}",
            "mode": "url"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {
              "ID": "={{ $json._id }}",
              "FECHA REGISTRO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "CORREO": "={{ $json.email }}",
              "CAMPAÑA": "={{ $json.utmCampaign }}",
              "SEGMENTACION": "={{ $json.utmMedium }}",
              "ANUNCIO": "={{ $json.utmContent }}",
              "PLATAFORMA": "={{ $json.utmSource }}"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "FECHA REGISTRO",
                "displayName": "FECHA REGISTRO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "HORA",
                "displayName": "HORA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CORREO",
                "displayName": "CORREO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "WHATSAPP",
                "displayName": "WHATSAPP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CAMPAÑA",
                "displayName": "CAMPAÑA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "SEGMENTACION",
                "displayName": "SEGMENTACION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ANUNCIO",
                "displayName": "ANUNCIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PLATAFORMA",
                "displayName": "PLATAFORMA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PAIS",
                "displayName": "PAIS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FECHA ENCUESTA",
                "displayName": "FECHA ENCUESTA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "HORA ENCUESTA",
                "displayName": "HORA ENCUESTA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "EDAD",
                "displayName": "EDAD",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "INGRESOS",
                "displayName": "INGRESOS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ESTUDIOS",
                "displayName": "ESTUDIOS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "OCUPACION",
                "displayName": "OCUPACION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PROPOSITO",
                "displayName": "PROPOSITO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PUNTAJE",
                "displayName": "PUNTAJE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "QLEAD",
                "displayName": "QLEAD",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          960,
          460
        ],
        "id": "e9a129bc-a505-4205-ad2e-099cd2c57e71",
        "name": "Google Sheets1",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zruD3ONGC9HU2i7s",
            "name": "CUENTA SANTIAGO"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
                "name": "ID",
                "value": "={{ $json._id.toString() }}",
                "type": "string"
              },
              {
                "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
                "name": "EDAD",
                "value": "={{ $json.Edad }}",
                "type": "string"
              },
              {
                "id": "0ca6d2e7-d8c2-46a7-975a-09a456419cf3",
                "name": "PROPOSITO",
                "value": "={{ $json.Eliminar_dolor_para }}",
                "type": "string"
              },
              {
                "id": "0badb125-2290-4dc2-9eea-778d1dcb665b",
                "name": "INGRESOS",
                "value": "={{ $json.Ingresos }}",
                "type": "string"
              },
              {
                "id": "26ed51be-6c4d-4c6c-9233-496b7b476fdb",
                "name": "ESTUDIOS",
                "value": "={{ $json.Nivel_de_estudios }}",
                "type": "string"
              },
              {
                "id": "4eb1e6ab-b022-4cea-b94f-3120ba812fcb",
                "name": "OCUPACION",
                "value": "={{ $json['Ocupación'] }}",
                "type": "string"
              },
              {
                "id": "e8240118-b101-46ae-ba85-736ba448cef6",
                "name": "PUNTAJE",
                "value": "={{ $json.puntaje }}",
                "type": "number"
              },
              {
                "id": "a0f82f8d-7f63-4d33-b894-2cba3b59adfd",
                "name": "FECHA ENCUESTA",
                "value": "={{ $now.format('yyyy-MM-dd') }}",
                "type": "string"
              },
              {
                "id": "703ee060-0a76-4436-8621-7a62f8e7db1a",
                "name": "HORA ENCUESTA",
                "value": "={{ $now.format('HH:mm:ss') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          800,
          460
        ],
        "id": "5b3c7734-108a-4e42-af6e-1a2a280886f7",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.manychat.com/fb/subscriber/setCustomFieldByName",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Edit Fields10').first().json.apikey_manychat }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"field_name\": \"PROBABILIDAD-ENC\",\n  \"field_value\": {{ $json.puntaje.round() }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          800,
          100
        ],
        "id": "30451b74-c0a8-4918-822a-ea098f20a098",
        "name": "HTTP Request5",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.manychat.com/fb/subscriber/addTagByName",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Edit Fields10').first().json.apikey_manychat }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"tag_name\": \"ENCUESTA-L6\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          800,
          -60
        ],
        "id": "3a47c6dd-55de-4629-84af-cc579ffcec1e",
        "name": "HTTP Request6",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const whatsapp = item.json.whatsapp || \"\"; // Verifica si existe el campo WhatsApp\n  const email = item.json.email || \"\"; // Verifica si existe el campo email\n  \n  if (whatsapp && email) {\n    // Si existen ambos campos, retorna un JSON con ambos valores\n    return {\n      json: { 0:{\n        whatsapp: whatsapp,\n        email: email\n      }}\n    };\n  } else if (whatsapp) {\n    // Si existe solo WhatsApp, genera un filtro con regex para los últimos 6 caracteres\n    return {\n      json: { 0:{\n        whatsapp: {\n          \"$regex\": `.*${whatsapp.slice(-6)}.*`,\n          \"$options\": \"i\"\n        }}\n      }\n    };\n  } else if (email) {\n    // Si no existe WhatsApp, utiliza el correo electrónico para generar el filtro\n    return {\n      json: { 0:{\n        email: email\n      }}\n    };\n  } else {\n    // Si no hay datos de WhatsApp ni correo, lanza un error\n    throw new Error(\"No se proporcionaron datos de WhatsApp ni correo electrónico.\");\n  }\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -280,
          100
        ],
        "id": "54b5ea5e-1774-4643-b1e4-73aa4ba3be14",
        "name": "Code1"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "captura-td-2025-org",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -820,
          -340
        ],
        "id": "c88cdf91-026b-4326-baf7-2dde8cc4b25b",
        "name": "REGISTRO",
        "webhookId": "da759e7f-6949-4592-b094-49d34bebad1a"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -400,
          -340
        ],
        "id": "d7f5f099-be80-466e-80d2-e11fcbd5d816",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "collection": "={{ $('Edit Fields9').first().json.collection }}",
          "options": {
            "limit": 1
          },
          "query": "={\"whatsapp\": \"{{ $json.whatsapp }}\", \"email\": \"{{$json.email}}\"}"
        },
        "id": "bab2ce44-c8b4-4c82-8e07-31730aa91e6f",
        "name": "MongoDB1",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -80,
          -240
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "mongoDb": {
            "id": "vbsT0SoMA5A3acgH",
            "name": "BASE DE DATOS GERSSON"
          }
        }
      },
      {
        "parameters": {
          "operation": "insert",
          "collection": "={{ $('Edit Fields9').first().json.collection }}",
          "fields": "=query,country,city,zip,regionName,timezone,email,whatsapp,utmCampaign,utmSource,utmMedium,utmContent,utmTerm,userAgent,platform,language,tiemporegistro,fbc,fbp,isFbcGenerated",
          "options": {}
        },
        "id": "9e75ce31-d0b3-4abf-a24e-d8c7abf60f09",
        "name": "MongoDB2",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          460,
          -360
        ],
        "credentials": {
          "mongoDb": {
            "id": "vbsT0SoMA5A3acgH",
            "name": "BASE DE DATOS GERSSON"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e6e8e4de-b010-422a-b3de-7218194285a0",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          60,
          -240
        ]
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "id": "2ce846e3-e8ab-43be-a50d-eabc7e1bf2b7",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          300,
          -360
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8a258913-16e5-4c77-bc40-13e5d18f740f",
                "name": "ip",
                "value": "={{ $json.headers['x-real-ip'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -400,
          -500
        ],
        "id": "83b82bd7-f77c-4934-8147-ce5f835ec672",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "id": "280b008b-729b-42e9-8751-d585862a02b1",
        "name": "Merge2",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          100,
          -480
        ]
      },
      {
        "parameters": {
          "url": "=http://ip-api.com/json/{{ $json.ip }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -220,
          -500
        ],
        "id": "d57a1215-cfc2-4afc-a31b-f1211d130bde",
        "name": "HTTP Request",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://connect.mailerlite.com/api/subscribers",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_mailer }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"email\": \"{{ $('MongoDB2').item.json.email }}\",\n    \"groups\": [\n        \"{{ $('Edit Fields9').first().json.grupo_mailer }}\"\n    ],\n    \"subscribed_at\": \"{{ $now.format('yyyy-MM-dd HH:mm:ss') }}\",\n    \"ip_address\": \"{{ $('MongoDB2').item.json.query }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          -820
        ],
        "id": "0875126e-5a4c-4e07-9805-d2b72b33bbbc",
        "name": "HTTP Request3",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_manychat }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"first_name\": \"{{ $('MongoDB2').item.json.whatsapp }}\",\n  \"whatsapp_phone\": \"{{ $('MongoDB2').item.json.whatsapp }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1180,
          -500
        ],
        "id": "b2a33d74-d11d-4daf-a923-76a554be5c2c",
        "name": "HTTP Request4",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1620,
          -380
        ],
        "id": "dc02ee42-3e0f-4d22-b47b-185a5f632f6d",
        "name": "Merge5"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
                "name": "id_manychat",
                "value": "={{ $json.data.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1380,
          -520
        ],
        "id": "4266f23d-14bf-4679-a1df-d2fe2e923e47",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{$('Edit Fields9').first().json.url_sheet}}",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{$('Edit Fields9').first().json.url_sheet}}",
            "mode": "url"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {
              "ID": "={{ $json._id }}",
              "FECHA REGISTRO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "CORREO": "={{ $json.email }}",
              "CAMPAÑA": "={{ $json.utmCampaign }}",
              "SEGMENTACION": "={{ $json.utmMedium }}",
              "ANUNCIO": "={{ $json.utmContent }}",
              "PLATAFORMA": "={{ $json.utmSource }}"
            },
            "matchingColumns": [
              "CORREO"
            ],
            "schema": [
              {
                "id": "FECHA REGISTRO",
                "displayName": "FECHA REGISTRO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "HORA",
                "displayName": "HORA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CORREO",
                "displayName": "CORREO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "WHATSAPP",
                "displayName": "WHATSAPP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CAMPAÑA",
                "displayName": "CAMPAÑA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "SEGMENTACION",
                "displayName": "SEGMENTACION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ANUNCIO",
                "displayName": "ANUNCIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PLATAFORMA",
                "displayName": "PLATAFORMA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PAIS",
                "displayName": "PAIS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FECHA ENCUESTA",
                "displayName": "FECHA ENCUESTA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "HORA ENCUESTA",
                "displayName": "HORA ENCUESTA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "EDAD",
                "displayName": "EDAD",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "INGRESOS",
                "displayName": "INGRESOS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ESTUDIOS",
                "displayName": "ESTUDIOS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "OCUPACION",
                "displayName": "OCUPACION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PROPOSITO",
                "displayName": "PROPOSITO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PUNTAJE",
                "displayName": "PUNTAJE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "QLEAD",
                "displayName": "QLEAD",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          900,
          -280
        ],
        "id": "51c2d4ee-5ff1-4ceb-8ef3-e4efa56ac050",
        "name": "Google Sheets",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zruD3ONGC9HU2i7s",
            "name": "CUENTA SANTIAGO"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "86552321-4bbc-4aa5-afc7-5ce6278c72d2",
                "name": "CORREO",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "ef1606bf-68e5-4717-a225-708529dcad05",
                "name": "WHATSAPP",
                "value": "={{ $json.whatsapp }}",
                "type": "string"
              },
              {
                "id": "0f13f81b-905a-4e1e-815c-3bcb4932bb77",
                "name": "CAMPAÑA",
                "value": "={{ $json.utmCampaign }}",
                "type": "string"
              },
              {
                "id": "b008676e-7f3b-46eb-9c3f-13f4757b8977",
                "name": "PLATAFORMA",
                "value": "={{ $json.utmSource }}",
                "type": "string"
              },
              {
                "id": "0fa1b73e-3467-49e9-af06-7a4d94901a7b",
                "name": "SEGMENTACION",
                "value": "={{ $json.utmMedium }}",
                "type": "string"
              },
              {
                "id": "50bd88a7-ded2-46df-a377-6c529be00917",
                "name": "ANUNCIO",
                "value": "={{ $json.utmContent }}",
                "type": "string"
              },
              {
                "id": "4747c5a6-da7e-4da9-9a86-fe23003d5adf",
                "name": "PAIS",
                "value": "={{ $json.country }}",
                "type": "string"
              },
              {
                "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
                "name": "ID",
                "value": "={{ $json.id.toString() }}",
                "type": "string"
              },
              {
                "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
                "name": "FECHA REGISTRO",
                "value": "={{ $('REGISTRO').item.json.body.tiemporegistro.toDateTime('s').format('yyyy-MM-dd') }}",
                "type": "string"
              },
              {
                "id": "d42a68f2-323f-4337-b37f-ec1b9a9e65c4",
                "name": "HORA",
                "value": "={{ $('REGISTRO').item.json.body.tiemporegistro.toDateTime('s').format(' HH:mm:ss') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          700,
          -280
        ],
        "id": "8ebe9272-10a4-4cd5-a125-0f86cf148837",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
                "leftValue": "={{ $json.error.status }}",
                "rightValue": 404,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          -780
        ],
        "id": "e9b6d7ae-81eb-4528-9e1d-8b5efb341984",
        "name": "If3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b3101ba6-b04a-40da-86e8-04bb9fabd5d7",
                "leftValue": "={{ $('Merge5').item.json.existe }}",
                "rightValue": "si",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1920,
          -380
        ],
        "id": "fd8c833a-1878-4ab2-bbb7-5fe4dab145a2",
        "name": "existe?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "bdbedabd-650a-4c77-aafe-61f48231f405",
                "leftValue": "={{ $json.data[0].id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          960,
          -620
        ],
        "id": "cfa67042-243b-4b9b-90ee-413a8a11fa4d",
        "name": "existe en manychat?"
      },
      {
        "parameters": {
          "operation": "findOneAndUpdate",
          "collection": "={{ $('Edit Fields9').first().json.collection }}",
          "updateKey": "_id",
          "fields": "=id_manychat",
          "options": {}
        },
        "id": "bcd75995-3490-436f-bb72-486034796109",
        "name": "guardar id MANYCHAT",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          1780,
          -380
        ],
        "credentials": {
          "mongoDb": {
            "id": "vbsT0SoMA5A3acgH",
            "name": "BASE DE DATOS GERSSON"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.manychat.com/fb/sending/sendFlow",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_manychat }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"flow_ns\": \"{{ $('Edit Fields9').first().json.flujo_manychat }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2120,
          -400
        ],
        "id": "162f7efa-7091-4e86-8442-d46537d4dacf",
        "name": "ENVIAR FLUJO BV",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "https://api.manychat.com/fb/subscriber/findByName",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "name",
                "value": "={{ $json.whatsapp }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_manychat }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          -600
        ],
        "id": "1da07259-d921-4ba7-8ac9-97797be586a4",
        "name": "HTTP Request7",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
                "name": "id_manychat",
                "value": "={{ $json.data[0].id }}",
                "type": "string"
              },
              {
                "id": "8040badb-7f75-4766-b6ef-8e74c88bc480",
                "name": "existe",
                "value": "si",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1180,
          -660
        ],
        "id": "804470a2-5619-4d66-acee-60cde386676c",
        "name": "Edit Fields8"
      },
      {
        "parameters": {
          "url": "=https://connect.mailerlite.com/api/subscribers/{{ $json.email }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_mailer }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          -780
        ],
        "id": "65dc6aed-256e-4f71-8a5e-778029d40614",
        "name": "HTTP Request8",
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "id": "0be036f2-e948-47c7-b4ea-35f83ecaa827",
        "name": "Merge6",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -240,
          -240
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "26df189e-151f-4b06-a50d-da03a4551f46",
                "name": "url_sheet",
                "value": "https://docs.google.com/spreadsheets/d/1QSrLnfia_k5CIy0RS_kX1bQZ90IkQnBKJLsFNYEziUI/edit?gid=681975085#gid=681975085",
                "type": "string"
              },
              {
                "id": "2249f19a-4ab2-40d0-8f36-2e7385ac0c3c",
                "name": "collection",
                "value": "TD-L6-ORG",
                "type": "string"
              },
              {
                "id": "02623cc8-e528-4619-b15c-b62b6ced6728",
                "name": "grupo_mailer",
                "value": "136745875288360811",
                "type": "string"
              },
              {
                "id": "97c509b4-2218-4c7f-83e1-37d68e2cc944",
                "name": "apikey_manychat",
                "value": "288702267651723:f96a1f26344892df99c98292741de8c9",
                "type": "string"
              },
              {
                "id": "7a64af30-4fcb-4bd5-91ef-f40b8ba1456d",
                "name": "apikey_mailer",
                "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiOGU5YTUwNWJhZjFjNWViYjY1ODBjOWVkMGY2MDk5YzFjMzcyN2NlN2ZkOGI3M2Y0NGU2Y2VmNzI4MmFhMzA2YjZmZTc4ZWRhMmQwNDYwMzEiLCJpYXQiOjE3MzY3MjIzNzguNDU1NzQzLCJuYmYiOjE3MzY3MjIzNzguNDU1NzQ0LCJleHAiOjQ4OTIzOTU5NzguNDUxNzI5LCJzdWIiOiI3ODg1NjciLCJzY29wZXMiOltdfQ.uXXvcjOAvEzBCuY_CUhMH9qqiPUN3VoDA2QHruFFmqXNv0xtUkYYpnVvu8iyOLKvCnA6iQ3jsnbqedaeQoa4kDjhgEq8NrzsbzXmuPs5o7tcSo7SOzSVJ7s7ilbVOZ3UsvNi5UYRsA-x-R6LVqMbVqe05GEPvjwk6YjspK6LTD-XGsTL8O2t2R8Fm8-H6OjlL-gsrtCvP2v8UmhkG8_DcwdaH_-Q6ohUROcCTHdc7a6IudS5RljVHV6ITCbzsmJQZbj7lSk3KJFUwN95ywNnEPWuPb_MDb3ziz627ghofcmK_HhizNiau5HsGeJM0hcfMY1kBubexuYh0wjvHhtliGFKHxrlZwGrgfSBWDrgZjBWpQ1blafHYmYKvs6uYSfiAuk4ILT-l8UTnM74k9dD1tOGkrh7ROkcFau4tH8iCJsDC5so_LzkBn2umXRDZpB5S_ArSxVmxqtQs9xODmhaHWan-Zd_-DKW7wKOjMIo3g5JOTADfDv1ET4-IEJVR8iKq25Quv2ZoJEmkDHwvqrFc2X0d35-Kj4CQ_KbOdorwCMHLBoGHZtFPvlofZwWStQ6-n6QugycrJ7PeLr3oJVg_mEgd88yJBFu2ep_wS_5bs0u3DWbbV_uj1TzxYHOCYmrEgdDcDup6b3Z9Hac6Ef-iOsotdVa0QDssxK8dze-QWY",
                "type": "string"
              },
              {
                "id": "20a634d5-3c81-4496-abc1-cba25e2ff74d",
                "name": "flujo_manychat",
                "value": "content20250124045214_190466",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -540,
          -220
        ],
        "id": "2f54ba7e-8801-4e3d-a901-d377ca3eac57",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "26df189e-151f-4b06-a50d-da03a4551f46",
                "name": "url_sheet",
                "value": "https://docs.google.com/spreadsheets/d/1QSrLnfia_k5CIy0RS_kX1bQZ90IkQnBKJLsFNYEziUI/edit?gid=681975085#gid=681975085",
                "type": "string"
              },
              {
                "id": "2249f19a-4ab2-40d0-8f36-2e7385ac0c3c",
                "name": "collection",
                "value": "TD-L6-ORG",
                "type": "string"
              },
              {
                "id": "97c509b4-2218-4c7f-83e1-37d68e2cc944",
                "name": "apikey_manychat",
                "value": "288702267651723:f96a1f26344892df99c98292741de8c9",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -480,
          300
        ],
        "id": "4fe32e0e-d920-409e-9063-3889554a4acf",
        "name": "Edit Fields10"
      },
      {
        "parameters": {
          "operation": "findOneAndUpdate",
          "collection": "={{ $('Edit Fields10').first().json.collection }}",
          "updateKey": "_id",
          "fields": "tiempoencuesta,Edad,Nivel_de_estudios,Ocupación,Eliminar_dolor_para,Ingresos,puntaje",
          "options": {}
        },
        "id": "873b7d36-ec88-4f77-808a-c377e5b169ff",
        "name": "MongoDB3",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          800,
          260
        ],
        "credentials": {
          "mongoDb": {
            "id": "vbsT0SoMA5A3acgH",
            "name": "BASE DE DATOS GERSSON"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a520e1b6-bb26-44a6-857f-770dac49655a",
                "leftValue": "={{ $json.puntaje }}",
                "rightValue": 500,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1100,
          260
        ],
        "id": "c75d0952-6b9d-4640-9d9b-b4848cce14a0",
        "name": "If2",
        "disabled": true
      },
      {
        "parameters": {
          "collection": "={{ $('Edit Fields10').first().json.collection }}",
          "options": {},
          "query": "={\"_id\": \"{{ $('Merge1').item.json._id }}\"}"
        },
        "id": "81fa706e-c90a-4fff-adac-698c92302f11",
        "name": "MongoDB4",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          1300,
          200
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "vbsT0SoMA5A3acgH",
            "name": "BASE DE DATOS GERSSON"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto-js'); // Asegúrate de que la librería está disponible\n\nconst item = $input.first().json;\n\nfunction hashSHA256(value) {\n  return crypto.SHA256(value).toString(crypto.enc.Hex);\n}\n\nconst encryptedData = {\n  em: [hashSHA256(item.email)],  // Correo electrónico\n  ph: [hashSHA256(Number(item.whatsapp))],  // Número de teléfono\n  country: [hashSHA256(item.country)],  // País\n  zp: [hashSHA256(item.zip)], //zip\n  ct: [hashSHA256(item.city)], //ciudad\n  st: [hashSHA256(item.regionName)], //estado\n  // Datos no cifrados deben estar directamente accesibles\n  client_ip_address: item.query,\n  client_user_agent: item.userAgent,\n  fbc: item.fbc,\n  fbp: item.fbp,\n};\n\nconst facebookEvent = {\n  data: [\n    {\n      event_name: \"CompleteRegistration\",\n      event_time: Math.floor(Date.now() / 1000), // Tiempo actual en segundos\n      action_source: \"website\",\n      original_event_data: {\n        event_name: \"CompleteRegistration\",\n        event_time: Math.floor(Date.now() / 1000)\n      },\n      user_data: encryptedData,\n    }\n  ]\n};\n\nreturn facebookEvent;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1460,
          200
        ],
        "id": "977b652d-2b85-449d-9f81-495b2c3998e5",
        "name": "Code",
        "disabled": true
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -60,
          120
        ],
        "id": "7fe8bdf1-d7d1-454f-923d-b63f193191ab",
        "name": "Merge8"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -260,
          280
        ],
        "id": "0f0c9edc-c5da-4846-b335-d23e6f9d9928",
        "name": "Merge7"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1140,
          -260
        ],
        "id": "52f88d7a-866e-4e8d-b6b9-aef1d0360a47",
        "name": "Wait",
        "webhookId": "e02c8398-bf9f-4d9e-8ed9-c03f6921589d"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1200,
          480
        ],
        "id": "52ab6634-b616-431f-b4ac-3fb181ff083e",
        "name": "Wait1",
        "webhookId": "02783fbd-6233-4064-9c8a-bb1fdbebd75e"
      }
    ],
    "connections": {
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [],
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request5",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request6",
              "type": "main",
              "index": 0
            },
            {
              "node": "MongoDB3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ENCUESTA": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge3": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge4": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "Google Sheets1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Merge8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "REGISTRO": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB2": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 1
            },
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request8",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "MongoDB2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request4": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge5": {
        "main": [
          [
            {
              "node": "guardar id MANYCHAT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "existe?": {
        "main": [
          [
            {
              "node": "ENVIAR FLUJO BV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "existe en manychat?": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar id MANYCHAT": {
        "main": [
          [
            {
              "node": "existe?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request7": {
        "main": [
          [
            {
              "node": "existe en manychat?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request8": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge6": {
        "main": [
          [
            {
              "node": "MongoDB1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Merge6",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields10": {
        "main": [
          [
            {
              "node": "Merge7",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "MongoDB3": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "MongoDB4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB4": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge8": {
        "main": [
          [
            {
              "node": "MongoDB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge7": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge8",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets1": {
        "main": [
          [],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Google Sheets1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "a829976c-43fa-4e21-8eff-aa172bbc2595",
  "connections": {
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "MongoDB3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENCUESTA": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRO": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "guardar id MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "ENVIAR FLUJO BV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe en manychat?": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar id MANYCHAT": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "existe en manychat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MongoDB3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T14:56:56.201Z",
  "id": "NojlgJGsd8GnJFOS",
  "isArchived": false,
  "meta": null,
  "name": "🟢 [GERSSON-ORG] CAPTURA TD - REGISTRO Y ENCUESTAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "encuesta-p2-org",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        340
      ],
      "id": "d51414c7-a34c-4d40-a194-b62a783bb914",
      "name": "ENCUESTA",
      "webhookId": "4ce53e7a-75d8-4622-92fd-b707e3123b1f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfe23bab-7c1a-4462-ad5b-b7291ee8d7af",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp }}",
              "type": "string"
            },
            {
              "id": "cfe28cc4-c69b-4a26-86b7-e3fcab392043",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "de3c730f-dcad-4ab6-af4c-2e96c75a6c8b",
              "name": "tiempoencuesta",
              "value": "={{ $json.body.tiempoencuesta }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        140
      ],
      "id": "2741962a-c2ad-4422-87d0-aa4006a7106b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "collection": "={{ $('Edit Fields10').first().json.collection }}",
        "options": {
          "limit": 1
        },
        "query": "={{ $json['0'].toJsonString() }}"
      },
      "id": "cbab8ea1-7c10-4423-a3a4-9ac31da73610",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        100,
        120
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c843a968-ef8f-4474-97ee-2f2a6aabdac6",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        120
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "3db41695-b5ea-4009-ba15-c8f361c79f00",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        500,
        240
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        60,
        440
      ],
      "id": "922701c1-32d9-498c-80cb-03b6e8fdb2c7",
      "name": "Merge3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://82.180.130.193:6969/predecir/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.answersJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        460
      ],
      "id": "b11dbee9-01bf-4227-8662-00bec980edd2",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.answersJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        640
      ],
      "id": "3d95ac16-875e-428a-8898-ea5ab14d6a36",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -120,
        520
      ],
      "id": "6107def6-9ed3-4f38-a385-f03205feeeb5",
      "name": "Merge4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee2f3d54-34a2-40bd-a09a-dcb81b934770",
              "name": "puntaje",
              "value": "={{ $json.score[0] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        460
      ],
      "id": "c6425a92-b9ac-4846-a5ea-7494a7044650",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{$('Edit Fields10').first().json.url_sheet}}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$('Edit Fields10').first().json.url_sheet}}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "ID": "={{ $json._id }}",
            "FECHA REGISTRO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "CORREO": "={{ $json.email }}",
            "CAMPAÑA": "={{ $json.utmCampaign }}",
            "SEGMENTACION": "={{ $json.utmMedium }}",
            "ANUNCIO": "={{ $json.utmContent }}",
            "PLATAFORMA": "={{ $json.utmSource }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "FECHA REGISTRO",
              "displayName": "FECHA REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGMENTACION",
              "displayName": "SEGMENTACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PLATAFORMA",
              "displayName": "PLATAFORMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA ENCUESTA",
              "displayName": "FECHA ENCUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA ENCUESTA",
              "displayName": "HORA ENCUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EDAD",
              "displayName": "EDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INGRESOS",
              "displayName": "INGRESOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTUDIOS",
              "displayName": "ESTUDIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OCUPACION",
              "displayName": "OCUPACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROPOSITO",
              "displayName": "PROPOSITO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUNTAJE",
              "displayName": "PUNTAJE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QLEAD",
              "displayName": "QLEAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        460
      ],
      "id": "e9a129bc-a505-4205-ad2e-099cd2c57e71",
      "name": "Google Sheets1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json._id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "EDAD",
              "value": "={{ $json.Edad }}",
              "type": "string"
            },
            {
              "id": "0ca6d2e7-d8c2-46a7-975a-09a456419cf3",
              "name": "PROPOSITO",
              "value": "={{ $json.Eliminar_dolor_para }}",
              "type": "string"
            },
            {
              "id": "0badb125-2290-4dc2-9eea-778d1dcb665b",
              "name": "INGRESOS",
              "value": "={{ $json.Ingresos }}",
              "type": "string"
            },
            {
              "id": "26ed51be-6c4d-4c6c-9233-496b7b476fdb",
              "name": "ESTUDIOS",
              "value": "={{ $json.Nivel_de_estudios }}",
              "type": "string"
            },
            {
              "id": "4eb1e6ab-b022-4cea-b94f-3120ba812fcb",
              "name": "OCUPACION",
              "value": "={{ $json['Ocupación'] }}",
              "type": "string"
            },
            {
              "id": "e8240118-b101-46ae-ba85-736ba448cef6",
              "name": "PUNTAJE",
              "value": "={{ $json.puntaje }}",
              "type": "number"
            },
            {
              "id": "a0f82f8d-7f63-4d33-b894-2cba3b59adfd",
              "name": "FECHA ENCUESTA",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "703ee060-0a76-4436-8621-7a62f8e7db1a",
              "name": "HORA ENCUESTA",
              "value": "={{ $now.format('HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        460
      ],
      "id": "5b3c7734-108a-4e42-af6e-1a2a280886f7",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields10').first().json.apikey_manychat }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"field_name\": \"PROBABILIDAD-ENC\",\n  \"field_value\": {{ $json.puntaje.round() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        100
      ],
      "id": "30451b74-c0a8-4918-822a-ea098f20a098",
      "name": "HTTP Request5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTagByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields10').first().json.apikey_manychat }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"tag_name\": \"ENCUESTA-L6\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -60
      ],
      "id": "3a47c6dd-55de-4629-84af-cc579ffcec1e",
      "name": "HTTP Request6",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const whatsapp = item.json.whatsapp || \"\"; // Verifica si existe el campo WhatsApp\n  const email = item.json.email || \"\"; // Verifica si existe el campo email\n  \n  if (whatsapp && email) {\n    // Si existen ambos campos, retorna un JSON con ambos valores\n    return {\n      json: { 0:{\n        whatsapp: whatsapp,\n        email: email\n      }}\n    };\n  } else if (whatsapp) {\n    // Si existe solo WhatsApp, genera un filtro con regex para los últimos 6 caracteres\n    return {\n      json: { 0:{\n        whatsapp: {\n          \"$regex\": `.*${whatsapp.slice(-6)}.*`,\n          \"$options\": \"i\"\n        }}\n      }\n    };\n  } else if (email) {\n    // Si no existe WhatsApp, utiliza el correo electrónico para generar el filtro\n    return {\n      json: { 0:{\n        email: email\n      }}\n    };\n  } else {\n    // Si no hay datos de WhatsApp ni correo, lanza un error\n    throw new Error(\"No se proporcionaron datos de WhatsApp ni correo electrónico.\");\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        100
      ],
      "id": "54b5ea5e-1774-4643-b1e4-73aa4ba3be14",
      "name": "Code1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "captura-td-2025-org",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        -340
      ],
      "id": "c88cdf91-026b-4326-baf7-2dde8cc4b25b",
      "name": "REGISTRO",
      "webhookId": "da759e7f-6949-4592-b094-49d34bebad1a"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -340
      ],
      "id": "d7f5f099-be80-466e-80d2-e11fcbd5d816",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "collection": "={{ $('Edit Fields9').first().json.collection }}",
        "options": {
          "limit": 1
        },
        "query": "={\"whatsapp\": \"{{ $json.whatsapp }}\", \"email\": \"{{$json.email}}\"}"
      },
      "id": "bab2ce44-c8b4-4c82-8e07-31730aa91e6f",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -80,
        -240
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{ $('Edit Fields9').first().json.collection }}",
        "fields": "=query,country,city,zip,regionName,timezone,email,whatsapp,utmCampaign,utmSource,utmMedium,utmContent,utmTerm,userAgent,platform,language,tiemporegistro,fbc,fbp,isFbcGenerated",
        "options": {}
      },
      "id": "9e75ce31-d0b3-4abf-a24e-d8c7abf60f09",
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        460,
        -360
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb31eaf1-7f83-4773-a663-4213a227c9e8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6e8e4de-b010-422a-b3de-7218194285a0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        -240
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "2ce846e3-e8ab-43be-a50d-eabc7e1bf2b7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        300,
        -360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a258913-16e5-4c77-bc40-13e5d18f740f",
              "name": "ip",
              "value": "={{ $json.headers['x-real-ip'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -500
      ],
      "id": "83b82bd7-f77c-4934-8147-ce5f835ec672",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "280b008b-729b-42e9-8751-d585862a02b1",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        100,
        -480
      ]
    },
    {
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.ip }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        -500
      ],
      "id": "d57a1215-cfc2-4afc-a31b-f1211d130bde",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://connect.mailerlite.com/api/subscribers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_mailer }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('MongoDB2').item.json.email }}\",\n    \"groups\": [\n        \"{{ $('Edit Fields9').first().json.grupo_mailer }}\"\n    ],\n    \"subscribed_at\": \"{{ $now.format('yyyy-MM-dd HH:mm:ss') }}\",\n    \"ip_address\": \"{{ $('MongoDB2').item.json.query }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -820
      ],
      "id": "0875126e-5a4c-4e07-9805-d2b72b33bbbc",
      "name": "HTTP Request3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_manychat }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('MongoDB2').item.json.whatsapp }}\",\n  \"whatsapp_phone\": \"{{ $('MongoDB2').item.json.whatsapp }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        -500
      ],
      "id": "b2a33d74-d11d-4daf-a923-76a554be5c2c",
      "name": "HTTP Request4",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1620,
        -380
      ],
      "id": "dc02ee42-3e0f-4d22-b47b-185a5f632f6d",
      "name": "Merge5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        -520
      ],
      "id": "4266f23d-14bf-4679-a1df-d2fe2e923e47",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$('Edit Fields9').first().json.url_sheet}}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$('Edit Fields9').first().json.url_sheet}}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "ID": "={{ $json._id }}",
            "FECHA REGISTRO": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "CORREO": "={{ $json.email }}",
            "CAMPAÑA": "={{ $json.utmCampaign }}",
            "SEGMENTACION": "={{ $json.utmMedium }}",
            "ANUNCIO": "={{ $json.utmContent }}",
            "PLATAFORMA": "={{ $json.utmSource }}"
          },
          "matchingColumns": [
            "CORREO"
          ],
          "schema": [
            {
              "id": "FECHA REGISTRO",
              "displayName": "FECHA REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGMENTACION",
              "displayName": "SEGMENTACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PLATAFORMA",
              "displayName": "PLATAFORMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAIS",
              "displayName": "PAIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA ENCUESTA",
              "displayName": "FECHA ENCUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA ENCUESTA",
              "displayName": "HORA ENCUESTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EDAD",
              "displayName": "EDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INGRESOS",
              "displayName": "INGRESOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTUDIOS",
              "displayName": "ESTUDIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OCUPACION",
              "displayName": "OCUPACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROPOSITO",
              "displayName": "PROPOSITO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUNTAJE",
              "displayName": "PUNTAJE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QLEAD",
              "displayName": "QLEAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        900,
        -280
      ],
      "id": "51c2d4ee-5ff1-4ceb-8ef3-e4efa56ac050",
      "name": "Google Sheets",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "CUENTA SANTIAGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86552321-4bbc-4aa5-afc7-5ce6278c72d2",
              "name": "CORREO",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ef1606bf-68e5-4717-a225-708529dcad05",
              "name": "WHATSAPP",
              "value": "={{ $json.whatsapp }}",
              "type": "string"
            },
            {
              "id": "0f13f81b-905a-4e1e-815c-3bcb4932bb77",
              "name": "CAMPAÑA",
              "value": "={{ $json.utmCampaign }}",
              "type": "string"
            },
            {
              "id": "b008676e-7f3b-46eb-9c3f-13f4757b8977",
              "name": "PLATAFORMA",
              "value": "={{ $json.utmSource }}",
              "type": "string"
            },
            {
              "id": "0fa1b73e-3467-49e9-af06-7a4d94901a7b",
              "name": "SEGMENTACION",
              "value": "={{ $json.utmMedium }}",
              "type": "string"
            },
            {
              "id": "50bd88a7-ded2-46df-a377-6c529be00917",
              "name": "ANUNCIO",
              "value": "={{ $json.utmContent }}",
              "type": "string"
            },
            {
              "id": "4747c5a6-da7e-4da9-9a86-fe23003d5adf",
              "name": "PAIS",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "3df6352b-6489-4d01-9e8e-ad90cc547eda",
              "name": "ID",
              "value": "={{ $json.id.toString() }}",
              "type": "string"
            },
            {
              "id": "c3adebcf-1f39-46ce-9548-b1243262ba2d",
              "name": "FECHA REGISTRO",
              "value": "={{ $('REGISTRO').item.json.body.tiemporegistro.toDateTime('s').format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "d42a68f2-323f-4337-b37f-ec1b9a9e65c4",
              "name": "HORA",
              "value": "={{ $('REGISTRO').item.json.body.tiemporegistro.toDateTime('s').format(' HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -280
      ],
      "id": "8ebe9272-10a4-4cd5-a125-0f86cf148837",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -780
      ],
      "id": "e9b6d7ae-81eb-4528-9e1d-8b5efb341984",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3101ba6-b04a-40da-86e8-04bb9fabd5d7",
              "leftValue": "={{ $('Merge5').item.json.existe }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -380
      ],
      "id": "fd8c833a-1878-4ab2-bbb7-5fe4dab145a2",
      "name": "existe?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdbedabd-650a-4c77-aafe-61f48231f405",
              "leftValue": "={{ $json.data[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -620
      ],
      "id": "cfa67042-243b-4b9b-90ee-413a8a11fa4d",
      "name": "existe en manychat?"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "={{ $('Edit Fields9').first().json.collection }}",
        "updateKey": "_id",
        "fields": "=id_manychat",
        "options": {}
      },
      "id": "bcd75995-3490-436f-bb72-486034796109",
      "name": "guardar id MANYCHAT",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1780,
        -380
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_manychat }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $json.id_manychat }},\n  \"flow_ns\": \"{{ $('Edit Fields9').first().json.flujo_manychat }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        -400
      ],
      "id": "162f7efa-7091-4e86-8442-d46537d4dacf",
      "name": "ENVIAR FLUJO BV",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByName",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.whatsapp }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_manychat }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -600
      ],
      "id": "1da07259-d921-4ba7-8ac9-97797be586a4",
      "name": "HTTP Request7",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17104ede-50c0-4ff6-b16b-5ec89d177da7",
              "name": "id_manychat",
              "value": "={{ $json.data[0].id }}",
              "type": "string"
            },
            {
              "id": "8040badb-7f75-4766-b6ef-8e74c88bc480",
              "name": "existe",
              "value": "si",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        -660
      ],
      "id": "804470a2-5619-4d66-acee-60cde386676c",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "url": "=https://connect.mailerlite.com/api/subscribers/{{ $json.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields9').first().json.apikey_mailer }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -780
      ],
      "id": "65dc6aed-256e-4f71-8a5e-778029d40614",
      "name": "HTTP Request8",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "0be036f2-e948-47c7-b4ea-35f83ecaa827",
      "name": "Merge6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -240,
        -240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26df189e-151f-4b06-a50d-da03a4551f46",
              "name": "url_sheet",
              "value": "https://docs.google.com/spreadsheets/d/1QSrLnfia_k5CIy0RS_kX1bQZ90IkQnBKJLsFNYEziUI/edit?gid=681975085#gid=681975085",
              "type": "string"
            },
            {
              "id": "2249f19a-4ab2-40d0-8f36-2e7385ac0c3c",
              "name": "collection",
              "value": "TD-L6-ORG",
              "type": "string"
            },
            {
              "id": "02623cc8-e528-4619-b15c-b62b6ced6728",
              "name": "grupo_mailer",
              "value": "136745875288360811",
              "type": "string"
            },
            {
              "id": "97c509b4-2218-4c7f-83e1-37d68e2cc944",
              "name": "apikey_manychat",
              "value": "288702267651723:f96a1f26344892df99c98292741de8c9",
              "type": "string"
            },
            {
              "id": "7a64af30-4fcb-4bd5-91ef-f40b8ba1456d",
              "name": "apikey_mailer",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiOGU5YTUwNWJhZjFjNWViYjY1ODBjOWVkMGY2MDk5YzFjMzcyN2NlN2ZkOGI3M2Y0NGU2Y2VmNzI4MmFhMzA2YjZmZTc4ZWRhMmQwNDYwMzEiLCJpYXQiOjE3MzY3MjIzNzguNDU1NzQzLCJuYmYiOjE3MzY3MjIzNzguNDU1NzQ0LCJleHAiOjQ4OTIzOTU5NzguNDUxNzI5LCJzdWIiOiI3ODg1NjciLCJzY29wZXMiOltdfQ.uXXvcjOAvEzBCuY_CUhMH9qqiPUN3VoDA2QHruFFmqXNv0xtUkYYpnVvu8iyOLKvCnA6iQ3jsnbqedaeQoa4kDjhgEq8NrzsbzXmuPs5o7tcSo7SOzSVJ7s7ilbVOZ3UsvNi5UYRsA-x-R6LVqMbVqe05GEPvjwk6YjspK6LTD-XGsTL8O2t2R8Fm8-H6OjlL-gsrtCvP2v8UmhkG8_DcwdaH_-Q6ohUROcCTHdc7a6IudS5RljVHV6ITCbzsmJQZbj7lSk3KJFUwN95ywNnEPWuPb_MDb3ziz627ghofcmK_HhizNiau5HsGeJM0hcfMY1kBubexuYh0wjvHhtliGFKHxrlZwGrgfSBWDrgZjBWpQ1blafHYmYKvs6uYSfiAuk4ILT-l8UTnM74k9dD1tOGkrh7ROkcFau4tH8iCJsDC5so_LzkBn2umXRDZpB5S_ArSxVmxqtQs9xODmhaHWan-Zd_-DKW7wKOjMIo3g5JOTADfDv1ET4-IEJVR8iKq25Quv2ZoJEmkDHwvqrFc2X0d35-Kj4CQ_KbOdorwCMHLBoGHZtFPvlofZwWStQ6-n6QugycrJ7PeLr3oJVg_mEgd88yJBFu2ep_wS_5bs0u3DWbbV_uj1TzxYHOCYmrEgdDcDup6b3Z9Hac6Ef-iOsotdVa0QDssxK8dze-QWY",
              "type": "string"
            },
            {
              "id": "20a634d5-3c81-4496-abc1-cba25e2ff74d",
              "name": "flujo_manychat",
              "value": "content20250124045214_190466",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        -220
      ],
      "id": "2f54ba7e-8801-4e3d-a901-d377ca3eac57",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26df189e-151f-4b06-a50d-da03a4551f46",
              "name": "url_sheet",
              "value": "https://docs.google.com/spreadsheets/d/1QSrLnfia_k5CIy0RS_kX1bQZ90IkQnBKJLsFNYEziUI/edit?gid=681975085#gid=681975085",
              "type": "string"
            },
            {
              "id": "2249f19a-4ab2-40d0-8f36-2e7385ac0c3c",
              "name": "collection",
              "value": "TD-L6-ORG",
              "type": "string"
            },
            {
              "id": "97c509b4-2218-4c7f-83e1-37d68e2cc944",
              "name": "apikey_manychat",
              "value": "288702267651723:f96a1f26344892df99c98292741de8c9",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        300
      ],
      "id": "4fe32e0e-d920-409e-9063-3889554a4acf",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "={{ $('Edit Fields10').first().json.collection }}",
        "updateKey": "_id",
        "fields": "tiempoencuesta,Edad,Nivel_de_estudios,Ocupación,Eliminar_dolor_para,Ingresos,puntaje",
        "options": {}
      },
      "id": "873b7d36-ec88-4f77-808a-c377e5b169ff",
      "name": "MongoDB3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        800,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a520e1b6-bb26-44a6-857f-770dac49655a",
              "leftValue": "={{ $json.puntaje }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        260
      ],
      "id": "c75d0952-6b9d-4640-9d9b-b4848cce14a0",
      "name": "If2",
      "disabled": true
    },
    {
      "parameters": {
        "collection": "={{ $('Edit Fields10').first().json.collection }}",
        "options": {},
        "query": "={\"_id\": \"{{ $('Merge1').item.json._id }}\"}"
      },
      "id": "81fa706e-c90a-4fff-adac-698c92302f11",
      "name": "MongoDB4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1300,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "vbsT0SoMA5A3acgH",
          "name": "BASE DE DATOS GERSSON"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto-js'); // Asegúrate de que la librería está disponible\n\nconst item = $input.first().json;\n\nfunction hashSHA256(value) {\n  return crypto.SHA256(value).toString(crypto.enc.Hex);\n}\n\nconst encryptedData = {\n  em: [hashSHA256(item.email)],  // Correo electrónico\n  ph: [hashSHA256(Number(item.whatsapp))],  // Número de teléfono\n  country: [hashSHA256(item.country)],  // País\n  zp: [hashSHA256(item.zip)], //zip\n  ct: [hashSHA256(item.city)], //ciudad\n  st: [hashSHA256(item.regionName)], //estado\n  // Datos no cifrados deben estar directamente accesibles\n  client_ip_address: item.query,\n  client_user_agent: item.userAgent,\n  fbc: item.fbc,\n  fbp: item.fbp,\n};\n\nconst facebookEvent = {\n  data: [\n    {\n      event_name: \"CompleteRegistration\",\n      event_time: Math.floor(Date.now() / 1000), // Tiempo actual en segundos\n      action_source: \"website\",\n      original_event_data: {\n        event_name: \"CompleteRegistration\",\n        event_time: Math.floor(Date.now() / 1000)\n      },\n      user_data: encryptedData,\n    }\n  ]\n};\n\nreturn facebookEvent;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        200
      ],
      "id": "977b652d-2b85-449d-9f81-495b2c3998e5",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -60,
        120
      ],
      "id": "7fe8bdf1-d7d1-454f-923d-b63f193191ab",
      "name": "Merge8"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -260,
        280
      ],
      "id": "0f0c9edc-c5da-4846-b335-d23e6f9d9928",
      "name": "Merge7"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1140,
        -260
      ],
      "id": "52f88d7a-866e-4e8d-b6b9-aef1d0360a47",
      "name": "Wait",
      "webhookId": "e02c8398-bf9f-4d9e-8ed9-c03f6921589d"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        480
      ],
      "id": "52ab6634-b616-431f-b4ac-3fb181ff083e",
      "name": "Wait1",
      "webhookId": "02783fbd-6233-4064-9c8a-bb1fdbebd75e"
    }
  ],
  "pinData": {
    "REGISTRO": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 14; CPH2363 Build/TP1A.220905.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/132.0.6834.97 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/497.0.0.47.36;IABMV/1;]",
            "content-length": "792",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-MX,es;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Android WebView\";v=\"132\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "187.172.233.205",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0f86eb816a4d",
            "x-real-ip": "187.172.233.205",
            "x-requested-with": "com.facebook.katana"
          },
          "params": {},
          "query": {},
          "body": {
            "tiemporegistro": 1737828407,
            "email": "hotel_roberto@hotmail.com",
            "whatsapp": "+526691586738",
            "utmCampaign": "[0125] [JC] [CAPTACION] [SIGNUP] [F] [ABO] [TEST]",
            "utmSource": "Facebook_Mobile_Feed",
            "utmMedium": "Negocios y finanzas",
            "utmContent": "ANUN4-HORIZONTAL-EL DOLOR DE TUS PACIENTES(cap 04.mp4).mp4",
            "utmTerm": "fb",
            "userAgent": "Mozilla/5.0 (Linux; Android 14; CPH2363 Build/TP1A.220905.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/132.0.6834.97 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/497.0.0.47.36;IABMV/1;]",
            "platform": "Linux aarch64",
            "language": "es-MX",
            "fbc": "fb.1.1737828371097.IwZXh0bgNhZW0BMABhZGlkAasarSJlexwBHdjEGXmtO4AQhrO6kPV3otmAydoL2GqfgpWsmJ0brbcH-f6Awe3m44X3Dw_aem_0KXEKPnY_XRZmkey8LT7jw",
            "fbp": "fb.1.1732299220566.8362989626617327",
            "isFbcGenerated": false
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/captura-td-2025-1",
          "executionMode": "production"
        }
      }
    ],
    "ENCUESTA": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36",
            "content-length": "397",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,pt;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://terapiasmagneticas.com",
            "priority": "u=1, i",
            "referer": "https://terapiasmagneticas.com/",
            "sec-ch-ua": "\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "186.98.250.151",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0f86eb816a4d",
            "x-real-ip": "186.98.250.151"
          },
          "params": {},
          "query": {},
          "body": {
            "answersJson": "{\n  \"Edad\": \"-35\",\n  \"Nivel_de_estudios\": \"Profesional\",\n  \"Ocupación\": \"Soy trabajador en un negocio no relacionado con la salud\",\n  \"Ingresos\": \"1001-1500\",\n  \"Eliminar_dolor_para\": \"Para tu familia o amigos\"\n}",
            "referrer": "https://terapiasmagneticas.com/reg-org-l6/",
            "email": "santiago@gmail.com",
            "whatsapp": "+573136298555",
            "tiempoencuesta": 1738687628
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/encuesta-p2-org",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-02-04T14:56:56.207Z",
      "createdAt": "2025-02-04T14:56:56.207Z",
      "role": "workflow:owner",
      "workflowId": "NojlgJGsd8GnJFOS",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-02-04T22:36:35.108Z",
      "createdAt": "2025-02-04T22:36:35.108Z",
      "id": "HjNWwvqlBnseDfSA",
      "name": "GERSSON"
    },
    {
      "updatedAt": "2025-02-20T05:53:21.020Z",
      "createdAt": "2025-02-20T05:53:21.020Z",
      "id": "yWwG6USL9X5m8h9q",
      "name": "SHEET"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-04-03T17:32:34.000Z",
  "versionId": "a829976c-43fa-4e21-8eff-aa172bbc2595"
}