backup/2025/02/NtbkpXUWY5RAQ1tW.json
{
  "active": true,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-11T00:40:37.142Z",
  "id": "NtbkpXUWY5RAQ1tW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[BACKEND-AUTOFINANZAS] CORREOS Y TG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": true,
          "labelIds": [
            "Label_5009391565458069770"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        -320
      ],
      "id": "473dfcf8-0cb3-44f0-8155-24b28d2eb69b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DOPWTzPin0EZKjQY",
          "name": "GMAIL SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a09502d-cbfd-437a-ae53-96089ceb6cc4",
              "name": "correo",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        -320
      ],
      "id": "ffc2b0b7-55a0-4bd9-be24-74320b63dd9a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el arreglo completo de labels\nconst labels = $('Gmail Trigger').first().json.labels;\nconst labelObj = labels.find(l => l && l.name && /transacciones/i.test(l.name));\nconst label = labelObj ? labelObj.name : '';\nconst email = $input.first().json.correo;\n\n// Expresiones regulares actualizadas y con alternativas\nconst bancoregex = /bancolombia/i;\nconst amountRegex = /\\$([\\d,.]+)/;\n// Para fecha: acepta dd/mm/yyyy o yyyy/mm/dd\nconst dateRegex = /((\\d{2}\\/\\d{2}\\/\\d{4})|(\\d{4}\\/\\d{2}\\/\\d{2}))/;\n// Para hora: acepta con o sin el prefijo \"a las\"\nconst timeRegex = /(?:a las\\s*)?(\\d{2}:\\d{2})/;\n// Para cuenta: permite que el asterisco sea opcional\nconst cuentaOrigenRegex = /desde .*?cuenta\\s*\\*?(\\d+)/;\nconst cuentaDestinoRegex = /a la cuenta\\s*\\*?(\\d+)/;\n// Se dejan los demás, aunque se podrían ajustar según el correo\nconst empresaRegex = /en ([A-Z0-9\\s]+)/;\nconst facturaRegex = /Factura Programada ([A-Za-z\\s]+) Ref/;\nconst bancoDestinoRegex = /a ([A-Z\\s]+) desde/;\n\n// Extraer valores\nconst amountMatch = email.match(amountRegex);\nconst dateMatch = email.match(dateRegex);\nconst timeMatch = email.match(timeRegex);\nconst cuentaOrigenMatch = email.match(cuentaOrigenRegex);\nconst cuentaDestinoMatch = email.match(cuentaDestinoRegex);\nconst empresaMatch = email.match(empresaRegex);\nconst facturaMatch = email.match(facturaRegex);\nconst bancoDestinoMatch = email.match(bancoDestinoRegex);\nconst bancoMatch = label.match(bancoregex);\n\n// Procesar valores\nconst amount = amountMatch ? parseFloat(amountMatch[1].replace(/,/g, \"\")) : null;\nconst dateExtracted = dateMatch ? dateMatch[1] : null;\nconst timeExtracted = timeMatch ? timeMatch[1] : \"00:00\";\n\n// Formatear la fecha detectando el orden\nlet transactionDate = null;\nif (dateExtracted) {\n  const dateParts = dateExtracted.split('/');\n  // Si el primer elemento tiene 4 dígitos, asumimos formato yyyy/mm/dd\n  if (dateParts[0].length === 4) {\n    transactionDate = `${dateParts.join('-')} ${timeExtracted}:00-05`;\n  } else {\n    transactionDate = `${dateParts.reverse().join('-')} ${timeExtracted}:00-05`;\n  }\n}\n\nconst cuentaOrigen = cuentaOrigenMatch ? cuentaOrigenMatch[1] : \"No encontrada\";\nconst cuentaDestino = cuentaDestinoMatch ? cuentaDestinoMatch[1] : \"No encontrada\";\nconst empresa = empresaMatch ? empresaMatch[1] : null;\nconst factura = facturaMatch ? facturaMatch[1] : null;\nconst bancoDestino = bancoDestinoMatch ? bancoDestinoMatch[1] : null;\nconst banco = bancoMatch ? \"Bancolombia\" : null;\n\n// Detectar tipo de transacción\nlet transactionType = \"otros\";\nlet description = email;\n\nif (email.includes(\"Transferiste\")) {\n  transactionType = \"transferencia\";\n  description = `Transferencia desde ${cuentaOrigen} a ${cuentaDestino}`;\n} else if (email.includes(\"Compraste\")) {\n  transactionType = \"compra con tarjeta\";\n  description = `Compra en ${empresa} con tarjeta ${cuentaOrigen}`;\n} else if (email.includes(\"Pagaste\")) {\n  transactionType = \"pago por pse\";\n  description = `Pago por PSE a ${bancoDestino} desde ${cuentaOrigen}`;\n} else if (email.includes(\"Factura Programada\")) {\n  transactionType = \"pago programado\";\n  description = `Pago programado de ${factura} desde ${cuentaOrigen}`;\n}\n\n// Devolver valores listos para base de datos\nreturn [{\n  values: {\n    amount,\n    description,\n    transaction_date: transactionDate,\n    transaction_type: transactionType,\n    type: \"gasto\",\n    banco\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        -320
      ],
      "id": "38c47266-a959-4bed-8c40-1e1c4f3441e7",
      "name": "Code"
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.values.amount }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.values.description }}"
            },
            {
              "fieldId": "transaction_date",
              "fieldValue": "={{ $json.values.transaction_date }}"
            },
            {
              "fieldId": "transaction_type",
              "fieldValue": "={{ $json.values.transaction_type }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.values.type }}"
            },
            {
              "fieldId": "notification_email",
              "fieldValue": "={{ $('Gmail Trigger').item.json.To }}"
            },
            {
              "fieldId": "banco",
              "fieldValue": "={{ $json.values.banco }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -60,
        -220
      ],
      "id": "7a6b257e-7184-4e16-9edb-5063633cd014",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "hekxcEm0GzZoyhoO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "552780004",
        "text": "=⚡ *NUEVO MOVIMIENTO DETECTADO EN: {{ $json.values.banco.toUpperCase() }}*\n\nSe acaba de registrar un nuevo movimiento con estos datos:\n\n*VALOR*: ${{ $json.values.amount.format() }}\n*DESCRIPCIÓN*: {{ $json.values.description }}\n*TIPO*: {{ $json.values.transaction_type }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "REPORTAR TRANSACCIÓN",
                    "additionalFields": {
                      "url": "https://auto-finanzas.automscc.com/"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -60,
        -420
      ],
      "id": "ed45b8da-f16b-4291-a114-8d943ab3d24d",
      "name": "Telegram",
      "webhookId": "709cc4b4-8ba5-428c-8b5d-0b00c99b23d5",
      "credentials": {
        "telegramApi": {
          "id": "D5fwEGb7XJShZzzS",
          "name": "BOT FINANZAS"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "195bc27ad8d9c1d7",
          "threadId": "195b9ea86904c20a",
          "snippet": "¡Listo! Todo salió bien con tus movimientos Bancolombia: Transferiste $45100.00 por QR desde tu cuenta 6138 a la cuenta 1961, el 2025/03/21 23:41. ¿Dudas? Llamanos al 018000931987. Estamos cerca. ¿",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 52000,
          "historyId": "6720811",
          "internalDate": "1742618471000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "STARRED",
              "name": "STARRED"
            },
            {
              "id": "Label_5009391565458069770",
              "name": "TRANSACCIONES BANCOLOMBIA"
            }
          ],
          "From": "Alertas y Notificaciones <alertasynotificaciones@notificacionesbancolombia.com>",
          "Subject": "Alertas y Notificaciones",
          "To": "santiagociiro12@gmail.com"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1742618471,
        "possibleDuplicates": [
          "195bc27ad8d9c1d7"
        ]
      }
    },
    "node:Gmail Trigger1": {
      "Gmail Trigger1": {
        "lastTimeChecked": 1742584038,
        "possibleDuplicates": [
          "195ba1a48dfe315f"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-22T05:17:07.000Z",
  "versionId": "6f587e21-430f-4dae-be50-1c8d19bc6750"
}