backup/2025/02/NtbkpXUWY5RAQ1tW.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-09T21:10:47.000Z",
    "createdAt": "2026-04-09T21:07:34.363Z",
    "versionId": "3a2d731a-f97c-49e2-9b11-5f5cd965b9ab",
    "workflowId": "NtbkpXUWY5RAQ1tW",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -1360,
          480
        ],
        "id": "9c85fa6f-1a0b-40dc-85d7-98055c5cf92f",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://auto-finanzas.automscc.com/api/transactions/from-notification",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ amount: $json.output?.amount ?? $json.amount, description: $json.output?.description ?? $json.description, transaction_date: $json.output?.transaction_date ?? $json.transaction_date, transaction_type: $json.output?.transaction_type ?? $json.transaction_type, type: $json.output?.type ?? $json.type, notification_email: $('Edit Fields').item.json.to_email || $('Edit Fields').item.json.To || $('Gmail Trigger1').item.json.To, banco: ($json.output?.banco ?? $json.banco) || 'bancolombia', notification_snippet: $('Edit Fields').item.json.correo || '', destination_account: $json.output?.destination_account ?? '' }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -144,
          480
        ],
        "id": "2cadc81e-1649-4db9-a967-e5925419bf02",
        "name": "API MongoDB"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "includeSpamTrash": true,
            "labelIds": [
              "Label_5009391565458069770"
            ]
          }
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.2,
        "position": [
          -1120,
          768
        ],
        "id": "cd241b1a-d1e9-4f6b-b2c8-6726f03e09a4",
        "name": "Gmail Trigger1",
        "credentials": {
          "gmailOAuth2": {
            "id": "DOPWTzPin0EZKjQY",
            "name": "GMAIL SANTIAGO"
          }
        }
      },
      {
        "parameters": {
          "chatId": "552780004",
          "text": "=⚡ *NUEVO MOVIMIENTO DETECTADO EN: {{ ($json.output?.banco ?? $json.banco ?? 'bancolombia').toString().toUpperCase() }}*\n\nSe acaba de registrar un nuevo movimiento con estos datos:\n\n*VALOR*: ${{ ($json.output?.amount ?? $json.amount).toLocaleString('es-CO') }}\n*DESCRIPCIÓN*: {{ $json.output?.description ?? $json.description }}\n*TIPO*: {{ $json.output?.transaction_type ?? $json.transaction_type }}\n*CUENTA DESTINO*: {{ $json.output?.destination_account || '—' }}\n*FECHA*: {{ ($json.output?.transaction_date ?? $json.transaction_date).toString() }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "REPORTAR TRANSACCIÓN",
                      "additionalFields": {
                        "url": "https://auto-finanzas.automscc.com/"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -144,
          640
        ],
        "id": "2f6afdf7-8060-4d9a-8e73-591847800026",
        "name": "Telegram1",
        "webhookId": "709cc4b4-8ba5-428c-8b5d-0b00c99b23d5",
        "credentials": {
          "telegramApi": {
            "id": "D5fwEGb7XJShZzzS",
            "name": "BOT FINANZAS"
          }
        }
      },
      {
        "parameters": {
          "text": "={{ $json.correo }}",
          "attributes": {
            "attributes": [
              {
                "name": "transaction_type",
                "description": "=sigue estas instrucciones:\n\n\"if (email.includes(\"Transferiste\")) {\n  transactionType = \"transferencia\";\n  description = `Transferencia desde ${cuentaOrigen} a ${cuentaDestino}`;\n} else if (email.includes(\"Compraste\")) {\n  transactionType = \"compra con tarjeta\";\n  description = `Compra en ${empresa} con tarjeta ${cuentaOrigen}`;\n} else if (email.includes(\"Pagaste\")) {\n  transactionType = \"pago por pse\";\n  description = `Pago por PSE a ${bancoDestino} desde ${cuentaOrigen}`;\n} else if (email.includes(\"Factura Programada\")) {\n  transactionType = \"pago programado\";\n  description = `Pago programado de ${factura} desde ${cuentaOrigen}`;\n}\"\n\npara determinar el tipo de transaccion",
                "required": true
              },
              {
                "name": "amount",
                "type": "number",
                "description": "el monto de la transaccion en formato plano, ejemplo: 15700",
                "required": true
              },
              {
                "name": "description",
                "description": "descripcion de la transacción quitando cualquier caracter especial como asteriscos o cualquier otro",
                "required": true
              },
              {
                "name": "transaction_date",
                "description": "=fecha en este formato: \"2025-03-22 13:25:00-05\"",
                "required": true
              },
              {
                "name": "type",
                "description": "especificar en \"gasto\"",
                "required": true
              },
              {
                "name": "banco",
                "description": "que banco reporta en minuscula",
                "required": true
              },
              {
                "name": "destination_account",
                "description": "Si el correo menciona destino del dinero: número de cuenta enmascarado o completo (ej *3009937799, 6138 como origen no cuenta). En transferencia saliente: cuenta a la que Transferiste. En PSE: referencia o identificador de destino si aparece. En compras o sin dato claro: cadena vacía.",
                "required": true
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1,
        "position": [
          -528,
          608
        ],
        "id": "34f717a1-b7e0-4e54-ae13-4b8b5272f573",
        "name": "Information Extractor1"
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": 300,
          "filters": {
            "labelIds": [
              "Label_5009391565458069770"
            ],
            "receivedAfter": "2026-02-02T00:00:00",
            "receivedBefore": "2026-02-25T00:00:00"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -1152,
          480
        ],
        "id": "c4bb8042-501a-483a-8e4c-118fc15f647a",
        "name": "Get many messages",
        "webhookId": "6e289746-da82-4bb0-8b33-998044177473",
        "credentials": {
          "gmailOAuth2": {
            "id": "DOPWTzPin0EZKjQY",
            "name": "GMAIL SANTIAGO"
          }
        }
      },
      {
        "parameters": {
          "model": "deepseek/deepseek-v3.2",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -544,
          784
        ],
        "id": "9b455df0-ffc0-4122-97cc-aa022ad3d35d",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "GFI3rVgz9b4bThML",
            "name": "OPENROUTER SANTIAGO"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -896,
          528
        ],
        "id": "473f6895-ff40-4d4b-9a13-44a46d24fa50",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8a09502d-cbfd-437a-ae53-96089ceb6cc4",
                "name": "correo",
                "value": "={{ $json.snippet }}",
                "type": "string"
              },
              {
                "id": "to-email-assign",
                "name": "to_email",
                "value": "={{ $json.To || $json.to || $json.payload?.headers?.find(h => h.name === 'To')?.value || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -752,
          608
        ],
        "id": "020cd095-5023-4e84-a32f-c90b017b8224",
        "name": "Edit Fields"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          96,
          576
        ],
        "id": "4e76429a-4459-4e5b-82de-6e63134732d2",
        "name": "Merge"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get many messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "API MongoDB": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Information Extractor1": {
        "main": [
          [
            {
              "node": "API MongoDB",
              "type": "main",
              "index": 0
            },
            {
              "node": "Telegram1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many messages": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Information Extractor1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Santiago ciro",
    "name": "Version 3a2d731a",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "3a2d731a-f97c-49e2-9b11-5f5cd965b9ab",
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API MongoDB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "API MongoDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-11T00:40:37.142Z",
  "id": "NtbkpXUWY5RAQ1tW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Transacciones Bancolombia (MongoDB) - Corregido",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        480
      ],
      "id": "9c85fa6f-1a0b-40dc-85d7-98055c5cf92f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://auto-finanzas.automscc.com/api/transactions/from-notification",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ amount: $json.output?.amount ?? $json.amount, description: $json.output?.description ?? $json.description, transaction_date: $json.output?.transaction_date ?? $json.transaction_date, transaction_type: $json.output?.transaction_type ?? $json.transaction_type, type: $json.output?.type ?? $json.type, notification_email: $('Edit Fields').item.json.to_email || $('Edit Fields').item.json.To || $('Gmail Trigger1').item.json.To, banco: ($json.output?.banco ?? $json.banco) || 'bancolombia', notification_snippet: $('Edit Fields').item.json.correo || '', destination_account: $json.output?.destination_account ?? '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        480
      ],
      "id": "2cadc81e-1649-4db9-a967-e5925419bf02",
      "name": "API MongoDB"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": true,
          "labelIds": [
            "Label_5009391565458069770"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        768
      ],
      "id": "cd241b1a-d1e9-4f6b-b2c8-6726f03e09a4",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "DOPWTzPin0EZKjQY",
          "name": "GMAIL SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "chatId": "552780004",
        "text": "=⚡ *NUEVO MOVIMIENTO DETECTADO EN: {{ ($json.output?.banco ?? $json.banco ?? 'bancolombia').toString().toUpperCase() }}*\n\nSe acaba de registrar un nuevo movimiento con estos datos:\n\n*VALOR*: ${{ ($json.output?.amount ?? $json.amount).toLocaleString('es-CO') }}\n*DESCRIPCIÓN*: {{ $json.output?.description ?? $json.description }}\n*TIPO*: {{ $json.output?.transaction_type ?? $json.transaction_type }}\n*CUENTA DESTINO*: {{ $json.output?.destination_account || '—' }}\n*FECHA*: {{ ($json.output?.transaction_date ?? $json.transaction_date).toString() }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "REPORTAR TRANSACCIÓN",
                    "additionalFields": {
                      "url": "https://auto-finanzas.automscc.com/"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -144,
        640
      ],
      "id": "2f6afdf7-8060-4d9a-8e73-591847800026",
      "name": "Telegram1",
      "webhookId": "709cc4b4-8ba5-428c-8b5d-0b00c99b23d5",
      "credentials": {
        "telegramApi": {
          "id": "D5fwEGb7XJShZzzS",
          "name": "BOT FINANZAS"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.correo }}",
        "attributes": {
          "attributes": [
            {
              "name": "transaction_type",
              "description": "=sigue estas instrucciones:\n\n\"if (email.includes(\"Transferiste\")) {\n  transactionType = \"transferencia\";\n  description = `Transferencia desde ${cuentaOrigen} a ${cuentaDestino}`;\n} else if (email.includes(\"Compraste\")) {\n  transactionType = \"compra con tarjeta\";\n  description = `Compra en ${empresa} con tarjeta ${cuentaOrigen}`;\n} else if (email.includes(\"Pagaste\")) {\n  transactionType = \"pago por pse\";\n  description = `Pago por PSE a ${bancoDestino} desde ${cuentaOrigen}`;\n} else if (email.includes(\"Factura Programada\")) {\n  transactionType = \"pago programado\";\n  description = `Pago programado de ${factura} desde ${cuentaOrigen}`;\n}\"\n\npara determinar el tipo de transaccion",
              "required": true
            },
            {
              "name": "amount",
              "type": "number",
              "description": "el monto de la transaccion en formato plano, ejemplo: 15700",
              "required": true
            },
            {
              "name": "description",
              "description": "descripcion de la transacción quitando cualquier caracter especial como asteriscos o cualquier otro",
              "required": true
            },
            {
              "name": "transaction_date",
              "description": "=fecha en este formato: \"2025-03-22 13:25:00-05\"",
              "required": true
            },
            {
              "name": "type",
              "description": "especificar en \"gasto\"",
              "required": true
            },
            {
              "name": "banco",
              "description": "que banco reporta en minuscula",
              "required": true
            },
            {
              "name": "destination_account",
              "description": "Si el correo menciona destino del dinero: número de cuenta enmascarado o completo (ej *3009937799, 6138 como origen no cuenta). En transferencia saliente: cuenta a la que Transferiste. En PSE: referencia o identificador de destino si aparece. En compras o sin dato claro: cadena vacía.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -528,
        608
      ],
      "id": "34f717a1-b7e0-4e54-ae13-4b8b5272f573",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 300,
        "filters": {
          "labelIds": [
            "Label_5009391565458069770"
          ],
          "receivedAfter": "2026-02-02T00:00:00",
          "receivedBefore": "2026-02-25T00:00:00"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1152,
        480
      ],
      "id": "c4bb8042-501a-483a-8e4c-118fc15f647a",
      "name": "Get many messages",
      "webhookId": "6e289746-da82-4bb0-8b33-998044177473",
      "credentials": {
        "gmailOAuth2": {
          "id": "DOPWTzPin0EZKjQY",
          "name": "GMAIL SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -544,
        784
      ],
      "id": "9b455df0-ffc0-4122-97cc-aa022ad3d35d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "GFI3rVgz9b4bThML",
          "name": "OPENROUTER SANTIAGO"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        528
      ],
      "id": "473f6895-ff40-4d4b-9a13-44a46d24fa50",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a09502d-cbfd-437a-ae53-96089ceb6cc4",
              "name": "correo",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "to-email-assign",
              "name": "to_email",
              "value": "={{ $json.To || $json.to || $json.payload?.headers?.find(h => h.name === 'To')?.value || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        608
      ],
      "id": "020cd095-5023-4e84-a32f-c90b017b8224",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        576
      ],
      "id": "4e76429a-4459-4e5b-82de-6e63134732d2",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2025-02-11T00:40:37.146Z",
      "createdAt": "2025-02-11T00:40:37.146Z",
      "role": "workflow:owner",
      "workflowId": "NtbkpXUWY5RAQ1tW",
      "projectId": "703bt8e3CRxfBTYZ"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1772557870,
        "possibleDuplicates": [
          "19cb4aea9ce0d901",
          "19cb2d35d870d842"
        ]
      }
    },
    "node:Gmail Trigger1": {
      "Gmail Trigger1": {
        "lastTimeChecked": 1776798298,
        "possibleDuplicates": [
          "19db16e78348aa42",
          "19db13667b93e7d3",
          "19db13667b324174"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-09T21:07:34.362Z",
  "versionId": "3a2d731a-f97c-49e2-9b11-5f5cd965b9ab"
}