backup/2025/02/QOnjKNOPnh0ESOkK.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "MySQL": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-11T22:32:57.156Z",
  "id": "QOnjKNOPnh0ESOkK",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "游릭 [ARZA] CAPTURA-U칌AS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "captura-u침as1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        -40
      ],
      "id": "d6fdc744-5bae-4992-8d4e-9d7afad0a5e6",
      "name": "Webhook",
      "webhookId": "5eefd8bb-687d-4e06-a2ab-244b6090dad1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1B-AZgzqX2eYe-8XZq5buwdZzq0GBz2FwX5xDRUIEFrA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1B-AZgzqX2eYe-8XZq5buwdZzq0GBz2FwX5xDRUIEFrA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "CORREO"
          ],
          "schema": [
            {
              "id": "FECHA REGISTRO",
              "displayName": "FECHA REGISTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAMPA칌A",
              "displayName": "CAMPA칌A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGMENTACION",
              "displayName": "SEGMENTACION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANUNCIO",
              "displayName": "ANUNCIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PLATAFORMA",
              "displayName": "PLATAFORMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        620,
        120
      ],
      "id": "4b94bda3-75f4-46f8-85bc-30cef79f8b38",
      "name": "Google Sheets",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zruD3ONGC9HU2i7s",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e017d9f-2e10-4096-b742-f29f90050d12",
              "name": "CORREO",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "404b1a16-7c5c-48d2-8e9a-d272cd85648c",
              "name": "CAMPA칌A",
              "value": "={{ $json.body.utmCampaign }}",
              "type": "string"
            },
            {
              "id": "a60bdde3-f659-4ed3-ab93-695b824c4095",
              "name": "PLATAFORMA",
              "value": "={{ $json.body.utmSource }}",
              "type": "string"
            },
            {
              "id": "efdf6533-c3b2-45d1-8f08-e84e5179b8f8",
              "name": "SEGMENTACION",
              "value": "={{ $json.body.utmMedium }}",
              "type": "string"
            },
            {
              "id": "0edbf33b-43a2-4ff4-83d4-e3d775649db6",
              "name": "ANUNCIO",
              "value": "={{ $json.body.utmContent }}",
              "type": "string"
            },
            {
              "id": "e6c54583-3fff-40ef-977f-b4a4d87a14f1",
              "name": "FECHA REGISTRO",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "ab406536-e2b9-4e10-85d3-b8ac95750231",
              "name": "HORA",
              "value": "={{ $now.format('HH:mm:ss:s') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        -100
      ],
      "id": "de9e2f4a-676c-47ea-8ad0-10c711d590c1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.pagina }}",
                    "rightValue": "PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PRINCIPAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "608d00e0-4bcc-4ac0-b01d-36122eb35c73",
                    "leftValue": "={{ $json.body.pagina }}",
                    "rightValue": "ORG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ORG"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        -40
      ],
      "id": "4a421d12-13a9-416a-8b59-fbef1f4b9c8d",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flodesk.com/v1/subscribers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $json.apikey.base64Encode() }}"
            },
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('Edit Fields').first().json.CORREO }}\",\n    \"segment_ids\": [\n       \"67ac51b5444e7ec7d3c0b539\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -280
      ],
      "id": "6b0ff7f5-fac3-44ef-946f-3edbb6488ad6",
      "name": "HTTP Request3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b792b00-e2cb-45c0-a46c-58fa474c5e45",
              "name": "apikey",
              "value": "fd_key_bed3808a2b6748a396f136e0d372f967.Q5pfUMnJ7PEyyqUTZQ39TLIQPrjzjR2AXOG0hWsHPbqmUP38Sd0WPpUkivr4WAgGEjFJYLpY7z8g3xjNfUJaDjkTNXj5SZ8GgRfR075zrPN2RIZ0vXwsagyhtjyLlUZ9zJ7nGqtuHrBCfyKL24LtUwMmcFC6Zr8YLC2M9UwImXKwpJ8SaNs5ktdXVMQcDYIk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -280
      ],
      "id": "feb9d42e-4e5e-4fcc-97d0-ee16ea241b5a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        860,
        160
      ],
      "id": "1c20e0f5-caee-48e6-b954-ae7487674b42",
      "name": "Wait",
      "webhookId": "b606e5ea-48cb-48b1-bae5-3fb5f9ef127b"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "ARZA_U칌AS",
          "mode": "list",
          "cachedResultName": "ARZA_U칌AS"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "fecha_registro",
              "value": "={{ $json[\"FECHA REGISTRO\"] }}"
            },
            {
              "column": "hora",
              "value": "={{ $json.HORA }}"
            },
            {
              "column": "campa침a",
              "value": "={{ $json[\"CAMPA칌A\"] }}"
            },
            {
              "column": "segmentacion",
              "value": "={{ $json.SEGMENTACION }}"
            },
            {
              "column": "anuncio",
              "value": "={{ $json.ANUNCIO }}"
            },
            {
              "column": "plataforma",
              "value": "={{ $json.PLATAFORMA }}"
            },
            {
              "column": "fuente",
              "value": "={{ $('Switch').item.json.body.pagina }}"
            },
            {
              "column": "correo",
              "value": "={{ $json.CORREO }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1180,
        -80
      ],
      "id": "100af81b-6ba8-4554-ad27-403059ba30c1",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "ARZA_U칌AS",
          "mode": "list",
          "cachedResultName": "ARZA_U칌AS"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "correo",
              "condition": "LIKE",
              "value": "={{ $json.CORREO }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        620,
        -20
      ],
      "id": "74752d21-1aac-4cfa-bda3-6d3083ddd22e",
      "name": "MySQL1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "n8fCALXWnGdmJkBN",
          "name": "CAPTACIONES"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f3e8099-ae55-4534-a5be-217d413c0ff2",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -20
      ],
      "id": "8ac1915a-2848-4c0c-87e0-38804be3eb84",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1000,
        -80
      ],
      "id": "03b9265a-38c3-4596-8581-50ec6709165a",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.automscc.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 9; STK-LX3 Build/HUAWEISTK-LX3; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/133.0.6943.81 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/500.0.0.57.50;IABMV/1;]",
            "content-length": "433",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-CO,es;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://www.academymanicuristagolden.com",
            "priority": "u=1, i",
            "referer": "https://www.academymanicuristagolden.com/reg-l1?ref=J88521581I&utm_source=Facebook_Mobile_Reels&utm_medium=Manicure+%26+Pedicure+%2B+Gelish+%2B+Nails+Art+%2B+decoraci%C3%B3n+de+u%C3%B1as&utm_content=ANUN5-L1-CAPTACION-VERTICAL-PERFECCIONAR-APLICO+ACRILICO+Y+NUNCA+ME+QUEDA+PAREJO.mp4&utm_term=fb&utm_campaign=GG+%7C+0225+%7C+CAPTACION+%7C+F+%7C+COMPLETAR+REGISTRO+%7C+COL+%7C+MEX+%7C+CHL+%7C+TEST+PUBLICOS+%2B+CREATIVOS+-+Copia&fbclid=IwZXh0bgNhZW0BMABhZGlkAasXCM60w4EBHS9qruuC7s4dpeIGkRGDgyuelVY37yog_O-6gVpVmShuLWRgXYch4ivaEA_aem_6RJN60KRHcpx-yGyxgguBw",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"99\", \"Android WebView\";v=\"133\", \"Chromium\";v=\"133\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "181.55.23.250",
            "x-forwarded-host": "n8n.automscc.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3051a3bb6625",
            "x-real-ip": "181.55.23.250",
            "x-requested-with": "com.facebook.katana"
          },
          "params": {},
          "query": {},
          "body": {
            "tiemporegistro": 1739928818,
            "email": "myriamgalanmunoz@gmail.com",
            "utmCampaign": "GG | 0225 | CAPTACION | F | COMPLETAR REGISTRO | COL | MEX | CHL | TEST PUBLICOS + CREATIVOS - Copia",
            "utmSource": "Facebook_Mobile_Reels",
            "utmMedium": "Manicure & Pedicure + Gelish + Nails Art + decoraci칩n de u침as",
            "utmContent": "ANUN5-L1-CAPTACION-VERTICAL-PERFECCIONAR-APLICO ACRILICO Y NUNCA ME QUEDA PAREJO.mp4",
            "utmTerm": "fb",
            "pagina": "PRINCIPAL"
          },
          "webhookUrl": "https://n8n.automscc.com/webhook/captura-u침as1",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "Santiagociroc11",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-19T01:37:18.000Z",
  "versionId": "ce806b66-a603-465d-903c-1da605ed9946"
}